Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(gui): bundle frontend assets in wheel and add pre-publish verification
  .github/workflows/publish-gui.yml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  gui/MANIFEST.in
  gui/pyproject.toml
  scripts/test-pypi-wheel.sh
Due: none

fix(gui): bundle frontend assets in wheel and add pre-publish verification (#124)
  .github/workflows/publish-gui.yml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  gui/MANIFEST.in
  gui/pyproject.toml
  scripts/test-pypi-wheel.sh
Due: none

fix(gui): untrack built dist files and suppress local version suffix
  gui/frontend/dist/assets/index-C41dzTWj.js
  gui/frontend/dist/assets/index-DNc5NTHP.css
  gui/frontend/dist/favicon.svg
  gui/frontend/dist/icons.svg
  gui/frontend/dist/index.html
  gui/pyproject.toml
Due: none

fix(gui): untrack built dist files and suppress local version suffix (#125)
  gui/frontend/dist/assets/index-C41dzTWj.js
  gui/frontend/dist/assets/index-DNc5NTHP.css
  gui/frontend/dist/favicon.svg
  gui/frontend/dist/icons.svg
  gui/frontend/dist/index.html
  gui/pyproject.toml
Due: none

ci(gui): trigger publish directly on tag push, drop workflow_run dependency
  .github/workflows/publish-gui.yml
Due: none

ci(gui): trigger publish directly on tag push, drop workflow_run dependency (#126)
  .github/workflows/publish-gui.yml
Due: none

test(gui): add pandas 3.0 compatibility tests for CSV export pipeline
  CHANGELOG.md
  python/tests/test_gui_export_dataframe.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(gui): add pandas 3.0 compatibility tests for CSV export pipeline
  CHANGELOG.md
  python/tests/test_gui_export_dataframe.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(gui): add pandas 3.0 compatibility tests for CSV export pipeline (#128)
  CHANGELOG.md
  python/tests/test_gui_export_dataframe.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(deps): bump pytest 8.4.2→9.0.3 and pandas 2.3.3→3.0.2
  uv.lock
Due: none

chore(deps): bump pytest 8.4.2→9.0.3 and pandas 2.3.3→3.0.2 (#129)
  uv.lock
Due: none

docs: harmonize uv install, audit and archive stale docs, fill CHANGELOG gaps
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/BUILDING.md
  docs/DEVELOPMENT.md
  docs/archive/METHODS_REFERENCE.md
  docs/archive/NETWORK_ROADMAP.md
  docs/archive/PACKAGING.md
  docs/archive/REVIEW_NETWORK_GUI.md
  python/README.md
  python/tests/README.md
  scripts/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: harmonize uv install, audit and archive stale docs, fill CHANGELOG gaps (#130)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/BUILDING.md
  docs/DEVELOPMENT.md
  docs/archive/METHODS_REFERENCE.md
  docs/archive/NETWORK_ROADMAP.md
  docs/archive/PACKAGING.md
  docs/archive/REVIEW_NETWORK_GUI.md
  python/README.md
  python/tests/README.md
  scripts/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(thermo): support multiple YAML sources in extract_species_data and update docs
  thermo_data_generator/README.md
  thermo_data_generator/extract_species_data.py
Due: python-style-check, thermo-header-check

feat(thermo): support multiple YAML sources in extract_species_data and update docs (#131)
  thermo_data_generator/README.md
  thermo_data_generator/extract_species_data.py
Due: python-style-check, thermo-header-check

chore: add .claude to .gitignore
  .gitignore
Due: none

chore: add .claude to .gitignore (#132)
  .gitignore
Due: none

fix(changelog): remove duplicate NH3 Added entry
  CHANGELOG.md
Due: none

feat: integrate Ammonia (NH3) into thermodynamic database
  cantera_validation_tests/conftest.py
  cantera_validation_tests/test_combustion_validation.py
  cantera_validation_tests/test_equilibrium_validation.py
  cantera_validation_tests/test_mixing_validation.py
  cantera_validation_tests/test_state_setters.py
  cantera_validation_tests/test_transport_validation.py
  docs/UNITS.md
  include/common_names.h
  include/thermo_transport_data.h
  python/tests/test_combustion_elements.py
  python/tests/test_combustion_lhv.py
  python/tests/test_combustor_network.py
  python/tests/test_complete_state.py
  python/tests/test_network_blocks.py
  python/tests/test_network_scenarios.py
  python/tests/test_network_serialization.py
  python/tests/test_network_solver.py
  python/tests/test_solver_chain_rule.py
  python/tests/test_solver_interface.py
  python/tests/test_solver_topology.py
  python/tests/test_thermo_state.py
  python/tests/test_transport_state.py
  tests/test_state.cpp
  tests/test_thermo_transport.cpp
  thermo_data_generator/.generator_state.json
  thermo_data_generator/extract_species_data.py
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

fix(tests): replace exact float equality with tolerance check for dq_dT_hot
  python/tests/test_channel_jacobians.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: integrate Ammonia (NH3) and finalize thermodynamic database (#134)
  CHANGELOG.md
  cantera_validation_tests/conftest.py
  cantera_validation_tests/test_combustion_validation.py
  cantera_validation_tests/test_equilibrium_validation.py
  cantera_validation_tests/test_mixing_validation.py
  cantera_validation_tests/test_state_setters.py
  cantera_validation_tests/test_transport_validation.py
  docs/UNITS.md
  include/common_names.h
  include/thermo_transport_data.h
  python/tests/test_channel_jacobians.py
  python/tests/test_combustion_elements.py
  python/tests/test_combustion_lhv.py
  python/tests/test_combustor_network.py
  python/tests/test_complete_state.py
  python/tests/test_network_blocks.py
  python/tests/test_network_scenarios.py
  python/tests/test_network_serialization.py
  python/tests/test_network_solver.py
  python/tests/test_solver_chain_rule.py
  python/tests/test_solver_interface.py
  python/tests/test_solver_topology.py
  python/tests/test_thermo_state.py
  python/tests/test_transport_state.py
  tests/test_state.cpp
  tests/test_thermo_transport.cpp
  thermo_data_generator/.generator_state.json
  thermo_data_generator/extract_species_data.py
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

refactor(tests): replace hardcoded species lists with dynamic _core API
  cantera_validation_tests/test_combustion_validation.py
  cantera_validation_tests/test_equilibrium_validation.py
  cantera_validation_tests/test_mixing_validation.py
  cantera_validation_tests/test_state_setters.py
  cantera_validation_tests/test_transport_validation.py
  python/tests/test_thermo_state.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(thermo-generator): rewrite README to reflect dynamic species integration
  thermo_data_generator/README.md
Due: python-style-check, thermo-header-check

docs(changelog): record cantera test fixes and float tolerance fix
  CHANGELOG.md
Due: none

fix: dynamic species lists in tests and cantera validation bug fixes (#135)
  CHANGELOG.md
  cantera_validation_tests/test_combustion_validation.py
  cantera_validation_tests/test_equilibrium_validation.py
  cantera_validation_tests/test_mixing_validation.py
  cantera_validation_tests/test_state_setters.py
  cantera_validation_tests/test_transport_validation.py
  python/tests/test_thermo_state.py
  thermo_data_generator/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check

feat(transport): polar molecule support via Monchick-Mason Omega*(2,2) table
  CHANGELOG.md
  cantera_validation_tests/test_transport_validation.py
  include/thermo_transport_data.h
  include/transport.h
  src/transport.cpp
  thermo_data_generator/generate_thermo_data.py
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

docs: document polar transport model in API_CPP.md and generator README
  docs/API_CPP.md
  scripts/check-thermo-header.sh
  thermo_data_generator/README.md
Due: python-style-check, thermo-header-check

feat(transport): polar molecule support via Monchick-Mason Omega*(2,2) table (#136)
  CHANGELOG.md
  cantera_validation_tests/test_transport_validation.py
  docs/API_CPP.md
  include/thermo_transport_data.h
  include/transport.h
  scripts/check-thermo-header.sh
  src/transport.cpp
  thermo_data_generator/README.md
  thermo_data_generator/generate_thermo_data.py
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

feat(gui): data-driven thermal wall arrow and hot/cold probe labels
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
Due: none

docs: add CHANGELOG entry for thermal wall bidirectional display
  CHANGELOG.md
Due: none

feat(gui): dynamic probe hot/cold tracking and layer topology bar
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
Due: none

feat(gui): data-driven thermal wall arrow and hot/cold probe labels (#137)
  CHANGELOG.md
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
Due: none

feat(network): TeeJunctionElement -- solvable 3-port tee in NetworkSolver
  CHANGELOG.md
  docs/API_PYTHON.md
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/combaero/network/solver.py
  python/tests/test_network_scenarios.py
  python/tests/test_network_validation.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(tee): Bassett 2001 tee junction model -- K coefficients, solver, tests
  .gitignore
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/solver_interface.h
  include/tee_junction.h
  include/units_data.h
  python/combaero/_core.cpp
  python/tests/test_tee_junction.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
  tests/test_tee_junction.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(tee): polish, robustness, and UI consistency for TeeJunctionElement
  CHANGELOG.md
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/backend/schemas.py
  gui/backend/units.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/SolverStatusBadge.tsx
  gui/frontend/src/components/nodes/AreaChangeNode.tsx
  gui/frontend/src/components/nodes/ChannelNode.tsx
  gui/frontend/src/components/nodes/CombustorNode.tsx
  gui/frontend/src/components/nodes/DiscreteLossNode.tsx
  gui/frontend/src/components/nodes/LosslessNode.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  gui/frontend/src/components/nodes/ProbeNode.tsx
  gui/frontend/src/components/nodes/TeeJunctionNode.tsx
  gui/frontend/src/utils/diagnostics.ts
  gui/frontend/src/utils/quantities.ts
  gui/frontend/src/utils/validation.ts
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/combaero/network/solver.py
  python/tests/test_tee_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): TeeJunctionElement GUI -- 3-port node, inspector, palette, and result telemetry
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/backend/schemas.py
  gui/backend/units.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/components/nodes/TeeJunctionNode.tsx
  gui/frontend/src/utils/quantities.ts
Due: none

fix(style): ruff format gui/backend/graph_builder.py
  gui/backend/graph_builder.py
Due: none

test(network): add TeeJunctionElement network-level tests
  python/tests/test_tee_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): expose K_straight, K_branch, correlation_extrapolated in TeeJunctionElement.diagnostics()
  CHANGELOG.md
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
