Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test(ci): set literal ruleset context names for gatekeeper jobs
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

docs(ci): document literal gatekeeper names for ruleset matching
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

fix(ci): align gatekeeper check names with required ruleset contexts
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

fix(ci): align gatekeeper check names with required ruleset contexts (#33)
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

fix(ci): speed up Windows compilation in build-and-test
  .github/workflows/ci.yml
Due: none

fix(ci): speed up Windows compilation in build-and-test (#34)
  .github/workflows/ci.yml
Due: none

feat: implement robust solver timeout and verify across all methods
  docs/API_REFERENCE.md
  python/combaero/network/__init__.py
  python/combaero/network/solver.py
  python/tests/test_solver_methods_stress.py
  python/tests/test_solver_timeout.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implement robust solver timeout and verify across all methods (#35)
  docs/API_REFERENCE.md
  python/combaero/network/__init__.py
  python/combaero/network/solver.py
  python/tests/test_solver_methods_stress.py
  python/tests/test_solver_timeout.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: update legacy tests for sparse Jacobian API
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_network_blocks.py
  python/tests/test_network_jacobian.py
  python/tests/test_solver_methods_stress.py
  python/tests/test_solver_timeout.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: update legacy tests for sparse Jacobian API (#36)
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_network_blocks.py
  python/tests/test_network_jacobian.py
  python/tests/test_solver_methods_stress.py
  python/tests/test_solver_timeout.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implement CorrelationResult to prevent solver exceptions on bounds violations
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_network_solver.py
  python/tests/test_solver_interface.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implement CorrelationResult to prevent solver exceptions on bounds violations (#37)
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_network_solver.py
  python/tests/test_solver_interface.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): implement function registry and declarative serialization
  CMakeLists.txt
  include/registry.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/graph.py
  python/tests/test_network_serialization.py
  src/registry.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): implement function registry and declarative serialization (#38)
  CMakeLists.txt
  include/registry.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/graph.py
  python/tests/test_network_serialization.py
  src/registry.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): use combaero default air composition in solver
  include/registry.h
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): use combaero default air composition in solver (#39)
  include/registry.h
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(tests): add missing Jacobian gradient coverage
  python/tests/test_solver_interface.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(tests): add missing Jacobian gradient coverage (#40)
  python/tests/test_solver_interface.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: refactor solver to use mass fractions and analytical Jacobians
  CMakeLists.txt
  cantera_validation_tests/pyproject.toml
  docs/COMBUSTION_ELEMENTS.md
  docs/NETWORK_ROADMAP.md
  docs/SOLVER.md
  examples/combustor_network_example.py
  include/solver_interface.h
  pyproject.toml
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/combustion/__init__.py
  python/combaero/network/combustion/combustion.py
  python/combaero/network/combustion/combustion_result.py
  python/combaero/network/combustion/stoichiometry.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_area_discharge_coefficient_connection.py
  python/tests/test_chamber_mixing.py
  python/tests/test_combustion_elements.py
  python/tests/test_combustion_jacobians.py
  python/tests/test_combustion_state.py
  python/tests/test_combustor_network.py
  python/tests/test_effective_area_connection.py
  python/tests/test_htc_pipe_composite.py
  python/tests/test_network_blocks.py
  python/tests/test_network_scenarios.py
  python/tests/test_network_serialization.py
  python/tests/test_network_solver.py
  python/tests/test_pressure_drop_pipe.py
  src/combustion.cpp
  src/equilibrium.cpp
  src/solver_interface.cpp
  test_profile.py
  thermo_data_generator/pyproject.toml
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check

fix(style): strictly enforce ASCII in combustion docstrings
  python/combaero/network/combustion/combustion.py
  python/combaero/network/combustion/combustion_result.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(combustion): revert softmin for fuel_burn_fraction to pass ctest
  src/combustion.cpp
Due: cantera-validation-tests, python-unit-tests

docs: refactor API reference into language-specific files and update units metadata; fix: smoothing kink at Phi=0 and update examples
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/API_REFERENCE.md
  docs/UNITS.md
  examples/combustor_network_example.py
  include/combustion.h
  include/equilibrium.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/examples/combustor_heat_transfer.py
  python/examples/counterflow_effusion_combustor.py
  python/examples/gas_turbine_cycle.py
  python/examples/ic_engine_cycle.py
  python/tests/test_units_sync.py
  src/combustion.cpp
  src/equilibrium.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

Refactor: extract composition utilities and standardize State sync
  CMakeLists.txt
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/composition.h
  include/state.h
  include/thermo.h
  include/units_data.h
  python/combaero/_core.cpp
  src/combustion.cpp
  src/composition.cpp
  src/equilibrium.cpp
  src/humidair.cpp
  src/solver_interface.cpp
  src/stagnation.cpp
  src/state.cpp
  src/thermo.cpp
  src/transport.cpp
  src/utils.cpp
  tests/CMakeLists.txt
  tests/test_fraction_functions.cpp
  tests/test_state_sync.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): implement Pure Pressure-Flow solver with derived-state relay
  debug_combustor.py
  docs/API_PYTHON.md
  docs/SOLVER_REVIEW.md
  docs/SOLVER_REVIEW_FOLLOW_UP.md
  include/solver_interface.h
  include/state.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_chamber_mixing.py
  python/tests/test_combustor_network.py
  python/tests/test_jacobian_migration.py
  python/tests/test_units_sync.py
  tests/CMakeLists.txt
  tests/test_solver_jacobians.cpp
  tests/test_stream_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): implement physics regularization for orifice/pipe and remove legacy kernels
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): final robustness cleanup, d_P_total propagation, and verification tests
  debug_combustor.py
  docs/SOLVER_REVIEW_FOLLOW_UP.md
  examples/combustor_network_example.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_chamber_mixing.py
  python/tests/test_combustor_network.py
  python/tests/test_network_solver.py
  python/tests/test_solver_robustness.py
  scripts/generate_units_md.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

Add velocity-of-approach factor E=1/√(1-β⁴) to orifice mass flow
  docs/SOLVER_REVIEW_FOLLOW_UP.md
  include/orifice.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_network_scenarios.py
  python/tests/test_orifice_cd.py
  src/orifice.cpp
  src/solver_interface.cpp
  src/thermo.cpp
  tests/test_solver_jacobians.cpp
  tests/test_stream_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

Fix orifice beta handling and restore pre-commit stability
  python/combaero/network/components.py
  python/tests/test_network_scenarios.py
  python/tests/test_orifice_cd.py
  src/solver_interface.cpp
  src/thermo.cpp
  tests/test_stream_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): align mixer jacobian with normalization and update orifice test expectations
  src/solver_interface.cpp
  tests/test_orifice.cpp
Due: cantera-validation-tests, python-unit-tests

docs/refactor: update follow-up review status and finalize solver interface improvements
  docs/SOLVER_REVIEW_FOLLOW_UP.md
  src/solver_interface.cpp
Due: cantera-validation-tests, python-unit-tests

feat: implement high-fidelity solver verification suite and robust Jacobian logic
  python/tests/test_solver_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implement medium-priority solver verification tests
  python/tests/test_solver_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: CI build errors (missing cmath, multiline comment, enum uint8_t)
  include/state.h
  include/thermo_transport_data.h
  src/equilibrium.cpp
  thermo_data_generator/generate_thermo_data.py
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

fix: accuracy test paths and fPIC for Linux .so
  .github/workflows/ci.yml
  CMakeLists.txt
Due: none

feat: add energy boundary (delta_h) to mixer, combustion, and network nodes
  CMakeLists.txt
  include/solver_interface.h
  include/state.h
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_energy_boundary.py
  src/solver_interface.cpp
  src/state.cpp
  tests/test_energy_boundary.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: Move energy boundary to Q and fraction parameters with full Jacobian support
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  src/solver_interface.cpp
  tests/test_energy_boundary.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: Replace non-ASCII characters and fix macOS pre-commit portability
  .pre-commit-config.yaml
  .pre-commit-hooks/check_math_constants.py
  .windsurf/workflows/commit-and-push.md
  COMMIT_MSG.md
  python/combaero/__init__.py
  python/combaero/heat_transfer.py
  python/combaero/network/combustion/combustion_result.py
  python/combaero/network/combustion/stoichiometry.py
  python/combaero/network/components.py
  scripts/check-python-style.sh
Due: python-style-check, cantera-validation-tests, python-unit-tests

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
