Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(gui): add momentum thermal walls and multiplier controls
  commit_msg.txt
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  python/combaero/network/solver.py
  python/tests/test_gui_graph_builder.py
  python/tests/test_gui_schemas.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): overhaul telemetry display and add area unit support (m²/mm²)
  gui/frontend/src/App.tsx
  gui/frontend/src/components/AreaInput.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/ProbeNode.tsx
  gui/frontend/src/store/useStore.ts
  gui/frontend/src/utils/quantities.ts
Due: none

feat(gui): integrate surface enhancements and verify analytical Jacobians
  COMMIT_MSG.md
  docs/REVIEW_NETWORK_GUI_INTEGRATION.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
  python/combaero/network/components.py
  src/heat_transfer.cpp
  tests/test_heat_transfer_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): rename 'Pipe' to 'Channel' and fix surface enhancement models
  COMMIT_MSG.md
  docs/REVIEW_NETWORK_GUI_INTEGRATION.md
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/App.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
  gui/frontend/src/components/nodes/PipeNode.tsx
  include/solver_interface.h
  python/combaero/network/components.py
  python/tests/test_gui_graph_builder.py
  python/tests/test_gui_schemas.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: stabilize compressible network solver and unify nomenclature
  COMMIT_MSG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  gui/backend/graph_builder.py
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/nodes/ChannelNode.tsx
  include/compressible.h
  include/friction.h
  include/geometry.h
  include/heat_transfer.h
  include/incompressible.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/examples/combustor_liner_cooling_network.py
  python/examples/friction_and_pressure_drop_channel.py
  python/examples/heat_transfer_channel_flow.py
  python/scripts/verify_phase2_aliases.py
  python/tests/test_channel_element_htc.py
  python/tests/test_channel_roughness.py
  python/tests/test_htc_channel_composite.py
  python/tests/test_pressure_drop_channel.py
  python/tests/test_units_sync.py
  src/compressible.cpp
  src/friction.cpp
  src/geometry.cpp
  src/heat_transfer.cpp
  src/incompressible.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: modernize channel API names and implement robust numerical clamping for stability
  COMMIT_MSG.md
  docs/UNITS.md
  examples/compressible_example.cpp
  examples/incompressible_example.cpp
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/utils/quantities.ts
  include/heat_transfer.h
  include/incompressible.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  src/compressible.cpp
  src/cooling_correlations.cpp
  src/heat_transfer.cpp
  src/solver_interface.cpp
  src/stagnation.cpp
  src/thermo.cpp
  src/transport.cpp
  tests/test_solver_jacobians.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: allow orifice validation in frontend with diameter fallback
  gui/frontend/src/App.tsx
Due: none

fix: numerical robustness clamping for orifice and nozzle flow correlations
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  src/compressible.cpp
  src/orifice.cpp
  tests/test_orifice.cpp
  tests/test_thermo_transport.cpp
Due: cantera-validation-tests, python-unit-tests

feat: redesign orifice element and harden solver logic
  COMMIT_MSG.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/AreaInput.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/LengthInput.tsx
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_combustor_network.py
  python/tests/test_diameter_discharge_coefficient_connection.py
  python/tests/test_effective_area_connection.py
  python/tests/test_energy_boundary.py
  python/tests/test_momentum_chamber.py
  python/tests/test_network_blocks.py
  python/tests/test_network_compressible.py
  python/tests/test_network_flow_reversal.py
  python/tests/test_network_jacobian.py
  python/tests/test_network_scenarios.py
  python/tests/test_network_solver.py
  python/tests/test_network_validation.py
  python/tests/test_network_validation_edge_cases.py
  python/tests/test_solver_chain_rule.py
  python/tests/test_solver_methods_stress.py
  python/tests/test_solver_robustness.py
  python/tests/test_solver_timeout.py
  python/tests/test_solver_topology.py
  python/tests/test_wall_coupling_integration.py
  ruff.toml
  scratch/apply_binding_fix.py
  scratch/test_import.py
  scratch/verify_orifice_bindings.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: clamp manual Cd inputs to prevent matrix ill-conditioning (Mach 0)
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: expose velocity 'v' in orifice diagnostics telemetry
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: decouple physical Orifice velocity from aerodynamic throat Mach in telemetry
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: clamp Orifice Cd strictly <= 1.0 to preserve vena contracta physical constraints
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): wire impingement and smooth reverse flow support through PyBind and network components
  COMMIT_MSG.md
  include/compressible.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  src/compressible.cpp
  src/cooling_correlations.cpp
  src/heat_transfer.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): dynamically scale network solver Fanno friction from structured advanced surface physics arrays
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): handle ConvectiveSurface t_wall mapping scope correctly in base channel element solver logic
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): memoize nodeTypes and edgeTypes to resolve React Flow Dev Server HMR warning
  gui/frontend/src/components/NetworkCanvas.tsx
Due: none

fix(gui): decouple ReactFlow node dictionary to bypass Vite HMR scope dropping
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/flowTypes.ts
Due: none

chore(gui): rename page title to CombAero for better browser tab visibility
  gui/frontend/index.html
Due: none

feat(gui): display multi-layer thermal wall profile temperatures on thermal edge graphic
  gui/frontend/src/components/ThermalEdge.tsx
Due: none

chore(gui): update thermal wall temp labels in inspector for clarity
  gui/frontend/src/components/Inspector.tsx
Due: none

feat(gui): implement depth-based temperature probe for multi-layer thermal walls
  gui/frontend/src/components/Inspector.tsx
Due: none

feat(gui): auto-clamp probe depth to thermal wall thickness and add unit selector
  gui/frontend/src/components/Inspector.tsx
Due: none

feat(gui): show clamped probe temperature on canvas edge label box mapped to user units
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
Due: none

refactor(gui): remove raw thermal profile values and default probe to hot side; fix lint
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
Due: none

feat(gui): add wall and total heat transfer coefficient diagnostics to inspector
  gui/frontend/src/components/Inspector.tsx
Due: none

feat: integrate thermal material database for wall k(T) scaling
  design_questions.txt
  docs/UNITS.md
  gui/backend/main.py
  gui/frontend/src/api.ts
  gui/frontend/src/components/WallLayersEditor.tsx
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/examples/material_wall_verification.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

style: remove unused import and refine ThermalEdge + connection visuals
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
  gui/frontend/src/store/useStore.ts
Due: none

fix: updated label placeholder text
  gui/frontend/src/components/Inspector.tsx
Due: none

feat: expose thermodynamic solvers and derivatives via pybind
  docs/REVIEW_NETWORK_GUI_INTEGRATION.md
  python/combaero/__init__.py
  python/combaero/_core.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: mark Phase 6 items 17-19 as completed
  docs/REVIEW_NETWORK_GUI_INTEGRATION.md
Due: none

feat: add thermal wall connections to CombustorNode + fix has_convective_surface
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/nodes/CombustorNode.tsx
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: combustor pressure-loss correlations (ConstantLoss, LinearThetaLoss)
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/pressure_loss.py
  python/tests/test_pressure_loss.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: rename pressure-loss types (fraction family, xi params) + back-compat aliases
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/pressure_loss.py
  python/tests/test_pressure_loss.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add mdot_total to PressureLossContext + ConstantHeadLoss/LinearThetaHeadLoss classes
  include/combustion.h
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/pressure_loss.py
  python/tests/test_pressure_loss.py
  src/combustion.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add head-loss correlation types to GUI pressure loss dropdown
  COMMIT_MSG.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
Due: none

fix: actually apply combustor pressure loss in network solver
  COMMIT_MSG.md
  python/combaero/network/components.py
  python/tests/test_combustor_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: improved filename input validation
  gui/frontend/src/components/Sidebar.tsx
Due: none

feat(gui): implement native "Save As" dialog and improve thermal label styling
  gui/frontend/src/components/ThermalEdge.tsx
  gui/frontend/src/store/useStore.ts
Due: none

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
