Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(tests): ignore lossless_pressure_and_jacobian for units sync
  python/combaero/__init__.py
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_network_blocks.py
  python/tests/test_network_solver.py
  python/tests/test_units_sync.py
  test_profile.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(msvc): add missing stdexcept header
  src/incompressible.cpp
Due: cantera-validation-tests, python-unit-tests

build: add scipy to project dependencies
  pyproject.toml
Due: none

test/multi branch chamber (#17)
  docs/NETWORK_ROADMAP.md
  include/incompressible.h
  include/solver_interface.h
  pyproject.toml
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/combaero/network/solver.py
  python/tests/test_network_blocks.py
  python/tests/test_network_solver.py
  python/tests/test_units_sync.py
  src/incompressible.cpp
  src/solver_interface.cpp
  test_profile.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): implement strict boundary validation rules
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/tests/test_network_blocks.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): implement strict boundary validation rules (#18)
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/tests/test_network_blocks.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: analytical (f, J) for all 4 friction models; fix PipeElement routing
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: analytical (f, J) for all 4 friction models; fix PipeElement routing (#19)
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(tests): resolve unused variable and add m_dot to CI tests
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/combaero/network/solver.py
  python/tests/test_network_blocks.py
  python/tests/test_network_flow_reversal.py
  python/tests/test_network_solver.py
  python/tests/test_network_validation.py
  python/tests/test_network_validation_edge_cases.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(tests): resolve unused variable and add m_dot to CI tests (#20)
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/combaero/network/solver.py
  python/tests/test_network_blocks.py
  python/tests/test_network_flow_reversal.py
  python/tests/test_network_solver.py
  python/tests/test_network_validation.py
  python/tests/test_network_validation_edge_cases.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: update network roadmap with sparse assembly phase
  docs/NETWORK_ROADMAP.md
Due: none

chore: touch python test to trigger GitHub Actions
  python/tests/test_network_solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: update network roadmap with sparse assembly phase (#21)
  docs/NETWORK_ROADMAP.md
  python/tests/test_network_solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): analytical (f, J) tuples for heat transfer, cooling, stagnation
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_solver_interface.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): analytical (f, J) tuples for heat transfer, cooling, stagnation (#22)
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_solver_interface.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: harden network validation and fix solver bugs
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_network_scenarios.py
  python/tests/test_network_solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: harden network validation and fix solver bugs (#23)
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_network_scenarios.py
  python/tests/test_network_solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: improve EffectiveAreaConnectionElement to 5/5 quality
  python/combaero/network/components.py
  python/tests/test_effective_area_connection.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: correct PressureBoundary API usage in tests
  python/tests/test_effective_area_connection.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: remove non-ASCII character from test comment
  python/tests/test_effective_area_connection.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: use python -m pip consistently to avoid system Python on macOS
  .github/workflows/validation-tests.yml
Due: none

fix: force-reinstall local wheel to bypass pip version cache
  .github/workflows/validation-tests.yml
Due: none

fix: commit EffectiveAreaConnectionElement export to __init__.py
  python/combaero/network/__init__.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: improve EffectiveAreaConnectionElement to 5/5 quality (#24)
  .github/workflows/validation-tests.yml
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_effective_area_connection.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: add .aider* to gitignore
  .gitignore
Due: none

docs: add EffectiveAreaConnectionElement to roadmap and Phase 1 elements
  docs/NETWORK_ROADMAP.md
Due: none

docs: add EffectiveAreaConnectionElement to roadmap (#25)
  .gitignore
  docs/NETWORK_ROADMAP.md
Due: none

feat: optimize CI/CD for docs-only changes with change detection and gatekeeper status-check
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

feat: optimize CI/CD for docs-only changes with change detection and gatekeeper status-check (#26)
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

docs: add Network Solver section to README
  README.md
Due: none

feat: add AreaDischargeCoefficientConnectionElement for flexible orifice modeling
  docs/API_REFERENCE.md
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_area_discharge_coefficient_connection.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(ci): stabilize required status-check reporting under rulesets
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

feat: add AreaDischargeCoefficientConnectionElement for flexible orifice modeling (#29)
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  docs/API_REFERENCE.md
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_area_discharge_coefficient_connection.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(ci): add docs-only protection probe
  docs/CI_PROTECTION_PROBE.md
Due: none

test(ci): add code-change protection probe
  python/tests/test_ci_protection_probe.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(ci): use unique gatekeeper check names
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
