Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

hygiene: purge stale python/scripts and centralize profiling benchmark (#106)
  benchmarks/function_profiling.py
  python/scripts/verify_phase2_aliases.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

ci: fix path filter inconsistencies and trim unnecessary runner usage
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

ci: fix path filter inconsistencies and trim unnecessary runner usage (#107)
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

feat: bind calc_T_from_u and dg_over_RT_dT; complete inverse solver API
  docs/API_PYTHON.md
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_inverse_solvers.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: bind calc_T_from_u and dg_over_RT_dT; complete inverse solver API (#108)
  docs/API_PYTHON.md
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_inverse_solvers.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: expand jacobian coverage and optimize CI validation
  .github/workflows/validation-tests.yml
  tests/test_solver_jacobians.cpp
Due: none

chore: populate pyproject.toml metadata and mark tasks as done in HYGIENE.md
  docs/HYGIENE.md
  pyproject.toml
Due: none

feat: expand jacobian coverage and optimize CI validation (#109)
  .github/workflows/validation-tests.yml
  docs/HYGIENE.md
  pyproject.toml
  tests/test_solver_jacobians.cpp
Due: none

feat: refine element-specific friction and nusselt multipliers in GUI
  COMMIT_MSG.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  python/tests/test_gui_graph_builder.py
  python/tests/test_gui_schemas.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: mark GUI refinement as completed in HYGIENE.md
  docs/HYGIENE.md
Due: none

docs: archive completed hygiene audit
  docs/archive/HYGIENE.md
Due: none

feat: refine element-specific friction and nusselt multipliers in GUI (#110)
  COMMIT_MSG.md
  docs/archive/HYGIENE.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  python/tests/test_gui_graph_builder.py
  python/tests/test_gui_schemas.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: ruff format units.py and pin required-version for setup-uv on Windows
  gui/backend/units.py
  pyproject.toml
Due: none

ci: gate combaero-gui publish on combaero publish success
  .github/workflows/publish-gui.yml
Due: none

docs: archive PYPI_GAP_ANALYSIS.md
  docs/archive/PYPI_GAP_ANALYSIS.md
Due: none

ci: gate combaero-gui publish on combaero publish success (#112)
  .github/workflows/publish-gui.yml
  docs/archive/PYPI_GAP_ANALYSIS.md
Due: none

ci: specify cibuildwheel version v2.22.0 to fix action resolution
  .github/workflows/publish.yml
Due: none

ci: specify cibuildwheel version v2.22.0 to fix action resolution (#113)
  .github/workflows/publish.yml
Due: none

fix: resolve MSVC C4459/C4456/C4244 warnings-as-errors on Windows
  include/thermo.h
  src/friction.cpp
  src/heat_transfer.cpp
  src/thermo.cpp
  uv.lock
Due: cantera-validation-tests, python-unit-tests

ci: add Windows/MSVC Python extension build job
  .github/workflows/ci.yml
Due: none

ci: fix uv pip install missing venv on Windows runner
  .github/workflows/ci.yml
Due: none

fix: replace ssize_t with py::ssize_t for MSVC compatibility
  python/combaero/_core.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: correct ssize_t and size_t narrowing in _core.cpp for MSVC
  python/combaero/_core.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

ci: skip runtime deps in Windows MSVC compile job
  .github/workflows/ci.yml
Due: none

fix: silence MSVC C4101 and C4996 warnings-as-errors
  CMakeLists.txt
  examples/humidair_example.cpp
Due: none

fix: resolve MSVC C4459/C4456/C4244 warnings-as-errors on Windows (#114)
  .github/workflows/ci.yml
  CMakeLists.txt
  examples/humidair_example.cpp
  include/thermo.h
  python/combaero/_core.cpp
  src/friction.cpp
  src/heat_transfer.cpp
  src/thermo.cpp
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): add missing gui extra to gui package and update gitignore for local tests
  .gitignore
  gui/pyproject.toml
Due: none

fix(gui): add missing gui extra to gui package and update gitignore for local tests (#115)
  .gitignore
  gui/pyproject.toml
Due: none

fix: serve GUI frontend from PyPI install and fix broken doc examples
  .github/workflows/publish-gui.yml
  docs/BUILDING.md
  docs/PACKAGING.md
  gui/README.md
  gui/backend/main.py
  gui/pyproject.toml
  python/README.md
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: serve GUI frontend from PyPI install and fix broken doc examples (#116)
  .github/workflows/publish-gui.yml
  docs/BUILDING.md
  docs/PACKAGING.md
  gui/README.md
  gui/backend/main.py
  gui/pyproject.toml
  python/README.md
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: accept Cantera-style composition strings in State API
  README.md
  gui/README.md
  python/combaero/__init__.py
  python/combaero/species.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): use relative API URLs, add SPA catch-all, fix doc links
  README.md
  gui/README.md
  gui/backend/main.py
  gui/frontend/src/api.ts
  gui/frontend/src/store/useStore.ts
  gui/frontend/vite.config.ts
Due: none

fix: use absolute URL for banner image so it renders on PyPI
  README.md
Due: none

fix: move GUI link out of docs section into its own section
  README.md
Due: none

fix(gui): relative API URLs, SPA catch-all route, fix PyPI doc links (#117)
  README.md
  gui/README.md
  gui/backend/main.py
  gui/frontend/src/api.ts
  gui/frontend/src/store/useStore.ts
  gui/frontend/vite.config.ts
  python/combaero/__init__.py
  python/combaero/species.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): rebuild frontend bundle and fix SPA routing order, remove banner
  README.md
  gui/backend/main.py
  gui/frontend/dist/assets/index-C41dzTWj.js
  gui/frontend/dist/assets/index-DNc5NTHP.css
  gui/frontend/dist/favicon.svg
  gui/frontend/dist/icons.svg
  gui/frontend/dist/index.html
  uv.lock
Due: none

style: format main.py
  gui/backend/main.py
Due: none

fix: rebuild GUI bundle, fix SPA routing, and remove banner (#118)
  README.md
  gui/backend/main.py
  gui/frontend/dist/assets/index-C41dzTWj.js
  gui/frontend/dist/assets/index-DNc5NTHP.css
  gui/frontend/dist/favicon.svg
  gui/frontend/dist/icons.svg
  gui/frontend/dist/index.html
  uv.lock
Due: none
