Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-non-ascii-check, cantera-validation-tests, python-unit-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Ruff - fast Python linter (replaces flake8, isort, and more)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
      - id: ruff-format
        args: []
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)

  # Black - Python code formatter
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        args: [--line-length=100]
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)

  - repo: local
    hooks:
      - id: python-non-ascii-check
        name: Check Python files for non-ASCII characters
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^python/.*\.py$
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA=/Users/thiemo/Projects/combaero/cantera_validation_tests /Users/thiemo/Projects/combaero/.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c '/Users/thiemo/Projects/combaero/.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

Refactor acoustic demos to streamlined API and align style hooks with Ruff config
  .pre-commit-config.yaml
  CMakeLists.txt
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/acoustics.h
  include/can_annular_solvers.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/examples/acoustic_examples.py
  python/tests/test_acoustics.py
  python/tests/test_annular_duct_acoustics.py
  scripts/check-python-style.sh
  src/acoustics.cpp
  src/can_annular_solvers.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

Unify Python tooling on Ruff and enforce repo-local .venv workflow
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  .pre-commit-config.yaml
  .python-version
  CONTRIBUTING.md
  Makefile
  README.md
  cantera_validation_tests/analyze_viscosity.py
  cantera_validation_tests/test_combustion_validation.py
  cantera_validation_tests/test_equilibrium_validation.py
  cantera_validation_tests/test_mixing_validation.py
  cantera_validation_tests/test_nasa9_polynomials.py
  cantera_validation_tests/test_transport_validation.py
  python/examples/acoustic_examples.py
  python/examples/combustor_heat_transfer.py
  python/examples/friction_and_pressure_drop.py
  python/examples/heat_transfer_pipe_flow.py
  python/examples/reactor_design.py
  ruff.toml
  scripts/bootstrap.sh
  scripts/check-python-style.sh
  scripts/ensure_venv.py
  src/combustion.cpp
  src/cooling_correlations.cpp
  src/materials.cpp
  src/thermo.cpp
  thermo_data_generator/generate_thermo_data.py
  thermo_data_generator/test_generate_thermo_data.py
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

Allow CI style checks to run without local .venv
  scripts/check-python-style.sh
Due: none

Trigger validation workflow on tooling and workflow config changes
  .github/workflows/validation-tests.yml
Due: none

combustion: add fuel LHV molar/mass APIs and python bindings
  docs/API_REFERENCE.md
  include/combustion.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/examples/combustor_heat_transfer.py
  python/tests/test_combustion_lhv.py
  src/combustion.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

acoustics: document uniform-section geometry assumptions
  include/acoustics.h
  include/can_annular_solvers.h
Due: cantera-validation-tests, python-unit-tests

geometry: add parameterized can-annular flow geometry and bindings
  docs/API_REFERENCE.md
  include/geometry.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_geometry.py
  src/geometry.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

Phase 3a: Unify Annulus/AnnularDuctGeometry for acoustic solver compatibility
  CMakeLists.txt
  README.md
  TODO.md
  docs/UNITS.md
  examples/cooling_example.cpp
  include/acoustics.h
  include/can_annular_solvers.h
  include/cooling_correlations.h
  include/geometry.h
  pyproject.toml
  python/combaero/_core.cpp
  python/examples/counterflow_effusion_combustor.py
  python/examples/heat_transfer_measurement.py
  python/tests/test_cooling_correlations.py
  src/acoustics.cpp
  src/can_annular_solvers.cpp
  src/cooling_correlations.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

feat: Phase 3b - add to_acoustic_geometry adapter, unify geometry namespace
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/acoustics.h
  include/geometry.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_adapter.py
  python/tests/test_annular_duct_acoustics.py
  src/acoustics.cpp
  src/can_annular_solvers.cpp
  src/geometry.cpp
  tests/CMakeLists.txt
  tests/test_acoustic_adapter.cpp
  tests/test_thermo_transport.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

chore: upgrade googletest to v1.15.0 to fix CMake deprecation warning
  CMakeLists.txt
Due: none

refactor: replace string geometry with MolecularGeometry enum; use std::any_of for duplicate checks
  include/thermo_transport_data.h
  src/can_annular_solvers.cpp
  src/transport.cpp
  thermo_data_generator/create_cpp_header.py
  thermo_data_generator/generate_thermo_data.py
Due: cantera-validation-tests, python-unit-tests

chore: guard thermo_transport_data.h against manual edits
  .pre-commit-config.yaml
  include/thermo_transport_data.h
  scripts/check-thermo-header.sh
  thermo_data_generator/generate_thermo_data.py
Due: cantera-validation-tests, python-unit-tests

docs: add species-pinning note to check-thermo-header.sh
  scripts/check-thermo-header.sh
Due: none

fix: resolve lint warnings in can_annular_solvers.cpp and generate_thermo_data.py
  src/can_annular_solvers.cpp
  thermo_data_generator/generate_thermo_data.py
Due: cantera-validation-tests, python-unit-tests

refactor: replace hardcoded species list with .generator_state.json sidecar
  .gitignore
  scripts/check-thermo-header.sh
  thermo_data_generator/.generator_state.json
  thermo_data_generator/generate_thermo_data.py
Due: none

docs: add NETWORK_ROADMAP.md and COMBUSTION_ELEMENTS.md
  docs/COMBUSTION_ELEMENTS.md
  docs/NETWORK_ROADMAP.md
Due: none

refactor: consolidate all state structs into include/state.h
  docs/COMBUSTION_ELEMENTS.md
  include/combustion.h
  include/state.h
  include/thermo.h
  include/transport.h
Due: cantera-validation-tests, python-unit-tests

refactor: streamline combustion.cpp — Brent solver, fix Bilger, remove wrappers
  src/combustion.cpp
Due: cantera-validation-tests, python-unit-tests

refactor: streamline can_annular_solvers — constants, shared contour, Muller, tests
  include/acoustics_internal.h
  include/can_annular_solvers.h
  python/tests/test_annular_duct_acoustics.py
  python/tests/test_can_annular_acoustics.py
  src/acoustics.cpp
  src/can_annular_solvers.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

refactor: streamline can_annular_solvers — constants, shared contour, Muller, tests (#1)
  include/acoustics_internal.h
  include/can_annular_solvers.h
  python/tests/test_annular_duct_acoustics.py
  python/tests/test_can_annular_acoustics.py
  src/acoustics.cpp
  src/can_annular_solvers.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

refactor: streamline thermal headers — validation overloads, isentropic Cd, TransportState merge, Colebrook/Gnielinski fixes
  include/cooling_correlations.h
  include/heat_transfer.h
  include/state.h
  python/combaero/_core.cpp
  python/tests/test_air_properties.py
  python/tests/test_cooling_correlations.py
  src/cooling_correlations.cpp
  src/friction.cpp
  src/heat_transfer.cpp
  src/thermo.cpp
  src/transport.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

refactor: streamline thermal headers — validation overloads, isentropic Cd, TransportState merge, Colebrook/Gnielinski fixes (#2)
  include/cooling_correlations.h
  include/heat_transfer.h
  include/state.h
  python/combaero/_core.cpp
  python/tests/test_air_properties.py
  python/tests/test_cooling_correlations.py
  src/cooling_correlations.cpp
  src/friction.cpp
  src/heat_transfer.cpp
  src/thermo.cpp
  src/transport.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

refactor: equilibrium/combustion state overhaul
  cantera_validation_tests/test_combustion_validation.py
  cantera_validation_tests/test_equilibrium_validation.py
  examples/combustion_example.cpp
  include/combustion.h
  include/equilibrium.h
  include/state.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_reforming_equilibrium.py
  src/combustion.cpp
  src/equilibrium.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

fix: flow bindings cleanup
  python/combaero/__init__.py
  python/combaero/_core.cpp
  src/friction.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

fix: flow bindings cleanup (#3)
  cantera_validation_tests/test_combustion_validation.py
  cantera_validation_tests/test_equilibrium_validation.py
  examples/combustion_example.cpp
  include/combustion.h
  include/equilibrium.h
  include/state.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_reforming_equilibrium.py
  src/combustion.cpp
  src/equilibrium.cpp
  src/friction.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

refactor: move pipe_roughness to friction.h/cpp
  include/friction.h
  include/utils.h
  src/friction.cpp
  src/utils.cpp
Due: cantera-validation-tests, python-unit-tests

fix: update C++ tests to use EquilibriumResult return type
  tests/test_thermo_transport.cpp
Due: none

refactor: move pipe_roughness to friction.h/cpp (#4)
  include/friction.h
  include/utils.h
  src/friction.cpp
  src/utils.cpp
  tests/test_thermo_transport.cpp
Due: cantera-validation-tests, python-unit-tests

fix: humidair improvements + NASA-9 range policy
  include/humidair.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  src/humidair.cpp
  src/thermo.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

fix: update range policy tolerance and tests
  src/thermo.cpp
  tests/test_humidair.cpp
  tests/test_thermo_transport.cpp
Due: cantera-validation-tests, python-unit-tests

fix: humidair improvements + NASA-9 range policy (#5)
  include/humidair.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  src/humidair.cpp
  src/thermo.cpp
  tests/test_humidair.cpp
  tests/test_thermo_transport.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

feat: add --check-names completeness check to generate_thermo_data.py
  thermo_data_generator/README.md
  thermo_data_generator/generate_thermo_data.py
Due: none

test+ci: common-names symmetry tests and pre-commit hook
  .pre-commit-config.yaml
  scripts/check-common-names.sh
  thermo_data_generator/generate_thermo_data.py
  thermo_data_generator/test_generate_thermo_data.py
Due: none

feat: add pressure loss coefficient (zeta) functions to incompressible.h
  include/incompressible.h
  src/incompressible.cpp
  tests/CMakeLists.txt
  tests/test_incompressible.cpp
Due: cantera-validation-tests, python-unit-tests

feat: header reorg + fanno_pipe_rough + incompressible high-level API
  CMakeLists.txt
  include/compressible.h
  include/incompressible.h
  include/pipe_flow.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_compressible.py
  python/tests/test_incompressible_highlevel.py
  python/tests/test_pressure_drop_pipe.py
  src/compressible.cpp
  src/incompressible.cpp
  src/pipe_flow.cpp
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

feat: symmetric Python submodule API (incompressible / compressible)
  python/combaero/__init__.py
  python/combaero/_flow_solution.py
  python/combaero/compressible.py
  python/combaero/incompressible.py
  python/tests/test_submodule_api.py
  ruff.toml
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

feat: add flow_regime_comparison.py example
  python/examples/flow_regime_comparison.py
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

fix: remove non-ASCII from Python docstrings; fix Check 1 in style script
  python/combaero/_flow_solution.py
  python/combaero/compressible.py
  python/combaero/incompressible.py
  scripts/check-python-style.sh
Due: python-non-ascii-check, cantera-validation-tests, python-unit-tests

docs: update units_data.h and API_REFERENCE.md for new flow functions
  docs/API_REFERENCE.md
  include/units_data.h
Due: cantera-validation-tests, python-unit-tests

docs: update UNITS.md for new flow functions
  docs/UNITS.md
Due: none
