Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

feat(orifice): Lichtarowicz (1965) long-orifice Cd for the low-Re regime (#411)
  CHANGELOG.md
  docs/API_CPP.md
  include/orifice.h
  python/combaero/_core.cpp
  python/tests/test_orifice_cd.py
  src/orifice.cpp
  tests/test_orifice.cpp
  validation/cooling/extractions/lichtarowicz_1965_long_orifice.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): Baldauf (2002) film-cooling effectiveness, with analytic (f, J)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_film_effectiveness.py
  src/cooling_correlations.cpp
  tests/test_film_effectiveness.cpp
  validation/cooling/extractions/baldauf_2002_film_effectiveness.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): Baldauf (2002) film-cooling effectiveness, with analytic (f, J) (#412)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_film_effectiveness.py
  src/cooling_correlations.cpp
  tests/test_film_effectiveness.cpp
  validation/cooling/extractions/baldauf_2002_film_effectiveness.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): multi-row film superposition, Sellers with Gao's correction
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_film_superposition.py
  src/cooling_correlations.cpp
  tests/test_film_superposition.cpp
  validation/cooling/extractions/film_superposition.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): multi-row film superposition, Sellers with Gao's correction (#413)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_film_superposition.py
  src/cooling_correlations.cpp
  tests/test_film_superposition.cpp
  validation/cooling/extractions/film_superposition.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(changelog): consolidate the duplicated [Unreleased] sections
  CHANGELOG.md
Due: none

docs(changelog): consolidate the duplicated [Unreleased] sections (#414)
  CHANGELOG.md
Due: none

fix(validation): a stated uncertainty must be a measurement, not our own error
  CHANGELOG.md
  python/tests/test_uncertainty_is_measurement.py
  validation/cooling/data/florschuetz1981/metadata.yaml
  validation/cooling/data/han2012/metadata.yaml
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): a stated uncertainty must be a measurement, not our own error (#415)
  CHANGELOG.md
  python/tests/test_uncertainty_is_measurement.py
  validation/cooling/data/florschuetz1981/metadata.yaml
  validation/cooling/data/han2012/metadata.yaml
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(api): test_units_sync checked __all__, so 54 exports escaped it
  CHANGELOG.md
  docs/API_CPP.md
  docs/UNITS.md
  include/units_data.h
  python/combaero/__init__.py
  python/tests/test_units_sync.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(api): test_units_sync checked __all__, so 54 exports escaped it (#416)
  CHANGELOG.md
  docs/API_CPP.md
  docs/UNITS.md
  include/units_data.h
  python/combaero/__init__.py
  python/tests/test_units_sync.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(core): route composition warnings through the handler, drop stderr capture
  CHANGELOG.md
  src/composition.cpp
  tests/test_thermo_transport.cpp
Due: cantera-validation-tests, python-unit-tests

fix(core): route composition warnings through the handler, drop stderr capture (#417)
  CHANGELOG.md
  src/composition.cpp
  tests/test_thermo_transport.cpp
Due: cantera-validation-tests, python-unit-tests

fix(python): clear the warning handler before the interpreter finalises
  CHANGELOG.md
  python/combaero/_core.cpp
  python/tests/test_warning_handler_lifetime.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(python): clear the warning handler before the interpreter finalises (#418)
  CHANGELOG.md
  python/combaero/_core.cpp
  python/tests/test_warning_handler_lifetime.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(deps): sync biome.json and pre-commit to biome 2.5.14
  .pre-commit-config.yaml
  biome.json
Due: none

feat(cooling): Baldauf reports extrapolation outside its published envelope
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/cooling_correlations.h
  python/combaero/_core.cpp
  src/cooling_correlations.cpp
  tests/test_film_effectiveness.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): Baldauf reports extrapolation outside its published envelope (#419)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/cooling_correlations.h
  python/combaero/_core.cpp
  src/cooling_correlations.cpp
  tests/test_film_effectiveness.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): Andrei (2014) adiabatic effectiveness, extracted exactly
  validation/cooling/data/andrei2014/fig4_eta_ad_BR1_DR1.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR1_DR1p5.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR2_DR1.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR2_DR1p5.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR3_DR1.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR3_DR1p5.csv
  validation/cooling/data/andrei2014/metadata.yaml
Due: none

feat(validation): Andrews (1988) Fig. 8 effusion internal heat transfer
  validation/cooling/data/andrews1988/fig8_frame.csv
  validation/cooling/data/andrews1988/fig8_h_effusionC.csv
  validation/cooling/data/andrews1988/metadata.yaml
Due: none

feat(cooling): score multi-row film superposition against effusion plate data
  CHANGELOG.md
  python/tests/test_film_runner.py
  validation/cooling/data/andrei2014/metadata.yaml
  validation/cooling/data/andrews1988/metadata.yaml
  validation/cooling/film_runner.py
  validation/cooling/plots/andrei2014/fig4_redrawn.png
  validation/cooling/plots/andrews1988/fig8_redrawn.png
  validation/cooling/scorecard.py
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): score multi-row film superposition against effusion plate data (#420)
  CHANGELOG.md
  python/tests/test_film_runner.py
  validation/cooling/data/andrei2014/fig4_eta_ad_BR1_DR1.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR1_DR1p5.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR2_DR1.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR2_DR1p5.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR3_DR1.csv
  validation/cooling/data/andrei2014/fig4_eta_ad_BR3_DR1p5.csv
  validation/cooling/data/andrei2014/metadata.yaml
  validation/cooling/data/andrews1988/fig8_frame.csv
  validation/cooling/data/andrews1988/fig8_h_effusionC.csv
  validation/cooling/data/andrews1988/metadata.yaml
  validation/cooling/film_runner.py
  validation/cooling/plots/andrei2014/fig4_redrawn.png
  validation/cooling/plots/andrews1988/fig8_redrawn.png
  validation/cooling/scorecard.py
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(validation): Murray & Ireland separates #420's two error sources
  CHANGELOG.md
  python/tests/test_film_runner.py
  validation/cooling/extractions/murray_ireland_2018_effusion_superposition.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(validation): Murray & Ireland separates #420's two error sources (#421)
  CHANGELOG.md
  python/tests/test_film_runner.py
  validation/cooling/extractions/murray_ireland_2018_effusion_superposition.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(python): 30 functions advertised a phantom overload
  CHANGELOG.md
  python/combaero/_core.cpp
  python/tests/test_units_sync.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(python): 30 functions advertised a phantom overload (#422)
  CHANGELOG.md
  python/combaero/_core.cpp
  python/tests/test_units_sync.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(python): warning-handler save/restore nested until it segfaulted
  CHANGELOG.md
  python/combaero/_core.cpp
  python/tests/test_warning_handler_lifetime.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): b_0_override for Baldauf Eq. (31), and correct its blast radius
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/cooling_correlations.h
  python/combaero/_core.cpp
  src/cooling_correlations.cpp
  tests/test_film_effectiveness.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(python): warning-handler save/restore nested until it segfaulted (#423)
  CHANGELOG.md
  python/combaero/_core.cpp
  python/tests/test_warning_handler_lifetime.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): b_0_override for Baldauf Eq. (31), and correct its blast radius (#424)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/cooling_correlations.h
  python/combaero/_core.cpp
  src/cooling_correlations.cpp
  tests/test_film_effectiveness.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): Murray & Ireland Fig. 6, and the superposition/closure split
  CHANGELOG.md
  python/tests/test_film_runner.py
  validation/cooling/data/murray2018/fig6_calibration_M0p19.csv
  validation/cooling/data/murray2018/fig6_calibration_M0p48.csv
  validation/cooling/data/murray2018/fig6_calibration_M0p96.csv
  validation/cooling/data/murray2018/fig6_eta_exp_M0p19.csv
  validation/cooling/data/murray2018/fig6_eta_exp_M0p48.csv
  validation/cooling/data/murray2018/fig6_eta_exp_M0p96.csv
  validation/cooling/data/murray2018/fig6_eta_sup_M0p19.csv
  validation/cooling/data/murray2018/fig6_eta_sup_M0p96.csv
  validation/cooling/data/murray2018/metadata.yaml
  validation/cooling/film_runner.py
  validation/cooling/plots/murray2018/fig6_redrawn.png
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): Murray & Ireland Fig. 6, and the superposition/closure split (#425)
  CHANGELOG.md
  python/tests/test_film_runner.py
  validation/cooling/data/murray2018/fig6_calibration_M0p19.csv
  validation/cooling/data/murray2018/fig6_calibration_M0p48.csv
  validation/cooling/data/murray2018/fig6_calibration_M0p96.csv
  validation/cooling/data/murray2018/fig6_eta_exp_M0p19.csv
  validation/cooling/data/murray2018/fig6_eta_exp_M0p48.csv
  validation/cooling/data/murray2018/fig6_eta_exp_M0p96.csv
  validation/cooling/data/murray2018/fig6_eta_sup_M0p19.csv
  validation/cooling/data/murray2018/fig6_eta_sup_M0p96.csv
  validation/cooling/data/murray2018/metadata.yaml
  validation/cooling/film_runner.py
  validation/cooling/plots/murray2018/fig6_redrawn.png
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): fit Gao's alpha on Murray -- the published form does not fit
  CHANGELOG.md
  python/tests/test_film_runner.py
  validation/cooling/extractions/gao_alpha_fit_on_murray.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(cooling): Gao's alpha coefficients ARE published; correct the record
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/cooling_correlations.h
  python/combaero/_core.cpp
  python/tests/test_film_runner.py
  tests/test_film_superposition.cpp
  validation/cooling/extractions/film_superposition.md
  validation/cooling/extractions/gao_alpha_fit_on_murray.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): keep ONE superposition correction -- Gao's alpha
  CHANGELOG.md
  tests/test_film_superposition.cpp
  validation/cooling/extractions/gao_alpha_fit_on_murray.md
Due: none

fix(cooling): Gao's alpha coefficients are published, and rig-specific (#426)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/cooling_correlations.h
  python/combaero/_core.cpp
  python/tests/test_film_runner.py
  tests/test_film_superposition.cpp
  validation/cooling/extractions/film_superposition.md
  validation/cooling/extractions/gao_alpha_fit_on_murray.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): effusion plate internal heat transfer, closing #387's internal side
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_effusion_internal_runner.py
  src/cooling_correlations.cpp
  tests/test_effusion_internal.cpp
  validation/cooling/data/andrews1988/metadata.yaml
  validation/cooling/effusion_internal_runner.py
  validation/cooling/extractions/andrews_effusion_internal_h.md
  validation/cooling/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): effusion plate internal heat transfer, closing #387's internal side (#427)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_effusion_internal_runner.py
  src/cooling_correlations.cpp
  tests/test_effusion_internal.cpp
  validation/cooling/data/andrews1988/metadata.yaml
  validation/cooling/effusion_internal_runner.py
  validation/cooling/extractions/andrews_effusion_internal_h.md
  validation/cooling/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): wire internal heat transfer into EffusionPlateElement
  CHANGELOG.md
  docs/API_PYTHON.md
  python/combaero/network/components.py
  python/tests/test_effusion_plate_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): wire internal heat transfer into EffusionPlateElement (#428)
  CHANGELOG.md
  docs/API_PYTHON.md
  python/combaero/network/components.py
  python/tests/test_effusion_plate_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests
