Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(edges): remove double-rotation in FlowEdge and ThermalEdge
  gui/frontend/src/components/FlowEdge.tsx
  gui/frontend/src/components/ThermalEdge.tsx
Due: none

fix(nodes/edges): correct handle positions, triangle orientation and edge tangents for rotated nodes (#165)
  CHANGELOG.md
  gui/frontend/src/components/FlowEdge.tsx
  gui/frontend/src/components/ThermalEdge.tsx
  gui/frontend/src/components/nodes/AreaChangeNode.tsx
  gui/frontend/src/components/nodes/ChannelNode.tsx
  gui/frontend/src/components/nodes/CombustorNode.tsx
  gui/frontend/src/components/nodes/DiscreteLossNode.tsx
  gui/frontend/src/components/nodes/MassBoundaryNode.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  gui/frontend/src/components/nodes/PressureBoundaryNode.tsx
  gui/frontend/src/components/nodes/TeeJunctionNode.tsx
  gui/frontend/src/components/nodes/WallNode.tsx
  gui/frontend/src/utils/nodeUtils.ts
Due: none

fix: compressible solver convergence + rotation-aware edge routing (#142)
  CHANGELOG.md
  python/combaero/network/components.py
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): LM fallback for hybr oscillation on compressible networks
  CHANGELOG.md
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: document branch protection and sandbox requirement for gh pr create
  CLAUDE.md
Due: none

chore: add CI-required-to-merge note to Git Workflow section
  CLAUDE.md
Due: none

fix(solver): compressible convergence hardening — LM fallback for hybr oscillation (#166)
  CHANGELOG.md
  python/combaero/network/components.py
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: document branch protection and sandbox requirement for gh pr create (#167)
  CLAUDE.md
Due: none

feat(solver): collect convergence history and residual breakdown
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(backend): expose convergence history and worst residuals in SolveResponse
  gui/backend/main.py
  gui/backend/schemas.py
Due: none

feat(gui): convergence chart modal in solver status badge
  CHANGELOG.md
  gui/frontend/src/api.ts
  gui/frontend/src/components/ConvergenceChart.tsx
  gui/frontend/src/components/SolverStatusBadge.tsx
Due: none

feat(diagnostics): convergence history chart + worst-residual breakdown (#168)
  CHANGELOG.md
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/api.ts
  gui/frontend/src/components/ConvergenceChart.tsx
  gui/frontend/src/components/SolverStatusBadge.tsx
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): physics-informed pressure init guess via Darcy-Weisbach
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(tee): scale eps_P FD step with pressure magnitude
  src/solver_interface.cpp
Due: cantera-validation-tests, python-unit-tests

feat(tee): Prandtl-Glauert compressibility correction to Bassett K coefficients
  python/tests/test_tee_network.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(changelog): add init guess, eps_P, and Prandtl-Glauert entries
  CHANGELOG.md
Due: none

revert: remove D-W init guess and Prandtl-Glauert tee correction
  CHANGELOG.md
  python/combaero/network/solver.py
  python/tests/test_tee_network.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): improved init guess + eps_P scaling + Prandtl-Glauert tee correction (#169)
  CHANGELOG.md
  src/solver_interface.cpp
Due: cantera-validation-tests, python-unit-tests

feat(tee): replace Bassett K tables with Unified0D compressible model
  CHANGELOG.md
  include/solver_interface.h
  include/tee_junction.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: add build_tmp/ to .gitignore
  .gitignore
Due: none

test/docs: C++ Jacobian tests + API doc update for Unified0D tee
  docs/API_PYTHON.md
  docs/UNITS.md
  tests/test_tee_junction.cpp
Due: none

fix(tee): correct phi angle convention in branching and merging tee models
  .pre-commit-config.yaml
  CHANGELOG.md
  cantera_validation_tests/pytest.ini
  python/tests/test_tee_network.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): correct MomentumChamberNode Jacobian coupling for tee junctions
  CHANGELOG.md
  gui/backend/graph_builder.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_tee_network.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(tee): branching/merging tee convergence (scaling, kappa sign, LM routing)
  CHANGELOG.md
  include/tee_junction.h
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_tee_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(tee): honest forward-flow assertions for branching tee + document defects
  CHANGELOG.md
  python/tests/test_tee_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(tee): Unified0D compressible tee junction model (#172)
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  cantera_validation_tests/pytest.ini
  docs/API_PYTHON.md
  docs/UNITS.md
  gui/backend/graph_builder.py
  include/solver_interface.h
  include/tee_junction.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_tee_network.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
  tests/test_tee_junction.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: add Practical Tips to CLAUDE.md (shell-expansion and sandbox guidance)
  CLAUDE.md
Due: none

chore: add Practical Tips to CLAUDE.md (shell-expansion and sandbox guidance) (#173)
  CLAUDE.md
Due: none

fix(network): channel couples stagnation-to-stagnation across MomentumChamberNode
  CHANGELOG.md
  python/combaero/network/components.py
  python/tests/test_network_scenarios.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): channel couples stagnation-to-stagnation across MomentumChamberNode (#175)
  CHANGELOG.md
  python/combaero/network/components.py
  python/tests/test_network_scenarios.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(tee): symmetric blended turning-loss closure for branching split direction
  CHANGELOG.md
  include/tee_junction.h
  python/combaero/network/components.py
  python/tests/test_tee_network.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(tee): symmetric blended turning-loss closure for branching split direction (#176)
  CHANGELOG.md
  include/tee_junction.h
  python/combaero/network/components.py
  python/tests/test_tee_network.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: sync biome version to 2.4.16 across schema and pre-commit pin
  .pre-commit-config.yaml
  biome.json
Due: none

chore: sync biome version to 2.4.16 across schema and pre-commit pin (#178)
  .pre-commit-config.yaml
  biome.json
Due: none

test(junction): Tier 4 cross-check between MPCE and TeeJunctionElement
  python/tests/test_momentum_cv_vs_tee.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(junction): sync units_data, API docs, and CHANGELOG for momentum-CV junction
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/units_data.h
  python/combaero/network/__init__.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): wire MultiPortChamberElement into solver with end-to-end smoke tests
  docs/API_PYTHON.md
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_multi_port_chamber.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): add MultiPortChamberElement and BorderCarnotLossElement (Phase 1)
  include/multi_port_chamber.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  src/solver_interface.cpp
  tests/test_multi_port_chamber.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): cross-coupling in MPCE impulse residual recovers Bassett K6
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/experimental_bounded_solver.py
  python/tests/test_momentum_cv_tier1_bassett.py
  python/tests/test_multi_port_chamber.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): sin^2(theta) projection in MPCE impulse residual
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_multi_port_chamber.py
  src/solver_interface.cpp
  tests/test_multi_port_chamber.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
