Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(gui): ensure thermal edge data consistency and refine typography
  COMMIT_MSG.md
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
  gui/frontend/src/store/useStore.ts
Due: none

feat(gui): enhance thermal edge diagnostics and universal probe node support
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
  gui/frontend/src/components/nodes/ProbeNode.tsx
  gui/frontend/src/store/useStore.ts
  gui/frontend/src/utils/quantities.ts
Due: none

feat: standardize thermal diagnostic nomenclature (T_wall -> T_hot) and expand diagnostic catalogue
  COMMIT_MSG.md
  build_log.txt
  docs/API_CPP.md
  docs/UNITS.md
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/utils/quantities.ts
  include/heat_transfer.h
  include/units_data.h
  python/README.md
  python/combaero/_core.cpp
  python/combaero/heat_transfer.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_channel_element_htc.py
  python/tests/test_channel_flow.py
  python/tests/test_channel_jacobians.py
  python/tests/test_convective_surface.py
  python/tests/test_thermal_wall_multilayer.py
  python/tests/test_wall_connection.py
  python/tests/test_wall_coupling.py
  python/tests/test_wall_coupling_integration.py
  src/heat_transfer.cpp
  tests/test_heat_transfer_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): add custom edge labels and modularize commit workflows
  .agents/workflows/commit-and-push.md
  .agents/workflows/commit-local.md
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/frontend/src/components/FlowEdge.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/ThermalEdge.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/store/useStore.ts
Due: none

feat(gui): enhance network results export and add UI feedback
  gui/backend/main.py
  gui/frontend/src/App.tsx
  gui/frontend/src/api.ts
Due: none

feat: harden network flow diagnostics and gui zero-flow handling
  gui/frontend/src/App.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/LengthInput.tsx
  gui/frontend/src/components/NumericInput.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
  python/combaero/network/components.py
  python/combaero/network/solver.py
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: restore PressureBoundary state in solver after MassFlowBoundary sink refactor
  gui/frontend/src/components/nodes/MassBoundaryNode.tsx
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_mass_boundary_sink.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: add combustor regression tests for pressure loss and mass balance
  COMMIT_MSG.md
  gui/frontend/src/App.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  python/combaero/network/components.py
  python/tests/test_combustor_regression.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): promote combustor pressure loss to discrete PressureLossElement
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/tests/test_combustor_network.py
  python/tests/test_combustor_regression.py
  python/tests/test_pressure_loss.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): remove pressure_loss from CombustorNode constructor call
  gui/backend/graph_builder.py
Due: none

feat(gui): add discrete_loss element with full heat transfer support
  .commit_message.txt
  .windsurf/workflows/commit-only.md
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/backend/schemas.py
  gui/backend/units.py
  gui/frontend/src/App.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/NumericInput.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/components/nodes/ChannelNode.tsx
  gui/frontend/src/components/nodes/DiscreteLossNode.tsx
  gui/frontend/src/store/useStore.ts
  gui/frontend/src/utils/validation.ts
  python/combaero/network/components.py
  python/tests/test_combustor_regression.py
  python/tests/test_gui_export_units.py
  python/tests/test_gui_graph_builder.py
  python/tests/test_pressure_loss.py
  scripts/check-gui-style.sh
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: stabilize combustor CI and correct pressure loss Jacobian
  .commit_message.txt
  PR_BODY.md
  ci_jobs.json
  ci_log.txt
  python/combaero/network/components.py
  tests/test_solver_jacobians.cpp
  validation_jobs.json
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): replace asymmetric FD with exact analytical dT0/dM and dP0/dM
  COMMIT_MSG.md
  PR_BODY.md
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: cantera-validation-tests, python-unit-tests

fix(solver): implement analytical Jacobians for compressible orifice flow
  src/solver_interface.cpp
Due: cantera-validation-tests, python-unit-tests

fix(solver): correct reverse flow Jacobian signs for analytical orifice
  COMMIT_MSG.md
  ci_log.txt
  python/tests/test_solver_interface.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): make pandas import lazy in results_to_dataframe to fix CI collection
  python/combaero/network/utils.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

ci(validation): add project root to PYTHONPATH for python-unit-tests
  .github/workflows/validation-tests.yml
Due: none

ci(validation): install [gui] extras for python-unit-tests to provide pydantic
  .github/workflows/validation-tests.yml
Due: none

ci(validation): use robust glob-based wheel installation for [gui] extras
  .github/workflows/validation-tests.yml
Due: none

ci(validation): use robust subshell expansion for wheel installation with [gui] extras
  .github/workflows/validation-tests.yml
Due: none

chore: cleanup stale development artifacts and scratch scripts跑方
  PR_BODY.md
  ci_jobs.json
  design_questions.txt
  scratch/apply_binding_fix.py
  scratch/test_import.py
  scratch/verify_orifice_bindings.py
  test_solve.py
  validation_jobs.json
Due: none

chore: migrate dependeny management to uv workspace and modernize CI
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  cantera_validation_tests/pyproject.toml
  pyproject.toml
  scripts/bootstrap.sh
  uv.lock
Due: python-style-check, cantera-validation-tests

feat: consolidate dependency management with uv and cleanup stale artifacts (#74)
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  PR_BODY.md
  cantera_validation_tests/pyproject.toml
  ci_jobs.json
  design_questions.txt
  pyproject.toml
  scratch/apply_binding_fix.py
  scratch/test_import.py
  scratch/verify_orifice_bindings.py
  scripts/bootstrap.sh
  test_solve.py
  uv.lock
  validation_jobs.json
Due: python-style-check, cantera-validation-tests

chore: consolidate uv workspace and strictly enforce ruff/uv project-wide跑方
  .pre-commit-config.yaml
  Makefile
  PR_BODY_CONSOLIDATION.md
  cantera_validation_tests/Makefile
  cantera_validation_tests/README.md
  cantera_validation_tests/run_tests.sh
  pyproject.toml
  scripts/README.md
  thermo_data_generator/poetry.lock
  thermo_data_generator/pyproject.toml
  uv.lock
Due: python-style-check, cantera-validation-tests, thermo-header-check

chore: complete uv workspace migration with gui integration and modernized guidance跑方
  .agents/workflows/commit-local.md
  .windsurf/workflows/commit-only.md
  .windsurf/workflows/ruff-fix-changed.md
  .windsurf/workflows/squash-merge-and-cleanup.md
  CLAUDE.md
  CONTRIBUTING.md
  GEMINI.md
  PR_BODY_CONSOLIDATION.md
  docs/REVIEW_NETWORK_GUI_INTEGRATION.md
  gui/__init__.py
  gui/backend/__init__.py
  gui/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

ci: opt into Node.js 24 and fix macOS caching error
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
Due: none

feat: consolidate uv workspace and project-wide ruff/uv modernization (#75)
  .agents/workflows/commit-local.md
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  .pre-commit-config.yaml
  .windsurf/workflows/commit-only.md
  .windsurf/workflows/ruff-fix-changed.md
  .windsurf/workflows/squash-merge-and-cleanup.md
  CLAUDE.md
  CONTRIBUTING.md
  GEMINI.md
  Makefile
  cantera_validation_tests/Makefile
  cantera_validation_tests/README.md
  cantera_validation_tests/run_tests.sh
  docs/REVIEW_NETWORK_GUI_INTEGRATION.md
  gui/__init__.py
  gui/backend/__init__.py
  gui/pyproject.toml
  pyproject.toml
  scripts/README.md
  thermo_data_generator/poetry.lock
  thermo_data_generator/pyproject.toml
  uv.lock
Due: python-style-check, cantera-validation-tests, thermo-header-check

ci: add dependabot configuration for uv, npm, and actions
  .github/dependabot.yml
Due: none

ci: add dependabot configuration for uv, npm, and actions (#76)
  .github/dependabot.yml
Due: none

ci: implement SemVer split strategy for dependabot
  .github/dependabot.yml
Due: none

ci: implement SemVer split strategy for dependabot (#79)
  .github/dependabot.yml
Due: none

ci: add bulk-merge safe automation and agent workflow
  .agents/workflows/bulk_merge_workflow.md
  scripts/bulk_merge_safe.sh
Due: none

chore: rename bulk-merge-workflow.md for consistency
  .agents/workflows/bulk-merge-workflow.md
Due: none

ci: modernize for setup-uv v5 and migrate to dependency-groups
  .github/workflows/ci.yml
  cantera_validation_tests/pyproject.toml
  pyproject.toml
  thermo_data_generator/pyproject.toml
Due: python-style-check, cantera-validation-tests, thermo-header-check

ci: skip redundant workspace install during uv sync to fix windows build
  .github/workflows/ci.yml
Due: none

ci: add bulk-merge safe automation and agent workflow (#88)
  .agents/workflows/bulk-merge-workflow.md
  scripts/bulk_merge_safe.sh
Due: none

feat(gui): standardize frontend infrastructure on pnpm, vitest, and Node 24 LTS
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  gui/frontend/package-lock.json
  gui/frontend/package.json
  gui/frontend/pnpm-lock.yaml
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NumericInput.tsx
  gui/frontend/src/node-25-regression.test.ts
  gui/frontend/vitest.config.ts
  scripts/run-gui.sh
  uv.lock
Due: none

feat(gui): standardize frontend infrastructure on pnpm, vitest, and Node 24 LTS (#89)
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  gui/frontend/package-lock.json
  gui/frontend/package.json
  gui/frontend/pnpm-lock.yaml
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NumericInput.tsx
  gui/frontend/src/node-25-regression.test.ts
  gui/frontend/vitest.config.ts
  scripts/run-gui.sh
  uv.lock
Due: none

feat: optimize solver performance and add GUI timeout configuration
  COMMIT_MSG.md
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
  include/solver_interface.h
  profile.txt
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
