Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: update README, API_REFERENCE, CONTRIBUTING, LICENSE, scripts/README
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/API_REFERENCE.md
  python/README.md
  scripts/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(cooling): document Han g-function physical limits and high-Re references
  src/cooling_correlations.cpp
Due: cantera-validation-tests, python-unit-tests

feat(cooling): add Singh & Ekkad (2017) high-Re rib correlations and thermal performance factor
  docs/API_REFERENCE.md
  include/cooling_correlations.h
  include/units_data.h
  python/README.md
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_correlations.py
  src/cooling_correlations.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(examples): add thermal_performance_factor to combustor_liner_cooling
  python/examples/combustor_liner_cooling.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor(examples): centralise headless plot handling in plot_utils.show_or_save
  .gitignore
  python/examples/acoustic_examples.py
  python/examples/combustor_liner_cooling.py
  python/examples/de_laval_nozzle.py
  python/examples/gas_turbine_cycle.py
  python/examples/ic_engine_cycle.py
  python/examples/plot_utils.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: regenerate UNITS.md (rib_enhancement_factor_re -> high_re + thermal_performance_factor)
  docs/UNITS.md
Due: none

feat(thermo): Add Cantera-like thermodynamic state setters
  TODO.md
  cantera_validation_tests/test_state_setters.py
  include/state.h
  include/thermo.h
  python/combaero/_core.cpp
  src/state.cpp
  src/thermo.cpp
  tests/CMakeLists.txt
  tests/test_state.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

Implement State Getters and Refactor Examples
  GEMINI.md
  examples/combustion_example.cpp
  include/state.h
  python/combaero/_core.cpp
  python/examples/gas_turbine_cycle.py
  python/examples/ic_engine_cycle.py
  python/examples/thermo_properties.py
  src/state.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

Update documentation with Antigravity attribution and State properties
  README.md
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/units_data.h
Due: cantera-validation-tests, python-unit-tests

docs: Add AI auto-sync requirement for API_REFERENCE.md and units_data.h
  GEMINI.md
Due: none

fix: add missing <cmath> include in state.cpp to resolve linux compile error
  src/state.cpp
Due: cantera-validation-tests, python-unit-tests

docs: add rule about strict cross-platform stdlib inclusion for CI
  GEMINI.md
Due: none

docs: explain MSVC compilation failure with M_PI constant
  GEMINI.md
Due: none

Feature: Additional Thermo Setters and Joint Properties (#9)
  GEMINI.md
  README.md
  TODO.md
  cantera_validation_tests/test_state_setters.py
  docs/API_REFERENCE.md
  docs/UNITS.md
  examples/combustion_example.cpp
  include/state.h
  include/thermo.h
  include/units_data.h
  python/combaero/_core.cpp
  python/examples/gas_turbine_cycle.py
  python/examples/ic_engine_cycle.py
  python/examples/thermo_properties.py
  src/state.cpp
  src/thermo.cpp
  tests/CMakeLists.txt
  tests/test_state.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

ci: streamline github actions workflows
  .github/workflows/ci.yml
  .github/workflows/cmake.yml
  .github/workflows/validation-tests.yml
Due: none

ci: streamline github actions workflows (#10)
  .github/workflows/ci.yml
  .github/workflows/cmake.yml
  .github/workflows/validation-tests.yml
Due: none

feat: implement HumidAir state object and full API unit synchronization
  GEMINI.md
  docs/API_REFERENCE.md
  docs/UNITS.md
  examples/humidair_example.cpp
  include/humidair.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/README.md
  python/tests/test_humidair.py
  python/tests/test_units_sync.py
  src/humidair.cpp
  tests/test_humidair.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: add unit introspection demo to thermo_properties example
  python/examples/thermo_properties.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: HumidAir API and Full Unit Synchronization (#11)
  GEMINI.md
  docs/API_REFERENCE.md
  docs/UNITS.md
  examples/humidair_example.cpp
  include/humidair.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/examples/thermo_properties.py
  python/tests/README.md
  python/tests/test_humidair.py
  python/tests/test_units_sync.py
  src/humidair.cpp
  tests/test_humidair.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implement high-performance C++ solver interface with analytical Jacobians
  CMakeLists.txt
  GEMINI.md
  include/math_constants.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/tests/test_solver_interface.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: extract magic physics coefficients into constexpr namespaces
  include/friction.h
  include/heat_transfer.h
  src/friction.cpp
  src/heat_transfer.cpp
  src/solver_interface.cpp
Due: cantera-validation-tests, python-unit-tests

docs: add Define Once rule for physics constants to GEMINI.md
  GEMINI.md
Due: none

feat(phase2): analytical Jacobians for density/enthalpy/viscosity + network topology scaffolding
  docs/METHODS_REFERENCE.md
  docs/NETWORK_ROADMAP.md
  docs/SOLVER.md
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/profile_network_costs.py
  python/tests/test_network_blocks.py
  python/tests/test_solver_interface.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: add CLAUDE.md for Claude Code session context
  CLAUDE.md
Due: none

fix(windows): add math_constants.h to solver_interface.cpp for M_LN10 (MSVC)
  src/solver_interface.cpp
Due: cantera-validation-tests, python-unit-tests

fix(pre-commit): extend POSIX math constant check to cover M_LN10, M_PI_2, M_PI_4, M_SQRT2
  scripts/check-source-style.sh
Due: none

Phase 2: Analytical Jacobians + Network Topology Scaffolding (#12)
  CLAUDE.md
  CMakeLists.txt
  GEMINI.md
  docs/METHODS_REFERENCE.md
  docs/NETWORK_ROADMAP.md
  docs/SOLVER.md
  include/friction.h
  include/heat_transfer.h
  include/math_constants.h
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/profile_network_costs.py
  python/tests/test_network_blocks.py
  python/tests/test_solver_interface.py
  python/tests/test_units_sync.py
  scripts/check-source-style.sh
  src/friction.cpp
  src/heat_transfer.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: bump version 0.0.2 -> 0.1.0
  CMakeLists.txt
  pyproject.toml
  python/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: enforce Define Once rule across friction, heat_transfer, orifice
  include/friction.h
  include/heat_transfer.h
  include/orifice.h
  src/friction.cpp
  src/heat_transfer.cpp
  src/orifice.cpp
Due: cantera-validation-tests, python-unit-tests

chore: bump version 0.0.2 -> 0.1.0 (#13)
  CMakeLists.txt
  pyproject.toml
  python/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: enforce Define Once rule across friction, heat_transfer, orifice (#14)
  include/friction.h
  include/heat_transfer.h
  include/orifice.h
  src/friction.cpp
  src/heat_transfer.cpp
  src/orifice.cpp
Due: cantera-validation-tests, python-unit-tests

feat: Add FlowNetwork Graph Topology and Auto-Discovery Mechanics
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/tests/test_network_blocks.py
  python/tests/test_units_sync.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: Add FlowNetwork Graph Topology and Auto-Discovery Mechanics (#15)
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/tests/test_network_blocks.py
  python/tests/test_units_sync.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: Add port angle tracking to MomentumChamberNode for directional flow momentum vectors
  python/combaero/network/components.py
  python/tests/test_network_blocks.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: Add dynamic combinatorial topology permutations to flow network testing
  python/tests/test_network_blocks.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: Add dynamic multi-branch chamber and topology tests (#16)
  python/combaero/network/components.py
  python/tests/test_network_blocks.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: Add CombustorNode with Complete/Equilibrium C++ Literal mapping
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_network_blocks.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: Add C++ bound LosslessConnectionElement enforcing P_total=P_total natively
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_network_blocks.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(roadmap): Mandate typing.Literal pattern for C++ core introspection
  docs/NETWORK_ROADMAP.md
Due: none

Fix pipe_mdot parameter order and update network block foundations for symmetric profiles
  include/incompressible.h
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/tests/test_network_blocks.py
  src/incompressible.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
