Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

docs(ejector): capture operating-regime findings and design (#261)
  CHANGELOG.md
  include/ejector.h
  python/combaero/network/_ejector_huang1999.py
  python/combaero/network/ejector_element.py
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(ejector): add off-design validation sources + digitized Henry2007 Fig.5
  CHANGELOG.md
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/data/henry2007_fig5.py
Due: none

chore(skills): track the model-provenance project skill
  .claude/skills/model-provenance/SKILL.md
  .gitignore
Due: none

docs(ejector): add off-design validation sources + digitized Henry2007 Fig.5 (#263)
  CHANGELOG.md
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/data/henry2007_fig5.py
Due: none

chore(skills): track the model-provenance project skill (#264)
  .claude/skills/model-provenance/SKILL.md
  .gitignore
Due: none

feat(ejector): subcritical-droop reference closures (Phase 1A)
  CHANGELOG.md
  python/combaero/network/_ejector_huang1999.py
  python/tests/test_ejector_subcritical.py
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/data/generate_reference.py
  validation/ejector/data/huang1999_reference.json
  validation/ejector/data/huang1999_reference_data.h
  validation/ejector/models/huang1999.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(ejector): subcritical-droop reference closures (Phase 1A) (#265)
  CHANGELOG.md
  python/combaero/network/_ejector_huang1999.py
  python/tests/test_ejector_subcritical.py
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/data/generate_reference.py
  validation/ejector/data/huang1999_reference.json
  validation/ejector/data/huang1999_reference_data.h
  validation/ejector/models/huang1999.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(ejector): unchoked-primary jet-pump reference closure (Phase 1B)
  CHANGELOG.md
  python/combaero/network/_ejector_huang1999.py
  python/tests/test_ejector_jetpump.py
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/data/generate_reference.py
  validation/ejector/data/huang1999_reference.json
  validation/ejector/data/huang1999_reference_data.h
  validation/ejector/models/huang1999.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(ejector): unchoked-primary jet-pump reference closure (Phase 1B) (#268)
  CHANGELOG.md
  python/combaero/network/_ejector_huang1999.py
  python/tests/test_ejector_jetpump.py
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/data/generate_reference.py
  validation/ejector/data/huang1999_reference.json
  validation/ejector/data/huang1999_reference_data.h
  validation/ejector/models/huang1999.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(biome): sync biome.json + pre-commit pin to 2.5.10
  .pre-commit-config.yaml
  CHANGELOG.md
  biome.json
Due: none

chore(biome): sync biome.json + pre-commit pin to 2.5.10 (#269)
  .pre-commit-config.yaml
  CHANGELOG.md
  biome.json
Due: none

feat(ejector): C++ Phase 2 port increments 1-2 (C-D nozzle R0)
  include/ejector.h
  python/combaero/network/_ejector_huang1999.py
  python/tests/test_ejector_jetpump.py
  src/ejector.cpp
  tests/test_ejector_jacobians.cpp
  tests/test_ejector_physics.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(ejector): C++ Phase 2 increment 3 core -- jet-pump mixed discharge
  include/ejector.h
  src/ejector.cpp
  tests/test_ejector_jacobians.cpp
Due: cantera-validation-tests, python-unit-tests

docs(ejector): Phase 2 element-assembly blueprint (increment 4 plan)
  validation/ejector/OPERATING_REGIMES_DESIGN.md
Due: none

feat(ejector): pybind the C-D nozzle + jet-pump discharge closures (incr 4a)
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(ejector): correct incr-4 blueprint -- 4-row derived P_py (rank spike)
  validation/ejector/OPERATING_REGIMES_DESIGN.md
Due: none

feat(ejector): nozzle_inverse -- C-D nozzle exit static (incr 4b)
  include/ejector.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/_ejector_huang1999.py
  python/tests/test_ejector_jetpump.py
  src/ejector.cpp
  tests/test_ejector_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(ejector): validate 4-row residual structure at both roots (incr 4c)
  validation/ejector/OPERATING_REGIMES_DESIGN.md
Due: none

docs(ejector): validate 4-row analytic Jacobian assembly (incr 4d)
  validation/ejector/OPERATING_REGIMES_DESIGN.md
Due: none

feat(ejector): resolve all three operating regimes in EjectorElement (Phase 2)
  CHANGELOG.md
  gui/backend/graph_builder.py
  python/combaero/network/ejector_element.py
  python/tests/test_ejector_element.py
  python/tests/test_gui_ejector.py
  validation/ejector/OPERATING_REGIMES_DESIGN.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor(ejector): move the 4-row element (f,J) assembly into C++
  CHANGELOG.md
  docs/API_PYTHON.md
  include/ejector.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/ejector_element.py
  src/ejector.cpp
  tests/test_ejector_jacobians.cpp
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(ejector): drop superseded handover.md reference
  validation/ejector/OPERATING_REGIMES_DESIGN.md
Due: none

feat(ejector): all-regime EjectorElement with whole-element C++ (f,J) (#270)
  CHANGELOG.md
  docs/API_PYTHON.md
  gui/backend/graph_builder.py
  include/ejector.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/_ejector_huang1999.py
  python/combaero/network/ejector_element.py
  python/tests/test_ejector_element.py
  python/tests/test_ejector_jetpump.py
  python/tests/test_gui_ejector.py
  src/ejector.cpp
  tests/test_ejector_jacobians.cpp
  tests/test_ejector_physics.cpp
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(junction): correct the unverified Hager/Bassett accuracy claim (#272 step 1)
  CHANGELOG.md
  docs/API_CPP.md
  include/multi_port_chamber.h
  include/solver_interface.h
  python/combaero/network/components.py
  python/tests/experimental_bounded_solver.py
  python/tests/test_momentum_cv_tier1_bassett.py
  python/tests/test_momentum_cv_vs_tee.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(junction): correct the unverified Hager/Bassett accuracy claim (#272 step 1) (#273)
  CHANGELOG.md
  docs/API_CPP.md
  include/multi_port_chamber.h
  include/solver_interface.h
  python/combaero/network/components.py
  python/tests/experimental_bounded_solver.py
  python/tests/test_momentum_cv_tier1_bassett.py
  python/tests/test_momentum_cv_vs_tee.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): infer flow area from every area-bearing neighbour (#262)
  CHANGELOG.md
  docs/API_PYTHON.md
  docs/archive/AREA_INFERENCE_262.md
  gui/backend/graph_builder.py
  python/combaero/network/components.py
  python/tests/test_area_inference.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): infer flow area from every area-bearing neighbour (#262) (#274)
  CHANGELOG.md
  docs/API_PYTHON.md
  docs/archive/AREA_INFERENCE_262.md
  gui/backend/graph_builder.py
  python/combaero/network/components.py
  python/tests/test_area_inference.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: retire the hygiene classification table, state the rule inline
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/archive/HYGIENE.md
Due: none

docs: retire the hygiene classification table, state the rule inline (#275)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/archive/HYGIENE.md
Due: none

fix(validation): compare K_straight against Bassett K2 on the right q (#272)
  python/tests/experimental_bounded_solver.py
  python/tests/test_momentum_cv_tier1_bassett.py
  validation/junction/models/hager1984.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): root-cause K_straight to the collinear-port sin^2 gate
  python/tests/test_momentum_cv_tier1_bassett.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): compare K_straight against Bassett K2 on the right q (#272) (#276)
  python/tests/experimental_bounded_solver.py
  python/tests/test_momentum_cv_tier1_bassett.py
  validation/junction/models/hager1984.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(junction): score MPCE-v1 K_straight instead of declaring it unsupported
  python/tests/test_junction_network_runner.py
  python/tests/test_multi_port_chamber_jacobian.py
  validation/junction/models/mpce_v1_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(junction): score MPCE-v1 K_straight instead of declaring it unsupported (#277)
  python/tests/test_junction_network_runner.py
  python/tests/test_multi_port_chamber_jacobian.py
  validation/junction/models/mpce_v1_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(junction): add MPCEv2's missing common-port pressure Jacobian column (#271)
  CHANGELOG.md
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_v2_flow_direction.py
  python/tests/test_mpce_v2_jacobian_rows.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(junction): add MPCEv2's missing common-port pressure Jacobian column (#271) (#278)
  CHANGELOG.md
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_v2_flow_direction.py
  python/tests/test_mpce_v2_jacobian_rows.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): correct the joining q convention and baseline K11/K12 (#271)
  python/tests/test_junction_network_runner.py
  validation/junction/models/mpce_v2_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): correct the joining q convention and baseline K11/K12 (#271) (#279)
  python/tests/test_junction_network_runner.py
  validation/junction/models/mpce_v2_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: provenance record for the MPCE junction Jacobian work (#271)
  docs/archive/JUNCTION_JACOBIAN_271.md
Due: none

test(junction): cover the MPCEv2 FD-fallback guards and pin the N>3 defect
  docs/archive/JUNCTION_JACOBIAN_271.md
  python/tests/test_mpce_v2_fd_fallback_guards.py
Due: python-style-check, cantera-validation-tests, python-unit-tests
