Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

fix: resolve test failures and improve test tolerances
  tests/test_stream_jacobians.cpp
  tests/test_thermo_transport.cpp
Due: none

fix: correct units bug in test_state.cpp
  tests/test_state.cpp
Due: none

refactor: Move energy boundary to Q and fraction parameters with full Jacobian support (#43)
  .pre-commit-config.yaml
  .pre-commit-hooks/check_math_constants.py
  .windsurf/workflows/commit-and-push.md
  CMakeLists.txt
  COMMIT_MSG.md
  include/solver_interface.h
  include/state.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/heat_transfer.py
  python/combaero/network/__init__.py
  python/combaero/network/combustion/combustion_result.py
  python/combaero/network/combustion/stoichiometry.py
  python/combaero/network/components.py
  python/tests/test_energy_boundary.py
  scripts/check-python-style.sh
  src/solver_interface.cpp
  src/state.cpp
  tests/test_energy_boundary.cpp
  tests/test_state.cpp
  tests/test_stream_jacobians.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add Y non-negativity and heat exchange node tests
  python/tests/test_energy_boundary.py
  python/tests/test_solver_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add Y non-negativity and heat exchange node tests (#44)
  python/tests/test_energy_boundary.py
  python/tests/test_solver_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: implement proper MomentumChamberNode with dynamic pressure
  COMMIT_MSG.md
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_energy_boundary.py
  python/tests/test_momentum_chamber.py
  python/tests/test_solver_robustness.py
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

style: fix ruff f-string linting issues
  python/tests/test_momentum_chamber.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

style: apply ruff formatting
  python/combaero/network/components.py
  python/tests/test_momentum_chamber.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: implement proper MomentumChamberNode with dynamic pressure (#45)
  COMMIT_MSG.md
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_momentum_chamber.py
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add analytical density Jacobian to orifice_mdot_and_jacobian
  COMMIT_MSG.md
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_momentum_chamber.py
  python/tests/test_network_solver.py
  python/tests/test_solver_interface.py
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: clarify orifice elements use incompressible formulation
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add analytical density Jacobian to orifice_mdot_and_jacobian (#46)
  include/solver_interface.h
  python/combaero/network/components.py
  python/tests/test_network_solver.py
  python/tests/test_solver_interface.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

perf: use native MinGW build on windows-latest instead of cross-compilation
  .github/workflows/ci.yml
Due: none

perf: use native MinGW build on windows-latest instead of cross-compilation (#47)
  .github/workflows/ci.yml
Due: none

refactor: use smooth floor for adiabatic temperature Jacobian finite differences
  src/solver_interface.cpp
Due: cantera-validation-tests, python-unit-tests

refactor: use smooth floor for adiabatic temperature Jacobian finite differences (#48)
  src/solver_interface.cpp
Due: cantera-validation-tests, python-unit-tests

refactor: fix stagnation property Jacobians for reverse flow and smooth floor
  .windsurf/workflows/create-pr-and-monitor.md
  debug_combustor.py
  python/tests/test_solver_interface.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: fix stagnation property Jacobians for reverse flow and smooth floor (#49)
  .windsurf/workflows/create-pr-and-monitor.md
  debug_combustor.py
  python/tests/test_solver_interface.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: add comprehensive bidirectional orifice flow tests
  python/tests/test_solver_interface.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: add comprehensive bidirectional orifice flow tests (#50)
  python/tests/test_solver_interface.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: document orifice Cd correlation limitations and future work
  include/orifice.h
Due: cantera-validation-tests, python-unit-tests

feat: Add compressible flow elements with smooth choked Jacobians
  docs/COMPRESSIBLE_FLOW_IMPLEMENTATION.md
  docs/UNITS.md
  include/solver_interface.h
  include/units_data.h
  python/combaero/_core.cpp
  python/examples/compressible_vs_incompressible_network.py
  python/tests/test_solver_interface.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: Add network scenario test for compressible flow elements
  python/tests/test_solver_interface.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: Integrate compressible flow functions into network solver
  .windsurf/workflows/commit-and-push.md
  .windsurf/workflows/create-pr-and-monitor.md
  .windsurf/workflows/ruff-fix-changed.md
  python/combaero/network/components.py
  python/tests/test_network_compressible.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: document orifice Cd correlation limitations and future work (#51)
  .windsurf/workflows/commit-and-push.md
  .windsurf/workflows/create-pr-and-monitor.md
  .windsurf/workflows/ruff-fix-changed.md
  docs/COMPRESSIBLE_FLOW_IMPLEMENTATION.md
  docs/UNITS.md
  include/orifice.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/examples/compressible_vs_incompressible_network.py
  python/tests/test_network_compressible.py
  python/tests/test_solver_interface.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: Add workflow improvements and turbo annotations
  .windsurf/workflows/create-pr-and-monitor.md
  .windsurf/workflows/merge-and-cleanup.md
Due: none

feat: Add workflow improvements and turbo annotations (#52)
  .windsurf/workflows/create-pr-and-monitor.md
  .windsurf/workflows/merge-and-cleanup.md
Due: none

docs: Comprehensive API documentation updates
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/COMBUSTION_ELEMENTS.md
  docs/SOLVER.md
  docs/SOLVER_REVIEW.md
  docs/SOLVER_REVIEW_FOLLOW_UP.md
Due: none

docs: Comprehensive API documentation updates (#53)
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/COMBUSTION_ELEMENTS.md
  docs/SOLVER.md
  docs/SOLVER_REVIEW.md
  docs/SOLVER_REVIEW_FOLLOW_UP.md
Due: none

feat(heat_transfer): Phase 1 - Add Jacobians and multipliers to channel_smooth
  docs/DESIGN_NETWORK_HEAT_TRANSFER.md
  include/heat_transfer.h
  include/units_data.h
  python/combaero/_core.cpp
  python/tests/test_channel_jacobians.py
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(heat_transfer): Phase 2 - Add Jacobians and multipliers to all channel variants
  include/heat_transfer.h
  python/combaero/_core.cpp
  python/tests/test_channel_jacobians.py
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(heat_transfer): Phase 3 - Add ConvectiveSurface dataclass and model subclasses
  python/combaero/heat_transfer.py
  python/tests/test_convective_surface.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(heat_transfer): Phase 4 - Add WallCouplingResult and wall_coupling_and_jacobian
  include/heat_transfer.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_wall_coupling.py
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(heat_transfer): Phase 5 - Add WallConnection dataclass and example
  examples/wall_coupling_simple.py
  python/combaero/heat_transfer.py
  python/tests/test_wall_connection.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor(heat_transfer): Step 1 - Move dataclasses to network.components
  python/combaero/heat_transfer.py
  python/combaero/network/__init__.py
  python/combaero/network/components.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): Step 2 - Add htc_and_T() to element hierarchy
  python/combaero/network/components.py
  python/tests/test_pipe_element_htc.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): Step 2 - Add htc_and_T() to element hierarchy
  COMMIT_MSG.md
Due: none

feat(network): Step 3 - Add FlowNetwork.add_wall() and thermal coupling toggle
  COMMIT_MSG.md
  python/combaero/network/graph.py
  python/tests/test_flow_network_walls.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): Step 4 - Solver wall coupling via EnergyBoundary + Jacobian relay
  COMMIT_MSG.md
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: propagate channel jacobians through pipe and walls
  COMMIT_MSG.md
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_convective_surface.py
  python/tests/test_pipe_element_htc.py
  python/tests/test_wall_connection.py
Due: python-style-check, cantera-validation-tests, python-unit-tests
