Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

test(junction): map one solvable failure by brute force; classify the sweep by port Mach
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/tests/test_junction_random_robustness.py
  validation/junction/random_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): restore the dividing-streamline recovery; retire Mynard's fitted transfer as its duplicate (#272) (#296)
  CHANGELOG.md
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/combaero/network/_mpce_v2_jacobian.py
  python/combaero/network/_mynard2010.py
  python/combaero/network/mpce_v2_element.py
  python/combaero/network/solver.py
  python/tests/test_bassett_fig7b_case.py
  python/tests/test_junction_coefficient_difference.py
  python/tests/test_junction_damping_band.py
  python/tests/test_junction_random_robustness.py
  python/tests/test_junction_score_at_achieved_q.py
  python/tests/test_junction_tuned_constants.py
  python/tests/test_junction_tuned_constants_proof.py
  python/tests/test_solver_timeout.py
  validation/junction/MPCE_CPP_PORT_DESIGN.md
  validation/junction/README.md
  validation/junction/models/mpce_v2_network.py
  validation/junction/random_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): return the best iterate a failed solve actually reached
  CHANGELOG.md
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/combaero/network/solver.py
  python/tests/test_solver_returns_best_iterate.py
  validation/junction/models/_network_builder.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): return the best iterate a failed solve actually reached (#299)
  CHANGELOG.md
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/combaero/network/solver.py
  python/tests/test_solver_returns_best_iterate.py
  validation/junction/models/_network_builder.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): score Wang 2014, the compressible data that was never used (#271)
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/tests/test_junction_network_runner.py
  validation/junction/MPCE_CPP_PORT_DESIGN.md
  validation/junction/README.md
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/network_runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): score Wang 2014, the compressible data that was never used (#271) (#300)
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/tests/test_junction_network_runner.py
  validation/junction/MPCE_CPP_PORT_DESIGN.md
  validation/junction/README.md
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/network_runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): score Bassett joining type 4, and fix two swapped leg labels (#271, #272)
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/tests/test_bassett_type4_joining.py
  validation/junction/README.md
  validation/junction/models/bassett2001.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/network_runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): score Bassett joining type 4, and fix two swapped leg labels (#271, #272) (#301)
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/tests/test_bassett_type4_joining.py
  validation/junction/README.md
  validation/junction/models/bassett2001.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/network_runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(junction): record the residual plateau as a mode seam (#271, #272)
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  validation/junction/MPCE_CPP_PORT_DESIGN.md
Due: none

fix(junction): move the soft barrier's fixed point out of the flow range (#272)
  CHANGELOG.md
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_soft_barrier_fixed_point.py
  validation/junction/MPCE_CPP_PORT_DESIGN.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(junction): move the soft barrier's fixed point out of the flow range (#272) (#302)
  CHANGELOG.md
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_soft_barrier_fixed_point.py
  validation/junction/MPCE_CPP_PORT_DESIGN.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(junction): derive the soft-barrier weight from the network's scales (#272)
  CHANGELOG.md
  docs/API_PYTHON.md
  python/combaero/network/mpce_v2_element.py
  python/combaero/network/solver.py
  python/tests/test_barrier_scale_awareness.py
  validation/junction/MPCE_CPP_PORT_DESIGN.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(junction): keep the barrier-scale import out of the package import
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(junction): derive the soft-barrier weight from the network's scales (#272) (#303)
  CHANGELOG.md
  docs/API_PYTHON.md
  python/combaero/network/mpce_v2_element.py
  python/combaero/network/solver.py
  python/tests/test_barrier_scale_awareness.py
  validation/junction/MPCE_CPP_PORT_DESIGN.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): report why a solve ended, not just whether it succeeded (#272)
  CHANGELOG.md
  docs/API_PYTHON.md
  gui/backend/runner.py
  python/combaero/network/__init__.py
  python/combaero/network/solver.py
  python/tests/test_solver_reporting_fields.py
  validation/junction/random_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): report why a solve ended, not just whether it succeeded (#272) (#304)
  CHANGELOG.md
  docs/API_PYTHON.md
  gui/backend/runner.py
  python/combaero/network/__init__.py
  python/combaero/network/solver.py
  python/tests/test_solver_reporting_fields.py
  validation/junction/random_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): extract DualN to a header and add the junction's transcendentals
  include/dual_number.h
  python/combaero/network/_mynard2010.py
  src/ejector.cpp
  tests/test_dual_number.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(solver): close the template-instantiation gap in the DualN coverage
  tests/test_dual_number.cpp
Due: none

feat(solver): extract DualN to a header and add the junction's transcendentals (#271) (#305)
  include/dual_number.h
  python/combaero/network/_mynard2010.py
  src/ejector.cpp
  tests/test_dual_number.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): port the Mynard closure to C++ on dual numbers (#271)
  include/mynard_junction.h
  tests/test_mynard_junction.cpp
  validation/junction/data/generate_mynard_reference.py
  validation/junction/data/mynard_reference_data.h
Due: cantera-validation-tests, python-unit-tests

feat(junction): port the Mynard closure to C++ on dual numbers (#271) (#307)
  include/mynard_junction.h
  tests/test_mynard_junction.cpp
  validation/junction/data/generate_mynard_reference.py
  validation/junction/data/mynard_reference_data.h
Due: cantera-validation-tests, python-unit-tests

feat(junction): whole-element (f, J) for the momentum-CV junction in C++ (#271)
  include/mpce_junction.h
  tests/test_mpce_junction.cpp
  validation/junction/data/generate_mpce_reference.py
  validation/junction/data/mpce_reference_data.h
Due: cantera-validation-tests, python-unit-tests

feat(junction): whole-element (f, J) for the momentum-CV junction in C++ (#271) (#308)
  include/mpce_junction.h
  tests/test_mpce_junction.cpp
  validation/junction/data/generate_mpce_reference.py
  validation/junction/data/mpce_reference_data.h
Due: cantera-validation-tests, python-unit-tests

feat(junction): compute the momentum-CV junction in C++, Python becomes a shim (#271)
  CHANGELOG.md
  docs/API_CPP.md
  python/combaero/_core.cpp
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_shim_relabelling.py
  python/tests/test_mpce_v2_closure_errors.py
  python/tests/test_mpce_v2_degenerate_iterates.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): compute the momentum-CV junction in C++, Python becomes a shim (#271) (#309)
  CHANGELOG.md
  docs/API_CPP.md
  python/combaero/_core.cpp
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_shim_relabelling.py
  python/tests/test_mpce_v2_closure_errors.py
  python/tests/test_mpce_v2_degenerate_iterates.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(skill): separate falsification from coverage, and name reward hacking
  .claude/skills/model-provenance/SKILL.md
Due: none

docs(skill): separate falsification from coverage, and name reward hacking (#310)
  .claude/skills/model-provenance/SKILL.md
Due: none

test(junction): score the Unified0D closure against Bassett with no solver (#272)
  python/tests/test_unified0d_closed_form_vs_bassett.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(junction): score the Unified0D closure against Bassett with no solver (#272) (#311)
  python/tests/test_unified0d_closed_form_vs_bassett.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(junction): audit ConstantKTeeElement instead of porting it (#271)
  python/tests/test_constant_k_tee_jacobian.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(junction): audit ConstantKTeeElement instead of porting it (#271) (#312)
  python/tests/test_constant_k_tee_jacobian.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): pair Bassett's K5 and K6 at one operating point (#272)
  CHANGELOG.md
  python/tests/test_bassett_fig7b_case.py
  python/tests/test_junction_score_at_achieved_q.py
  validation/junction/models/bassett2001.py
  validation/junction/models/mpce_v1_network.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/models/tee_junction_element_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): pair Bassett's K5 and K6 at one operating point (#272) (#314)
  CHANGELOG.md
  python/tests/test_bassett_fig7b_case.py
  python/tests/test_junction_score_at_achieved_q.py
  validation/junction/models/bassett2001.py
  validation/junction/models/mpce_v1_network.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/models/tee_junction_element_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(junction): close out the C++ port record before the v1 retirement
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  validation/junction/MPCE_CPP_PORT_DESIGN.md
Due: none

docs(junction): mark what PR #314 superseded
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  validation/junction/MPCE_CPP_PORT_DESIGN.md
Due: none

docs(junction): close out the C++ port record before the v1 retirement (#313)
  docs/archive/JUNCTION_OPERATING_POINT_271.md
  validation/junction/MPCE_CPP_PORT_DESIGN.md
Due: none

deprecate(junction): MultiPortChamberElement's own model, removal in 0.6.0 (#271)
  CHANGELOG.md
  python/combaero/network/components.py
  python/tests/test_v1_junction_deprecation.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

deprecate(junction): MultiPortChamberElement's own model, removal in 0.6.0 (#271) (#315)
  CHANGELOG.md
  python/combaero/network/components.py
  python/tests/test_v1_junction_deprecation.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(biome): sync biome.json + pre-commit pin to 2.5.12
  .gitignore
  .pre-commit-config.yaml
  biome.json
Due: none

chore(biome): sync biome.json + pre-commit pin to 2.5.12 (#316)
  .gitignore
  .pre-commit-config.yaml
  biome.json
Due: none
