Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

feat: optimize solver performance and add GUI timeout configuration (#90)
  COMMIT_MSG.md
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
  include/solver_interface.h
  profile.txt
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: remove accidental profile.txt from main
  profile.txt
Due: none

chore(deps-dev): upgrade pybind11 requirement to >=3.0.4
  pyproject.toml
Due: none

feat(solver): add sharp-edge and conical area change elements with analytical Jacobians
  COMMIT_MSG.md
  include/area_change.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/_core.cpp
  python/tests/test_area_change.py
  src/area_change.cpp
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: finalize area change integration and diagnostic expansion
  COMMIT_MSG.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/components/nodes/AreaChangeNode.tsx
  gui/frontend/src/utils/quantities.ts
  python/combaero/__init__.py
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_area_change.py
  python/tests/test_units_sync.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: harden area change diagnostics and validation
  gui/frontend/src/components/AreaInput.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/LengthInput.tsx
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/tests/test_area_change.py
  src/area_change.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

ui: improve Dh visual fallback and fix clearing in multiple components
  gui/frontend/src/components/Inspector.tsx
Due: none

ui: add m_dot initial guess override for area change element
  gui/frontend/src/components/Inspector.tsx
Due: none

ui: move area change validation to shared top-level warnings
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/utils/validation.ts
Due: none

feat: harden area change diagnostics and validation (#91)
  COMMIT_MSG.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/AreaInput.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/LengthInput.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/components/nodes/AreaChangeNode.tsx
  gui/frontend/src/utils/quantities.ts
  gui/frontend/src/utils/validation.ts
  include/area_change.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/tests/test_area_change.py
  python/tests/test_units_sync.py
  src/area_change.cpp
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: add hard solver timeouts and prevent empty network solve
  CLAUDE.md
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/frontend/src/App.tsx
  gui/frontend/src/store/useStore.ts
  gui/frontend/src/utils/validation.ts
Due: none

fix: add hard solver timeouts and prevent empty network solve (#92)
  CLAUDE.md
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/frontend/src/App.tsx
  gui/frontend/src/store/useStore.ts
  gui/frontend/src/utils/validation.ts
Due: none

feat: add stagnation and transport helpers with performance optimizations
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/stagnation.h
  include/transport.h
  include/units_data.h
  python/combaero/_core.cpp
  src/stagnation.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add stagnation and transport helpers with performance optimizations (#93)
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/stagnation.h
  include/transport.h
  include/units_data.h
  python/combaero/_core.cpp
  src/stagnation.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#94)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

ci: add ENABLE_CLAUDE_REVIEW condition to claude-review job
  .github/workflows/claude-code-review.yml
Due: none

feat: expose solver method selection in the GUI sidebar
  .github/workflows/claude.yml
  COMMIT_MSG.md
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
Due: none

feat: expose solver method selection in the GUI sidebar (#98)
  .github/workflows/claude.yml
  COMMIT_MSG.md
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
Due: none

feat: implement continuation solver and solver method selection
  COMMIT_MSG.md
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/App.tsx
  gui/frontend/src/api.ts
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
  python/combaero/network/solver.py
  python/tests/test_continuation_logic.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: resolve frontend lint and build issues
  gui/frontend/src/App.tsx
  gui/frontend/src/components/Sidebar.tsx
Due: none

feat: implement continuation solver and solver method selection (#99)
  COMMIT_MSG.md
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/App.tsx
  gui/frontend/src/api.ts
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
  python/combaero/network/solver.py
  python/tests/test_continuation_logic.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: switch versioning to setuptools-scm via git tags
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

fix: resolve scikit-build-core metadata mismatch in CI
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  uv.lock
Due: none

chore: switch versioning to setuptools-scm via git tags (#100)
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  pyproject.toml
  uv.lock
Due: none

refactor: remove WallConnection and clean up legacy module exports
  COMMIT_MSG.md
  python/combaero/__init__.py
  python/combaero/_solver_tools.py
  python/combaero/heat_transfer.py
  python/combaero/network/__init__.py
  python/combaero/network/combustion/combustion.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/examples/combustor_liner_cooling_network.py
  python/examples/network_from_grid.py
  python/examples/wall_coupling_simple.py
  python/tests/test_area_change.py
  python/tests/test_chamber_mixing.py
  python/tests/test_channel_element_htc.py
  python/tests/test_combustion_elements.py
  python/tests/test_diagnostics_schema.py
  python/tests/test_energy_boundary.py
  python/tests/test_flow_network_walls.py
  python/tests/test_jacobian_migration.py
  python/tests/test_network_blocks.py
  python/tests/test_network_compressible.py
  python/tests/test_network_solver.py
  python/tests/test_pressure_loss.py
  python/tests/test_units_sync.py
  python/tests/test_wall_connection.py
  python/tests/test_wall_coupling.py
  python/tests/test_wall_coupling_integration.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: remove WallConnection and clean up legacy module exports (#101)
  COMMIT_MSG.md
  python/combaero/__init__.py
  python/combaero/_solver_tools.py
  python/combaero/heat_transfer.py
  python/combaero/network/__init__.py
  python/combaero/network/combustion/combustion.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/examples/combustor_liner_cooling_network.py
  python/examples/network_from_grid.py
  python/examples/wall_coupling_simple.py
  python/tests/test_area_change.py
  python/tests/test_chamber_mixing.py
  python/tests/test_channel_element_htc.py
  python/tests/test_combustion_elements.py
  python/tests/test_diagnostics_schema.py
  python/tests/test_energy_boundary.py
  python/tests/test_flow_network_walls.py
  python/tests/test_jacobian_migration.py
  python/tests/test_network_blocks.py
  python/tests/test_network_compressible.py
  python/tests/test_network_solver.py
  python/tests/test_pressure_loss.py
  python/tests/test_units_sync.py
  python/tests/test_wall_connection.py
  python/tests/test_wall_coupling.py
  python/tests/test_wall_coupling_integration.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: integrate combustion endpoints directly with C++ backend
  python/combaero/network/__init__.py
  python/combaero/network/combustion/__init__.py
  python/combaero/network/combustion/combustion.py
  python/combaero/network/combustion/stoichiometry.py
  python/tests/test_combustion_elements.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: integrate combustion endpoints directly with C++ backend (#102)
  python/combaero/network/__init__.py
  python/combaero/network/combustion/__init__.py
  python/combaero/network/combustion/combustion.py
  python/combaero/network/combustion/stoichiometry.py
  python/tests/test_combustion_elements.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add diagnostics discovery panel and auto-promote scalar results
  COMMIT_MSG.md
  gui/frontend/src/components/DiagnosticsPanel.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NodeDiagRows.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/nodes/AreaChangeNode.tsx
  gui/frontend/src/components/nodes/ChannelNode.tsx
  gui/frontend/src/components/nodes/CombustorNode.tsx
  gui/frontend/src/components/nodes/DiscreteLossNode.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  gui/frontend/src/components/nodes/ProbeNode.tsx
  gui/frontend/src/store/useStore.ts
  gui/frontend/src/utils/diagnostics.ts
  gui/frontend/src/utils/quantities.ts
Due: none

feat: add diagnostics discovery panel and auto-promote scalar results (#103)
  COMMIT_MSG.md
  gui/frontend/src/components/DiagnosticsPanel.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NodeDiagRows.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/nodes/AreaChangeNode.tsx
  gui/frontend/src/components/nodes/ChannelNode.tsx
  gui/frontend/src/components/nodes/CombustorNode.tsx
  gui/frontend/src/components/nodes/DiscreteLossNode.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  gui/frontend/src/components/nodes/ProbeNode.tsx
  gui/frontend/src/store/useStore.ts
  gui/frontend/src/utils/diagnostics.ts
  gui/frontend/src/utils/quantities.ts
Due: none

feat: decouple combaero-gui from core build — sdist exclusion, entry point, CI split
  .github/workflows/ci.yml
  gui/backend/main.py
  gui/backend/schemas.py
  gui/backend/units.py
  gui/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

docs: finalize packaging separation plan and rename review doc
  docs/PACKAGING.md
  docs/REVIEW_NETWORK_GUI.md
Due: none

feat: decouple combaero-gui from core build (sdist, entry point, CI) (#104)
  .github/workflows/ci.yml
  docs/PACKAGING.md
  docs/REVIEW_NETWORK_GUI.md
  gui/backend/main.py
  gui/backend/schemas.py
  gui/backend/units.py
  gui/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

docs: modernize and streamline documentation suite
  .github/assets/combaero_banner.png
  CLAUDE.md
  COMMIT_MSG.md
  CONTRIBUTING.md
  GEMINI.md
  HEREDOC_ISSUES.md
  README.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  cantera_validation_tests/README.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/BUILDING.md
  docs/DEVELOPMENT.md
  docs/GUI_TECHNICAL.md
  docs/HYGIENE.md
  docs/NETWORK_ROADMAP.md
  docs/PACKAGING.md
  docs/archive/COMPRESSIBLE_FLOW_IMPLEMENTATION.md
  docs/archive/DESIGN_NETWORK_HEAT_TRANSFER.md
  docs/archive/MACH_LIMIT_BENCHMARK_RESULT.md
  docs/archive/MACH_LIMIT_SOLVER_LIMITS.md
  gui/README.md
  gui/frontend/README.md
  python/README.md
  scripts/README.md
  thermo_data_generator/README.md
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check

docs: modernize and streamline documentation suite (#105)
  .github/assets/combaero_banner.png
  CLAUDE.md
  COMMIT_MSG.md
  CONTRIBUTING.md
  GEMINI.md
  HEREDOC_ISSUES.md
  README.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  cantera_validation_tests/README.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/BUILDING.md
  docs/DEVELOPMENT.md
  docs/GUI_TECHNICAL.md
  docs/HYGIENE.md
  docs/NETWORK_ROADMAP.md
  docs/PACKAGING.md
  docs/archive/COMPRESSIBLE_FLOW_IMPLEMENTATION.md
  docs/archive/DESIGN_NETWORK_HEAT_TRANSFER.md
  docs/archive/MACH_LIMIT_BENCHMARK_RESULT.md
  docs/archive/MACH_LIMIT_SOLVER_LIMITS.md
  gui/README.md
  gui/frontend/README.md
  python/README.md
  scripts/README.md
  thermo_data_generator/README.md
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check

hygiene: purge stale python/scripts and centralize profiling benchmark
  benchmarks/function_profiling.py
  python/scripts/verify_phase2_aliases.py
Due: python-style-check, cantera-validation-tests, python-unit-tests
