Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cantera-validation-tests, python-unit-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Ruff - fast Python linter (replaces flake8, isort, and more)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --line-length=100]
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
      - id: ruff-format
        args: [--line-length=100]
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)

  # Black - Python code formatter
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        args: [--line-length=100]
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)

  # isort - Python import sorter
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)

  - repo: local
    hooks:
      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'cd cantera_validation_tests && poetry install --quiet && poetry run pytest -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c 'cd python && python -m pytest tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [commit]

Complete Phase 8: Add air properties bundle with AirProperties dataclass
  TODO.md
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/thermo.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_air_properties.py
  src/thermo.cpp
Due: cantera-validation-tests, python-unit-tests

Update TODO.md with Phase 8 commit hash
  TODO.md
Due: none

Remove isort in favor of ruff, fix deprecated pre-commit stage names
  .pre-commit-config.yaml
  cantera_validation_tests/analyze_viscosity.py
  tests/test_orifice.cpp
  thermo_data_generator/generate_thermo_data.py
Due: cantera-validation-tests

Redesign Phase 10: Add real gas support (Z factor) and OrificeFlowResult dataclass
  TODO.md
Due: none

Complete Phase 10: Add orifice flow utilities with real gas support
  TODO.md
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/orifice.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_orifice_flow.py
  src/orifice.cpp
Due: cantera-validation-tests, python-unit-tests

Update TODO.md with Phase 10 commit hash
  TODO.md
Due: none

Complete Phase 11: Add acoustic properties utilities with dataclass pattern
  TODO.md
  cantera_validation_tests/analyze_viscosity.py
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/acoustics.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_acoustic_properties.py
  src/acoustics.cpp
  thermo_data_generator/generate_thermo_data.py
Due: cantera-validation-tests, python-unit-tests

Update TODO.md with Phase 11 commit hash
  TODO.md
Due: none

Update TODO.md completion status - Phases 8, 10, 11 complete
  TODO.md
Due: none

Add TODO for composite dataclass states (Phases 12-15)
  TODO.md
Due: none

Complete Phase 12: Add ThermoState dataclass
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/thermo.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_thermo_state.py
  src/thermo.cpp
Due: cantera-validation-tests, python-unit-tests

Complete Phase 13: Add TransportState dataclass
  TODO.md
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/transport.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_transport_state.py
  src/transport.cpp
Due: cantera-validation-tests, python-unit-tests

Refactor dataclass tests to use individual property functions as reference
  TODO.md
  python/tests/test_acoustic_properties.py
  python/tests/test_air_properties.py
  python/tests/test_thermo_state.py
Due: cantera-validation-tests, python-unit-tests

Update Phase 14: CombustionState with nested ThermoState design
  TODO.md
Due: none

Reorder phases: Implement Phase 15 (CompleteState) before Phase 14
  TODO.md
Due: none

Add combustion_state_from_streams() variant to Phase 14
  TODO.md
Due: none

Complete Phase 15: Add CompleteState dataclass
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/thermo.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_complete_state.py
  src/thermo.cpp
Due: cantera-validation-tests, python-unit-tests

Mark Phase 15 complete in TODO.md
  TODO.md
Due: none

Add materials database with thermal conductivity functions
  CMakeLists.txt
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/materials.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_materials.py
  src/materials.cpp
Due: cantera-validation-tests, python-unit-tests

Add CombustionState dataclass (Phase 14)
  CMakeLists.txt
  TODO.md
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/combustion.h
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_combustion_state.py
  python/tests/test_cooling_correlations.py
  src/combustion.cpp
  src/cooling_correlations.cpp
Due: cantera-validation-tests, python-unit-tests

Add multi-row film cooling (Sellers superposition)
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_correlations.py
  src/cooling_correlations.cpp
Due: cantera-validation-tests, python-unit-tests

Add effusion cooling (Phase C)
  docs/UNITS.md
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_correlations.py
  src/cooling_correlations.cpp
Due: cantera-validation-tests, python-unit-tests

Enhance TBC sintering model with EB-PVD support
  docs/UNITS.md
  include/materials.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_correlations.py
  python/tests/test_materials.py
  src/materials.cpp
Due: cantera-validation-tests, python-unit-tests

Add pin fin and dimple cooling correlations (Phase D)
  docs/UNITS.md
  include/cooling_correlations.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_correlations.py
  python/tests/test_materials.py
  src/cooling_correlations.cpp
Due: cantera-validation-tests, python-unit-tests

Add advanced thermoacoustic transfer matrix tools (Phase E)
  docs/UNITS.md
  include/acoustics.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_acoustics.py
  python/tests/test_cooling_correlations.py
  src/acoustics.cpp
Due: cantera-validation-tests, python-unit-tests

Add can-annular combustor structures (Phase F prep)
  include/acoustics.h
  python/combaero/__init__.py
  python/tests/test_acoustics.py
Due: cantera-validation-tests, python-unit-tests

Fix all CI test failures and style issues
  TODO.md
  python/tests/test_acoustics.py
  python/tests/test_cooling_correlations.py
  python/tests/test_materials.py
Due: cantera-validation-tests, python-unit-tests

Remove non-ASCII characters from test files
  python/tests/test_acoustic_properties.py
  python/tests/test_materials.py
  python/tests/test_orifice_flow.py
  python/tests/test_thermo_state.py
Due: cantera-validation-tests, python-unit-tests

Add can-annular combustor structures and implementation (Phase F - WIP)
  TODO.md
  python/combaero/__init__.py
  python/combaero/_core.cpp
  src/acoustics.cpp
Due: cantera-validation-tests, python-unit-tests

Implement full Argument Principle + Muller's method for can-annular (WIP)
  python/combaero/__init__.py
  python/combaero/_core.cpp
  src/acoustics.cpp
Due: cantera-validation-tests, python-unit-tests

Can-annular: Implement code review fixes (Argument Principle + magnitude minimization)
  src/acoustics.cpp
Due: cantera-validation-tests, python-unit-tests

Can-annular: Switch to continuous sliding window scan
  src/acoustics.cpp
Due: cantera-validation-tests, python-unit-tests

Add research-grade Argument Principle solver (dual solver architecture)
  CMakeLists.txt
  include/can_annular_solvers.h
  src/acoustics.cpp
  src/can_annular_solvers.cpp
Due: cantera-validation-tests, python-unit-tests

Add annular duct eigenmode solver using Argument Principle
  include/can_annular_solvers.h
  src/can_annular_solvers.cpp
Due: cantera-validation-tests, python-unit-tests

Add comprehensive test suite for can-annular acoustics
  python/tests/test_can_annular_acoustics.py
Due: cantera-validation-tests, python-unit-tests

Add Python bindings and tests for annular duct solver
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_annular_duct_acoustics.py
Due: cantera-validation-tests, python-unit-tests

Fix: Add missing include for can_annular_solvers.h
  python/combaero/_core.cpp
Due: cantera-validation-tests, python-unit-tests

Fix include paths for can_annular_solvers.h
  python/combaero/_core.cpp
Due: cantera-validation-tests, python-unit-tests

✓ COMPLETE: Annular duct solver with full test coverage
  include/can_annular_solvers.h
Due: cantera-validation-tests, python-unit-tests

✓ FINAL: Fix Python imports and code style - All 562 tests passing!
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_annular_duct_acoustics.py
  python/tests/test_can_annular_acoustics.py
  src/acoustics.cpp
  src/can_annular_solvers.cpp
Due: cantera-validation-tests, python-unit-tests
