Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

fix(docs): the units generator was silently dropping 35 entries
  docs/UNITS.md
  include/units_data.h
  scripts/generate_units_md.py
Due: cantera-validation-tests, python-unit-tests

test(ejector): cover the smootherstep blend band and its derivative (#306)
  tests/test_ejector_jacobians.cpp
Due: none

fix(docs): the units generator was silently dropping 35 entries (#317)
  docs/UNITS.md
  include/units_data.h
  scripts/generate_units_md.py
Due: cantera-validation-tests, python-unit-tests

test(ejector): cover the smootherstep blend band and its derivative (#306) (#318)
  tests/test_ejector_jacobians.cpp
Due: none

chore(release): cut 0.5.0 and move the GUI pin in lockstep
  CHANGELOG.md
  gui/pyproject.toml
Due: none

chore(release): cut 0.5.0 and move the GUI pin in lockstep (#319)
  CHANGELOG.md
  gui/pyproject.toml
Due: none

fix(gui): CSV export has been broken since May (#7 in the GUI issue list)
  gui/backend/main.py
  python/tests/test_gui_export_endpoint.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): CSV export has been broken since May (#7 in the GUI issue list) (#320)
  gui/backend/main.py
  python/tests/test_gui_export_endpoint.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

remove(junction): MultiPortChamberElement's own model and its C++ stack (#271)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/multi_port_chamber.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/components.py
  python/tests/experimental_bounded_solver.py
  python/tests/test_junction_network_runner.py
  python/tests/test_momentum_cv_tier1_bassett.py
  python/tests/test_momentum_cv_vs_tee.py
  python/tests/test_multi_port_chamber.py
  python/tests/test_multi_port_chamber_jacobian.py
  python/tests/test_network_compressible.py
  python/tests/test_v1_junction_deprecation.py
  python/tests/test_v1_junction_removal.py
  src/solver_interface.cpp
  tests/test_multi_port_chamber.cpp
  validation/junction/models/mpce_v1_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

remove(junction): MultiPortChamberElement's own model and its C++ stack (#271) (#322)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/multi_port_chamber.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/components.py
  python/tests/experimental_bounded_solver.py
  python/tests/test_junction_network_runner.py
  python/tests/test_momentum_cv_tier1_bassett.py
  python/tests/test_momentum_cv_vs_tee.py
  python/tests/test_multi_port_chamber.py
  python/tests/test_multi_port_chamber_jacobian.py
  python/tests/test_network_compressible.py
  python/tests/test_v1_junction_deprecation.py
  python/tests/test_v1_junction_removal.py
  src/solver_interface.cpp
  tests/test_multi_port_chamber.cpp
  validation/junction/models/mpce_v1_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(release): cut 0.6.0 and move the GUI pin in lockstep
  CHANGELOG.md
  gui/pyproject.toml
Due: none

chore(release): cut 0.6.0 and move the GUI pin in lockstep (#324)
  CHANGELOG.md
  gui/pyproject.toml
Due: none

docs(release): sign release tags with -s, and say why
  CLAUDE.md
Due: none

docs(release): sign release tags with -s, and say why (#325)
  CLAUDE.md
Due: none

fix(ci): wait on the PyPI index representation uv actually reads
  .github/workflows/publish-gui.yml
Due: none

fix(ci): wait on the PyPI index representation uv actually reads (#326)
  .github/workflows/publish-gui.yml
Due: none

chore(skills): track write-pr, fix its casing and guidance
  .claude/skills/write-pr/SKILL.md
  .gitignore
Due: none

chore(skills): track write-pr, fix its casing and guidance (#327)
  .claude/skills/write-pr/SKILL.md
  .gitignore
Due: none

fix(channel): pin-fin and impingement surfaces had a wrong Jacobian
  CHANGELOG.md
  docs/API_CPP.md
  include/heat_transfer.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_channel_element_jacobian_fd.py
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(channel): pin-fin and impingement surfaces had a wrong Jacobian (#328)
  CHANGELOG.md
  docs/API_CPP.md
  include/heat_transfer.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_channel_element_jacobian_fd.py
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(cooling): dimple friction has no Reynolds dependence; stop pretending
  CHANGELOG.md
  include/cooling_correlations.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/tests/test_solver_interface.py
  src/cooling_correlations.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(cooling): dimple friction has no Reynolds dependence; stop pretending (#330)
  CHANGELOG.md
  include/cooling_correlations.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/tests/test_solver_interface.py
  src/cooling_correlations.cpp
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor(channel): stop restating pipe friction in Python
  CHANGELOG.md
  python/combaero/network/components.py
  python/tests/test_channel_jacobians.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor(channel): stop restating pipe friction in Python (#331)
  CHANGELOG.md
  python/combaero/network/components.py
  python/tests/test_channel_jacobians.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(cooling): refresh the flag list -- 10 and 25 resolved, 10b and 18 raised
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): items 7, 10 and 23 resolved from the section text; flag list raised
  .gitignore
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): Eq 4.18 confirmed; it conflicts with Fig 4.46 on G
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): page 377 resolves the m rule, adds validity and the W/H cap
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): extraction record for the Han rib correlations, for review
  .gitignore
  scripts/ocr_page.swift
  validation/cooling/extractions/README.md
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): CONFIRMED -- Han rib extraction released for implementation
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): Fig 4.47 read; item 10 corrected -- G_bar = 1.2 G is stated
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): item 25 confirmed at Pr ~ 0.7; record the trap in closing it
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): Webb, Eckert & Goldstein (1972) as the Prandtl candidate
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): all flags closed; D3 records a knowing departure from the book
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): withdraw D3 -- the trailing factor was a typesetting misread
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): make the extraction document reviewable, not just complete
  validation/cooling/extractions/README.md
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): record D1, following Han in treating R as constant in e+
  validation/cooling/extractions/README.md
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): reopen item 7 after a reviewer challenged the flat-line reading
  validation/cooling/extractions/han_ribbed.md
Due: none
