Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

docs(cooling): items 10 and 25 resolved -- the Prandtl scaling is inside Fig 4.46
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): confirmed extraction of the Han rib correlations (#340)
  .gitignore
  scripts/ocr_page.swift
  validation/cooling/extractions/README.md
  validation/cooling/extractions/han_ribbed.md
Due: none

docs(cooling): begin the high-Re rib extraction; blocked on Figure 4.193
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): Figure 4.193 extracted; Eq 4.19 added; one item unresolved
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): digitised curves confirm the old correlation, exclude both new readings
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): the data cloud locates the fault in the printed equation
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): item 31 is not a misreading -- the book disagrees with its own figure
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): a sibling paper corroborates the misprint; it is not the cited one
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): item 31 resolved -- the textbook lost a decimal place
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): CONFIRMED -- high-Re rib extraction released
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): confirmed high-Re rib extraction (the textbook loses a decimal) (#341)
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): high-performance ribs recorded; Fig 4.54 corroborates item 10
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

docs(cooling): high-performance ribs recorded; Fig 4.54 corroborates item 10 (#345)
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/extractions/han_ribbed_high_re.md
Due: none

remove(cooling): every correlation whose provenance did not survive review
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  examples/cooling_example.cpp
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
  include/cooling_correlations.h
  include/heat_transfer.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/heat_transfer.py
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/examples/combustor_liner_cooling_network.py
  python/tests/test_channel_element_htc.py
  python/tests/test_channel_element_jacobian_fd.py
  python/tests/test_channel_flow.py
  python/tests/test_channel_jacobians.py
  python/tests/test_combustor_liner_cooling_coupled.py
  python/tests/test_convective_surface.py
  python/tests/test_cooling_correlations.py
  python/tests/test_gui_removed_surfaces.py
  python/tests/test_solver_interface.py
  src/cooling_correlations.cpp
  src/heat_transfer.cpp
  src/solver_interface.cpp
  tests/test_heat_transfer_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

remove(cooling): every correlation whose provenance did not survive review (#346)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  examples/cooling_example.cpp
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
  include/cooling_correlations.h
  include/heat_transfer.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/heat_transfer.py
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/examples/combustor_liner_cooling_network.py
  python/tests/test_channel_element_htc.py
  python/tests/test_channel_element_jacobian_fd.py
  python/tests/test_channel_flow.py
  python/tests/test_channel_jacobians.py
  python/tests/test_combustor_liner_cooling_coupled.py
  python/tests/test_convective_surface.py
  python/tests/test_cooling_correlations.py
  python/tests/test_gui_removed_surfaces.py
  python/tests/test_solver_interface.py
  src/cooling_correlations.cpp
  src/heat_transfer.cpp
  src/solver_interface.cpp
  tests/test_heat_transfer_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): parametrised rib correlations with provenanced parameter sets
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/rib_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_rib_correlation_sets.py
  src/rib_correlation.cpp
  tests/test_rib_correlation.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(cooling): explicit <algorithm> for std::max on an initializer list
  tests/test_rib_correlation.cpp
Due: none

feat(cooling): parametrised rib correlations with provenanced parameter sets (#347)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/rib_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_rib_correlation_sets.py
  src/rib_correlation.cpp
  tests/test_rib_correlation.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): ribbed channels, on provenanced parameter sets
  CHANGELOG.md
  CLAUDE.md
  docs/API_PYTHON.md
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_ribbed_channel_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): ribbed channels, on provenanced parameter sets (#348)
  CHANGELOG.md
  CLAUDE.md
  docs/API_PYTHON.md
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_ribbed_channel_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(cooling): a ribbed channel must converge in a real network solve
  python/tests/test_ribbed_channel_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(cooling): a ribbed channel must converge in a real network solve (#349)
  python/tests/test_ribbed_channel_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): ribbed surfaces are selectable again
  CHANGELOG.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
  python/tests/test_gui_removed_surfaces.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): the frontend type was missing the new ribbed fields
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
Due: none

feat(gui): ribbed surfaces are selectable again (#350)
  CHANGELOG.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
  python/tests/test_gui_removed_surfaces.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(examples): repair 11 broken examples and gate them in CI
  .github/workflows/validation-tests.yml
  CHANGELOG.md
  CMakeLists.txt
  examples/combustion_state_example.cpp
  examples/compressible_example.cpp
  examples/stagnation_example.cpp
  python/combaero/heat_transfer.py
  python/combaero/network/components.py
  python/examples/combustor_heat_transfer.py
  python/examples/combustor_liner_cooling_network.py
  python/examples/combustor_liner_cooling_standalone.py
  python/examples/compare_combustor_implementations.py
  python/examples/compressible_flow_example.py
  python/examples/counterflow_effusion_combustor.py
  python/examples/reactor_design.py
  python/examples/wall_coupling_simple.py
  python/tests/test_combustor_liner_cooling_coupled.py
  python/tests/test_ribbed_channel_element.py
  scripts/run_examples.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(examples): repair 11 broken examples and gate them in CI (#353)
  .github/workflows/validation-tests.yml
  CHANGELOG.md
  CMakeLists.txt
  examples/combustion_state_example.cpp
  examples/compressible_example.cpp
  examples/stagnation_example.cpp
  python/combaero/heat_transfer.py
  python/combaero/network/components.py
  python/examples/combustor_heat_transfer.py
  python/examples/combustor_liner_cooling_network.py
  python/examples/combustor_liner_cooling_standalone.py
  python/examples/compare_combustor_implementations.py
  python/examples/compressible_flow_example.py
  python/examples/counterflow_effusion_combustor.py
  python/examples/reactor_design.py
  python/examples/wall_coupling_simple.py
  python/tests/test_combustor_liner_cooling_coupled.py
  python/tests/test_ribbed_channel_element.py
  scripts/run_examples.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(changelog): consolidate the [Unreleased] duplicate section headers
  CHANGELOG.md
  python/combaero/network/graph.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(changelog): consolidate the [Unreleased] duplicate section headers (#354)
  CHANGELOG.md
  python/combaero/network/graph.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(state): compressible solvers returned states that could not be mixed
  CHANGELOG.md
  include/state.h
  python/combaero/_core.cpp
  src/compressible.cpp
  src/state.cpp
  tests/test_state_sync.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(state): compressible solvers returned states that could not be mixed (#355)
  CHANGELOG.md
  include/state.h
  python/combaero/_core.cpp
  src/compressible.cpp
  src/state.cpp
  tests/test_state_sync.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(compressible): the Fanno choke path handed Newton a staircase
  CHANGELOG.md
  include/solver_interface.h
  src/compressible.cpp
  src/solver_interface.cpp
  tests/test_fanno_choke_smoothness.cpp
Due: cantera-validation-tests, python-unit-tests

fix(compressible): the Fanno choke path handed Newton a staircase (#358)
  CHANGELOG.md
  include/solver_interface.h
  src/compressible.cpp
  src/solver_interface.cpp
  tests/test_fanno_choke_smoothness.cpp
Due: cantera-validation-tests, python-unit-tests

feat(network): compressible stagnation closure at the momentum chamber
  CHANGELOG.md
  include/mpce_junction.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/mpce_element.py
  python/tests/test_barrier_scale_awareness.py
  python/tests/test_constant_k_tee.py
  python/tests/test_constant_k_tee_jacobian.py
  python/tests/test_mpce_shim_relabelling.py
  python/tests/test_mpce_soft_barrier_fixed_point.py
  python/tests/test_network_compressible.py
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): compressible stagnation closure at the momentum chamber (#361)
  CHANGELOG.md
  include/mpce_junction.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/mpce_element.py
  python/tests/test_barrier_scale_awareness.py
  python/tests/test_constant_k_tee.py
  python/tests/test_constant_k_tee_jacobian.py
  python/tests/test_mpce_shim_relabelling.py
  python/tests/test_mpce_soft_barrier_fixed_point.py
  python/tests/test_network_compressible.py
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(compressible): the Fanno march was integrating Darcy-Weisbach
  .gitignore
  CHANGELOG.md
  include/compressible.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_compressible.py
  python/tests/test_solver_interface.py
  src/compressible.cpp
  src/solver_interface.cpp
  tests/test_fanno_choke_smoothness.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(compressible): the Fanno march was integrating Darcy-Weisbach (#364)
  .gitignore
  CHANGELOG.md
  include/compressible.h
  include/solver_interface.h
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/tests/test_compressible.py
  python/tests/test_solver_interface.py
  src/compressible.cpp
  src/solver_interface.cpp
  tests/test_fanno_choke_smoothness.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(compressible): refine the Fanno march step near the sonic point
  CHANGELOG.md
  include/compressible.h
  src/compressible.cpp
  tests/test_fanno_choke_smoothness.cpp
Due: cantera-validation-tests, python-unit-tests

fix(compressible): refine the Fanno march step near the sonic point (#365)
  CHANGELOG.md
  include/compressible.h
  src/compressible.cpp
  tests/test_fanno_choke_smoothness.cpp
Due: cantera-validation-tests, python-unit-tests

feat(validation): scored harness for the cooling correlations
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/__init__.py
  validation/cooling/data/han2012/fig4.193c_G_scatter.csv
  validation/cooling/data/han2012/fig4.193c_new_correlation_G_curve.csv
  validation/cooling/data/han2012/fig4.193c_old_correlation_G_curve.csv
  validation/cooling/data/han2012/fig4.53_60deg_vcontinuous_Nu_ratio.csv
  validation/cooling/data/han2012/fig4.53_90deg_continuous_Nu_ratio.csv
  validation/cooling/data/han2012/fig4.54_45deg_vbroken_Gbar_data.csv
  validation/cooling/data/han2012/fig4.54_90deg_continuous_Gbar_curve.csv
  validation/cooling/data/han2012/fig4.54_90deg_continuous_Gbar_data.csv
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/runner.py
  validation/cooling/schema.py
  validation/cooling/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests
