Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

feat(validation): scored harness for the cooling correlations (#366)
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/__init__.py
  validation/cooling/data/han2012/fig4.193c_G_scatter.csv
  validation/cooling/data/han2012/fig4.193c_new_correlation_G_curve.csv
  validation/cooling/data/han2012/fig4.193c_old_correlation_G_curve.csv
  validation/cooling/data/han2012/fig4.53_60deg_vcontinuous_Nu_ratio.csv
  validation/cooling/data/han2012/fig4.53_90deg_continuous_Nu_ratio.csv
  validation/cooling/data/han2012/fig4.54_45deg_vbroken_Gbar_data.csv
  validation/cooling/data/han2012/fig4.54_90deg_continuous_Gbar_curve.csv
  validation/cooling/data/han2012/fig4.54_90deg_continuous_Gbar_data.csv
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/runner.py
  validation/cooling/schema.py
  validation/cooling/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): cross-verify digitised series against a figure card
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/schema.py
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): cross-verify digitised series against a figure card (#367)
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/schema.py
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): candidate mode and the figure 4.46 cards
  validation/cooling/cards/fig4.46_G_solid.yaml
  validation/cooling/cards/fig4.46_Gbar_dashed.yaml
  validation/cooling/cards/fig4.46_R_constant.yaml
  validation/cooling/verify.py
Due: none

docs(validation): record the carried-over calibration catch
  validation/cooling/README.md
Due: none

feat(validation): panel frames as distortion standards
  validation/cooling/cards/fig4.46_frames.yaml
  validation/cooling/data/han2012/fig4.46_frame_lower.csv
  validation/cooling/data/han2012/fig4.46_frame_upper.csv
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/schema.py
  validation/cooling/verify.py
Due: none

feat(validation): directory mode and panel-scatter cards
  validation/cooling/cards/fig4.46_G_scatter.yaml
  validation/cooling/cards/fig4.46_R_scatter.yaml
  validation/cooling/verify.py
Due: none

feat(validation): digitise figure 4.46, the source for han_1988_orthogonal
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/data/han2012/fig4.46_G_eD0.021_pe10_wh1.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.042_pe10_wh1.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.047_pe10_wh1.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.047_pe10_wh2.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.047_pe20_wh1.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.047_pe20_wh2.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.063_pe10_wh1.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.063_pe20_wh1.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.078_pe10_wh4.csv
  validation/cooling/data/han2012/fig4.46_G_eD0.078_pe20_wh4.csv
  validation/cooling/data/han2012/fig4.46_G_solid.csv
  validation/cooling/data/han2012/fig4.46_Gbar_dashed.csv
  validation/cooling/data/han2012/fig4.46_R_constant.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.021_pe10_wh1.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.042_pe10_wh1.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.047_pe10_wh1.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.047_pe10_wh2.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.047_pe20_wh1.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.047_pe20_wh2.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.063_pe10_wh1.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.063_pe20_wh1.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.078_pe10_wh4.csv
  validation/cooling/data/han2012/fig4.46_R_eD0.078_pe20_wh4.csv
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/runner.py
  validation/cooling/scorecard.py
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): make a disputed class label a first-class state
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/runner.py
  validation/cooling/schema.py
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): redraw a digitised figure from the committed data
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/plot.py
  validation/cooling/schema.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): plots default to a gitignored dir and carry their citation
  .gitignore
  validation/cooling/README.md
  validation/cooling/plot.py
Due: none

docs(validation): a drawn line is not its printed equation
  validation/cooling/README.md
Due: none

docs(validation): G and G_bar do not rank the same
  validation/cooling/README.md
  validation/cooling/cards/fig4.51_Gbar_scatter.yaml
Due: none

fix(validation): the 1.2 G_bar ratio is a 90 degree result, not universal
  python/tests/test_cooling_validation.py
  validation/cooling/runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test(validation): fix the G_bar guard test, which asserted the wrong path
  python/tests/test_cooling_validation.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): flag series too narrow for their slope to mean anything
  validation/cooling/README.md
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/verify.py
Due: none

docs(validation): withdraw the "panels rank differently" claim
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): digitise figure 4.51, both panels, nine configurations
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/data/han2012/fig4.51_G_45crs.csv
  validation/cooling/data/han2012/fig4.51_G_45lam.csv
  validation/cooling/data/han2012/fig4.51_G_45par.csv
  validation/cooling/data/han2012/fig4.51_G_45vee.csv
  validation/cooling/data/han2012/fig4.51_G_60crs.csv
  validation/cooling/data/han2012/fig4.51_G_60lam.csv
  validation/cooling/data/han2012/fig4.51_G_60par.csv
  validation/cooling/data/han2012/fig4.51_G_60vee.csv
  validation/cooling/data/han2012/fig4.51_G_90.csv
  validation/cooling/data/han2012/fig4.51_G_correlation.csv
  validation/cooling/data/han2012/fig4.51_Gbar_45crs.csv
  validation/cooling/data/han2012/fig4.51_Gbar_45lam.csv
  validation/cooling/data/han2012/fig4.51_Gbar_45par.csv
  validation/cooling/data/han2012/fig4.51_Gbar_45vee.csv
  validation/cooling/data/han2012/fig4.51_Gbar_60crs.csv
  validation/cooling/data/han2012/fig4.51_Gbar_60lam.csv
  validation/cooling/data/han2012/fig4.51_Gbar_60par.csv
  validation/cooling/data/han2012/fig4.51_Gbar_60vee.csv
  validation/cooling/data/han2012/fig4.51_Gbar_90.csv
  validation/cooling/data/han2012/fig4.51_Gbar_correlation.csv
  validation/cooling/data/han2012/fig4.51_frame_x_lower.csv
  validation/cooling/data/han2012/fig4.51_frame_x_upper.csv
  validation/cooling/data/han2012/fig4.51_frame_y_lower.csv
  validation/cooling/data/han2012/fig4.51_frame_y_upper.csv
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): digitise figure 4.47, the angled-rib correlation
  CHANGELOG.md
  validation/cooling/data/han2012/fig4.47_G_vs_eplus.csv
  validation/cooling/data/han2012/fig4.47_R_vs_alpha.csv
  validation/cooling/data/han2012/fig4.47_frame_x_left.csv
  validation/cooling/data/han2012/fig4.47_frame_x_right.csv
  validation/cooling/data/han2012/fig4.47_frame_y_left.csv
  validation/cooling/data/han2012/fig4.47_frame_y_right.csv
  validation/cooling/data/han2012/metadata.yaml
Due: none

feat(validation): redraw every figure in one command
  validation/cooling/README.md
  validation/cooling/plot.py
Due: none

feat(validation): commit the redrawn figures
  .gitignore
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/plots/fig4.193c_redrawn.png
  validation/cooling/plots/fig4.46_redrawn.png
  validation/cooling/plots/fig4.47_redrawn.png
  validation/cooling/plots/fig4.51_redrawn.png
  validation/cooling/plots/fig4.53_redrawn.png
  validation/cooling/plots/fig4.54_redrawn.png
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor(validation): namespace cards, plots and figure refs by source
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/cards/han2012/fig4.46_G_scatter.yaml
  validation/cooling/cards/han2012/fig4.46_G_solid.yaml
  validation/cooling/cards/han2012/fig4.46_Gbar_dashed.yaml
  validation/cooling/cards/han2012/fig4.46_R_constant.yaml
  validation/cooling/cards/han2012/fig4.46_R_scatter.yaml
  validation/cooling/cards/han2012/fig4.46_frames.yaml
  validation/cooling/cards/han2012/fig4.51_Gbar_scatter.yaml
  validation/cooling/plot.py
  validation/cooling/plots/fig4.193c_redrawn.png
  validation/cooling/plots/fig4.46_redrawn.png
  validation/cooling/plots/fig4.47_redrawn.png
  validation/cooling/plots/fig4.51_redrawn.png
  validation/cooling/plots/fig4.53_redrawn.png
  validation/cooling/plots/fig4.54_redrawn.png
  validation/cooling/plots/han2012/fig4.193c_redrawn.png
  validation/cooling/plots/han2012/fig4.46_redrawn.png
  validation/cooling/plots/han2012/fig4.47_redrawn.png
  validation/cooling/plots/han2012/fig4.51_redrawn.png
  validation/cooling/plots/han2012/fig4.53_redrawn.png
  validation/cooling/plots/han2012/fig4.54_redrawn.png
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): digitise figure 4.47, the angled-rib correlation (#369)
  .gitignore
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/README.md
  validation/cooling/cards/han2012/fig4.46_G_scatter.yaml
  validation/cooling/cards/han2012/fig4.46_G_solid.yaml
  validation/cooling/cards/han2012/fig4.46_Gbar_dashed.yaml
  validation/cooling/cards/han2012/fig4.46_R_constant.yaml
  validation/cooling/cards/han2012/fig4.46_R_scatter.yaml
  validation/cooling/cards/han2012/fig4.46_frames.yaml
  validation/cooling/cards/han2012/fig4.51_Gbar_scatter.yaml
  validation/cooling/data/han2012/fig4.47_G_vs_eplus.csv
  validation/cooling/data/han2012/fig4.47_R_vs_alpha.csv
  validation/cooling/data/han2012/fig4.47_frame_x_left.csv
  validation/cooling/data/han2012/fig4.47_frame_x_right.csv
  validation/cooling/data/han2012/fig4.47_frame_y_left.csv
  validation/cooling/data/han2012/fig4.47_frame_y_right.csv
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/plot.py
  validation/cooling/plots/han2012/fig4.193c_redrawn.png
  validation/cooling/plots/han2012/fig4.46_redrawn.png
  validation/cooling/plots/han2012/fig4.47_redrawn.png
  validation/cooling/plots/han2012/fig4.51_redrawn.png
  validation/cooling/plots/han2012/fig4.53_redrawn.png
  validation/cooling/plots/han2012/fig4.54_redrawn.png
  validation/cooling/verify.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): digitise figure 4.48, narrow-aspect-ratio channels
  CHANGELOG.md
  python/tests/test_cooling_validation.py
  validation/cooling/data/han2012/fig4.48_G_WH0.25.csv
  validation/cooling/data/han2012/fig4.48_G_WH0.5.csv
  validation/cooling/data/han2012/fig4.48_G_correlation_WH0.25.csv
  validation/cooling/data/han2012/fig4.48_G_correlation_WH0.5.csv
  validation/cooling/data/han2012/fig4.48_G_correlation_WH1_ref3.csv
  validation/cooling/data/han2012/fig4.48_G_errorbar_WH1_ref3.csv
  validation/cooling/data/han2012/fig4.48_R_WH0.25.csv
  validation/cooling/data/han2012/fig4.48_R_WH0.5.csv
  validation/cooling/data/han2012/fig4.48_R_correlation_WH0.25.csv
  validation/cooling/data/han2012/fig4.48_R_correlation_WH0.5.csv
  validation/cooling/data/han2012/fig4.48_R_correlation_WH1_ref3.csv
  validation/cooling/data/han2012/fig4.48_R_errorbar_WH1_ref3.csv
  validation/cooling/data/han2012/fig4.48_frame_x_bottom.csv
  validation/cooling/data/han2012/fig4.48_frame_x_top.csv
  validation/cooling/data/han2012/fig4.48_frame_y_bottom.csv
  validation/cooling/data/han2012/fig4.48_frame_y_top.csv
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/plot.py
  validation/cooling/plots/han2012/fig4.48_redrawn.png
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs(rib_correlation): record Eq. 4.17's behaviour outside 30-90 degrees
  include/rib_correlation.h
  validation/cooling/extractions/han_ribbed.md
Due: cantera-validation-tests, python-unit-tests

feat(validation): digitise figure 4.48, narrow-aspect-ratio channels (#372)
  CHANGELOG.md
  include/rib_correlation.h
  python/tests/test_cooling_validation.py
  validation/cooling/data/han2012/fig4.48_G_WH0.25.csv
  validation/cooling/data/han2012/fig4.48_G_WH0.5.csv
  validation/cooling/data/han2012/fig4.48_G_correlation_WH0.25.csv
  validation/cooling/data/han2012/fig4.48_G_correlation_WH0.5.csv
  validation/cooling/data/han2012/fig4.48_G_correlation_WH1_ref3.csv
  validation/cooling/data/han2012/fig4.48_G_errorbar_WH1_ref3.csv
  validation/cooling/data/han2012/fig4.48_R_WH0.25.csv
  validation/cooling/data/han2012/fig4.48_R_WH0.5.csv
  validation/cooling/data/han2012/fig4.48_R_correlation_WH0.25.csv
  validation/cooling/data/han2012/fig4.48_R_correlation_WH0.5.csv
  validation/cooling/data/han2012/fig4.48_R_correlation_WH1_ref3.csv
  validation/cooling/data/han2012/fig4.48_R_errorbar_WH1_ref3.csv
  validation/cooling/data/han2012/fig4.48_frame_x_bottom.csv
  validation/cooling/data/han2012/fig4.48_frame_x_top.csv
  validation/cooling/data/han2012/fig4.48_frame_y_bottom.csv
  validation/cooling/data/han2012/fig4.48_frame_y_top.csv
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/plot.py
  validation/cooling/plots/han2012/fig4.48_redrawn.png
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): implement rallabandi_2009_high_re, a second rib correlation set
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/rib_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_validation.py
  src/rib_correlation.cpp
  tests/test_rib_correlation.cpp
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/extractions/han_ribbed_high_re.md
  validation/cooling/plots/han2012/fig4.193c_redrawn.png
  validation/cooling/runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): implement rallabandi_2009_high_re, a second rib correlation set (#373)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/rib_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_validation.py
  src/rib_correlation.cpp
  tests/test_rib_correlation.cpp
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/extractions/han_ribbed_high_re.md
  validation/cooling/plots/han2012/fig4.193c_redrawn.png
  validation/cooling/runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): implement han_park_1988_angled, Eq. 4.17/4.18
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/rib_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_validation.py
  src/rib_correlation.cpp
  tests/test_rib_correlation.cpp
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/plots/han2012/fig4.47_redrawn.png
  validation/cooling/plots/han2012/fig4.51_redrawn.png
  validation/cooling/runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): implement han_park_1988_angled, Eq. 4.17/4.18 (#374)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/rib_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_cooling_validation.py
  src/rib_correlation.cpp
  tests/test_rib_correlation.cpp
  validation/cooling/data/han2012/metadata.yaml
  validation/cooling/extractions/han_ribbed.md
  validation/cooling/plots/han2012/fig4.47_redrawn.png
  validation/cooling/plots/han2012/fig4.51_redrawn.png
  validation/cooling/runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): re-add jet impingement correlations, with provenance
  .gitignore
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/impingement_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_impingement_correlation_sets.py
  src/impingement_correlation.cpp
  tests/test_impingement_correlation.cpp
  validation/cooling/extractions/han_impingement.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): re-add jet impingement correlations, with provenance (#376)
  .gitignore
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  include/impingement_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_impingement_correlation_sets.py
  src/impingement_correlation.cpp
  tests/test_impingement_correlation.cpp
  validation/cooling/extractions/han_impingement.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): wire jet impingement into the network solver and GUI
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
  include/impingement_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_channel_element_jacobian_fd.py
  python/tests/test_gui_removed_surfaces.py
  python/tests/test_impingement_channel_element.py
  src/impingement_correlation.cpp
  tests/test_impingement_correlation.cpp
  validation/cooling/extractions/han_impingement.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(cooling): wire jet impingement into the network solver and GUI (#377)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/UNITS.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/SurfaceEnhancementInspector.tsx
  include/impingement_correlation.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/tests/test_channel_element_jacobian_fd.py
  python/tests/test_gui_removed_surfaces.py
  python/tests/test_impingement_channel_element.py
  src/impingement_correlation.cpp
  tests/test_impingement_correlation.cpp
  validation/cooling/extractions/han_impingement.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): ribbed channel's pressure-drop Jacobian had no T/P column
  CHANGELOG.md
  python/combaero/network/components.py
  python/tests/test_channel_element_jacobian_fd.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): ribbed channel's pressure-drop Jacobian had no T/P column (#379)
  CHANGELOG.md
  python/combaero/network/components.py
  python/tests/test_channel_element_jacobian_fd.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(orifice): McGreehan-Schotsch Cd for plenum-fed holes (#375)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/orifice.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_orifice_cd.py
  python/tests/test_orifice_validation.py
  src/orifice.cpp
  tests/test_orifice.cpp
  validation/cooling/data/mcgreehan_schotsch1988/fig6_rohde_td0p51.csv
  validation/cooling/data/mcgreehan_schotsch1988/metadata.yaml
  validation/cooling/data/rohde1969/fig10_corners.csv
  validation/cooling/data/rohde1969/fig10_rd0_triangles.csv
  validation/cooling/data/rohde1969/fig10_rd0p195_squares.csv
  validation/cooling/data/rohde1969/fig10_rd0p488_circles.csv
  validation/cooling/data/rohde1969/fig10_xaxis.csv
  validation/cooling/data/rohde1969/fig10_yaxis.csv
  validation/cooling/data/rohde1969/metadata.yaml
  validation/cooling/extractions/orifice_discharge_coefficient.md
  validation/cooling/orifice_runner.py
  validation/cooling/plots/mcgreehan_schotsch1988/fig6_redrawn.png
  validation/cooling/plots/rohde1969/fig10_redrawn.png
Due: python-style-check, cantera-validation-tests, python-unit-tests
