Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

docs: regenerate UNITS.md via generate_units_md.py
  docs/UNITS.md
  scripts/generate_units_md.py
Due: none

docs: add generator comment to generate_units_md.py; regen UNITS.md
  scripts/generate_units_md.py
Due: none

fix: replace pre-existing non-ASCII in examples, tests, and cantera validation files
  cantera_validation_tests/test_mixing_validation.py
  cantera_validation_tests/test_transport_validation.py
  python/examples/combustor_heat_transfer.py
  python/examples/compressible_flow_example.py
  python/examples/de_laval_nozzle.py
  python/examples/friction_and_pressure_drop.py
  python/examples/reactor_design.py
  python/tests/test_complete_state.py
  python/tests/test_incompressible.py
  python/tests/test_transport_state.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: symmetric incompressible/compressible Python submodule API (#6)
  CMakeLists.txt
  cantera_validation_tests/test_mixing_validation.py
  cantera_validation_tests/test_transport_validation.py
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/compressible.h
  include/incompressible.h
  include/pipe_flow.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/_flow_solution.py
  python/combaero/compressible.py
  python/combaero/incompressible.py
  python/examples/combustor_heat_transfer.py
  python/examples/compressible_flow_example.py
  python/examples/de_laval_nozzle.py
  python/examples/flow_regime_comparison.py
  python/examples/friction_and_pressure_drop.py
  python/examples/reactor_design.py
  python/tests/test_complete_state.py
  python/tests/test_compressible.py
  python/tests/test_incompressible.py
  python/tests/test_incompressible_highlevel.py
  python/tests/test_pressure_drop_pipe.py
  python/tests/test_submodule_api.py
  python/tests/test_transport_state.py
  ruff.toml
  scripts/check-python-style.sh
  scripts/generate_units_md.py
  src/compressible.cpp
  src/incompressible.cpp
  src/pipe_flow.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: clarify Check 1 scope -- *.py only, .md and other files not checked
  scripts/check-python-style.sh
Due: none

docs: clarify COMBUSTION_ELEMENTS.md based on review
  docs/COMBUSTION_ELEMENTS.md
Due: none

docs: review and update NETWORK_ROADMAP.md; deduplicate with COMBUSTION_ELEMENTS.md
  docs/COMBUSTION_ELEMENTS.md
  docs/NETWORK_ROADMAP.md
Due: none

feat: add stagnation.h — isentropic static/stagnation conversions and T_aw
  CMakeLists.txt
  docs/API_REFERENCE.md
  docs/COMBUSTION_ELEMENTS.md
  docs/NETWORK_ROADMAP.md
  docs/UNITS.md
  include/compressible.h
  include/cooling_correlations.h
  include/heat_transfer.h
  include/stagnation.h
  include/state.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  scripts/generate_units_md.py
  src/stagnation.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: ChannelResult unified HTC+dP for all internal cooling channel types
  TODO.md
  docs/API_REFERENCE.md
  docs/NETWORK_ROADMAP.md
  docs/UNITS.md
  include/cooling_correlations.h
  include/heat_transfer.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/heat_transfer.py
  python/tests/test_channel_flow.py
  python/tests/test_cooling_correlations.py
  src/cooling_correlations.cpp
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: add missing <limits> include to heat_transfer.h for std::numeric_limits
  include/heat_transfer.h
Due: cantera-validation-tests, python-unit-tests

feat: ChannelResult unified HTC+dP for all internal cooling channel types (#7)
  TODO.md
  docs/API_REFERENCE.md
  docs/NETWORK_ROADMAP.md
  docs/UNITS.md
  include/cooling_correlations.h
  include/heat_transfer.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/heat_transfer.py
  python/tests/test_channel_flow.py
  python/tests/test_cooling_correlations.py
  src/cooling_correlations.cpp
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: extrapolation validity framework — warn+extrapolate for Re/Pr limits
  CMakeLists.txt
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/correlation_status.h
  include/heat_transfer.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_heat_transfer.py
  src/correlation_status.cpp
  src/heat_transfer.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: add <cstdint> for uint8_t on GCC/Linux; fix C0 continuity test to use f(3000)
  include/correlation_status.h
  tests/test_thermo_transport.cpp
Due: cantera-validation-tests, python-unit-tests

feat: extrapolation validity framework (#8)
  CMakeLists.txt
  docs/API_REFERENCE.md
  docs/UNITS.md
  include/correlation_status.h
  include/heat_transfer.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/tests/test_heat_transfer.py
  src/correlation_status.cpp
  src/heat_transfer.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: replace stale transport cache note with bundle usage guidance
  docs/API_REFERENCE.md
  docs/NETWORK_ROADMAP.md
  include/state.h
Due: cantera-validation-tests, python-unit-tests

perf: eliminate redundant species loops in transport_state (~3x speedup)
  src/transport.cpp
  tests/test_thermo_transport.cpp
Due: cantera-validation-tests, python-unit-tests

feat: add user-supplied pressure-loss and Cd/K-loss callable hooks
  docs/COMBUSTION_ELEMENTS.md
  docs/NETWORK_ROADMAP.md
  include/combustion.h
  include/incompressible.h
  python/combaero/_core.cpp
  python/tests/test_combustion_state.py
  src/combustion.cpp
  src/incompressible.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: SIM300 Yoda condition in test_combustion_state.py (ruff)
  python/tests/test_combustion_state.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add compressible/incompressible/combustion_state examples; fix nozzle_thrust P_design vs P_amb API
  CMakeLists.txt
  examples/combustion_state_example.cpp
  examples/compressible_example.cpp
  examples/incompressible_example.cpp
  include/compressible.h
  python/combaero/_core.cpp
  src/compressible.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add acoustics, orifice, stagnation examples
  CMakeLists.txt
  examples/acoustics_example.cpp
  examples/orifice_example.cpp
  examples/stagnation_example.cpp
Due: none

fix: thermo_example use standard_dry_air_composition, fix T-sweep using fuel blend X
  examples/thermo_example.cpp
Due: none

fix: add <cmath> to incompressible_example for std::exp on GCC/MinGW
  examples/incompressible_example.cpp
Due: none

refactor: improve Python examples - use set_fuel_stream_for_phi, real combustion products, fix API usage
  python/examples/basic_mixture_h.py
  python/examples/combustion_example.py
  python/examples/combustor_heat_transfer.py
  python/examples/de_laval_nozzle.py
  python/examples/reactor_design.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: skip plt.show() when running headless (Agg backend)
  python/examples/de_laval_nozzle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: save nozzle plot to script directory so gitignore covers it
  python/examples/de_laval_nozzle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: replace non-ASCII characters in basic_mixture_h.py
  python/examples/basic_mixture_h.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

rename: basic_mixture_h.py -> thermo_properties.py
  python/examples/thermo_properties.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add Otto cycle IC engine example
  python/examples/ic_engine_cycle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add molar_mass as alias for mwmix
  python/combaero/__init__.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add T-s diagram alongside P-V diagram in Otto cycle example
  python/examples/ic_engine_cycle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: use u_mass for q_out in Otto cycle (cleaner than cv trapezoid)
  python/examples/ic_engine_cycle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add Brayton cycle gas turbine example with T-s diagram and PR sweep
  python/examples/gas_turbine_cycle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: use h_mass energy balance + FAR*LHV for Brayton cycle performance
  python/examples/gas_turbine_cycle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: save plots only when headless (Agg backend), show interactively otherwise
  python/examples/acoustic_examples.py
  python/examples/de_laval_nozzle.py
  python/examples/gas_turbine_cycle.py
  python/examples/ic_engine_cycle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: T-s diagram state points now connect; use h_mass energy balance for w_net
  python/examples/gas_turbine_cycle.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add combustor liner convective cooling design example (COT=1758 K, smooth/ribbed/dimpled + TBC)
  python/examples/combustor_liner_cooling.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: rewrite combustor liner cooling with coupled bypass sweep and counterflow dP budget
  python/examples/combustor_liner_cooling.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: closed-loop COT=const bypass sweep; fix rib correlation (Re-dependent overload); dP_burner=2%
  include/cooling_correlations.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/examples/combustor_liner_cooling.py
  src/cooling_correlations.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

refactor: rename P_e->pitch_to_height, alpha->alpha_deg in rib functions; implement Han g(e+,Pr) with Serghides f0 in rib_enhancement_factor_re
  docs/UNITS.md
  include/cooling_correlations.h
  include/heat_transfer.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/heat_transfer.py
  python/examples/combustor_liner_cooling.py
  python/tests/test_channel_flow.py
  python/tests/test_cooling_correlations.py
  src/cooling_correlations.cpp
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: replace non-ASCII characters in combustor_liner_cooling.py
  python/examples/combustor_liner_cooling.py
Due: python-style-check, cantera-validation-tests, python-unit-tests
