Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

test(junction): Tier 1 Bassett/Hager comparison + bounded-solver experiment
  python/tests/experimental_bounded_solver.py
  python/tests/test_momentum_cv_tier1_bassett.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): MultiPortChamberElement (MPCE-v1) milestone (#181)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/multi_port_chamber.h
  include/solver_interface.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/experimental_bounded_solver.py
  python/tests/test_momentum_cv_tier1_bassett.py
  python/tests/test_momentum_cv_vs_tee.py
  python/tests/test_multi_port_chamber.py
  src/solver_interface.cpp
  tests/test_multi_port_chamber.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(docs): correct CLAUDE.md sandbox note for git/gh
  CLAUDE.md
Due: none

chore(docs): correct CLAUDE.md sandbox note for git/gh (#182)
  CLAUDE.md
Due: none

feat(validation): Phase A analytical correlations for junction validation
  validation/junction/__init__.py
  validation/junction/models/__init__.py
  validation/junction/models/bassett2001.py
  validation/junction/models/hager1984.py
  validation/junction/models/perez_garcia2010.py
  validation/junction/models/wang2014.py
Due: none

feat(validation): Phase B runner + scorecard + first verdicts (K12 ok, K8 buggy)
  conftest.py
  python/tests/test_junction_validation_runner.py
  validation/junction/data/bassett2001/README.md
  validation/junction/data/bassett2001/metadata.yaml
  validation/junction/data/hager1984/metadata.yaml
  validation/junction/data/perez_garcia2010/metadata.yaml
  validation/junction/data/wang2014/metadata.yaml
  validation/junction/equivalences.py
  validation/junction/models/bassett2001.py
  validation/junction/models/paper_ceiling.py
  validation/junction/models/tee_junction_raw.py
  validation/junction/runner.py
  validation/junction/schema.py
  validation/junction/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(junction): K8 transcription -- psi on wrong side in tee_junction.h
  CHANGELOG.md
  include/tee_junction.h
  tests/test_tee_junction.cpp
  validation/junction/models/bassett2001.py
Due: cantera-validation-tests, python-unit-tests

fix(junction): K8 transcription -- psi on wrong side in tee_junction.h (#184)
  CHANGELOG.md
  include/tee_junction.h
  tests/test_tee_junction.cpp
  validation/junction/models/bassett2001.py
Due: cantera-validation-tests, python-unit-tests

feat(validation): Phase B.5 dataset quality-check pytest
  python/tests/test_junction_dataset_quality.py
  validation/junction/data/bassett2001/metadata.yaml
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): Phase B.5 dataset quality-check pytest (#185)
  python/tests/test_junction_dataset_quality.py
  validation/junction/data/bassett2001/metadata.yaml
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): re-digitize Bassett Fig 10a + remove from _KNOWN_ISSUES
  python/tests/test_junction_dataset_quality.py
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=30_psi=1_calc.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=30_psi=1_measured.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=45_psi=1_calc.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=45_psi=1_measured.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=60_psi=1_calc.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=60_psi=1_measured.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=90_psi=1_calc.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=90_psi=1_measured.csv
  validation/junction/data/bassett2001/metadata.yaml
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(validation): re-digitize Bassett Fig 10a + remove from _KNOWN_ISSUES (#186)
  python/tests/test_junction_dataset_quality.py
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=30_psi=1_calc.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=30_psi=1_measured.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=45_psi=1_calc.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=45_psi=1_measured.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=60_psi=1_calc.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=60_psi=1_measured.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=90_psi=1_calc.csv
  validation/junction/data/bassett2001/bassett_fig10a_K12_theta=90_psi=1_measured.csv
  validation/junction/data/bassett2001/metadata.yaml
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): wire Wang + Hager into PaperCeiling
  python/tests/test_junction_dataset_quality.py
  validation/junction/models/paper_ceiling.py
  validation/junction/models/wang2014.py
  validation/junction/runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): add plot-range box check for files without analytical reference
  python/tests/test_junction_dataset_quality.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): wire Wang + Hager into PaperCeiling (#187)
  python/tests/test_junction_dataset_quality.py
  validation/junction/models/paper_ceiling.py
  validation/junction/models/wang2014.py
  validation/junction/runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): bind all 12 tee K functions + fix scorecard unsupported metric
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/units_data.h
  python/combaero/_core.cpp
  validation/junction/models/tee_junction_raw.py
  validation/junction/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): bind all 12 tee K functions + fix scorecard unsupported metric (#188)
  CHANGELOG.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  include/units_data.h
  python/combaero/_core.cpp
  validation/junction/models/tee_junction_raw.py
  validation/junction/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): Step 4 network-mode adapters (TeeJunctionElement + MPCE-v1)
  python/tests/test_junction_network_runner.py
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v1_network.py
  validation/junction/models/paper_ceiling.py
  validation/junction/models/tee_junction_element_network.py
  validation/junction/network_runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): Step 4 network-mode adapters (TeeJunctionElement + MPCE-v1) (#189)
  python/tests/test_junction_network_runner.py
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v1_network.py
  validation/junction/models/paper_ceiling.py
  validation/junction/models/tee_junction_element_network.py
  validation/junction/network_runner.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): Step 0 -- 3-topology coverage in network runner
  docs/ejector/Bartosiewicz_ejector_2004.pdf
  python/tests/test_junction_network_runner.py
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v1_network.py
  validation/junction/models/tee_junction_element_network.py
  validation/junction/network_runner.py
  validation/junction/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: untrack ejector PDF accidentally added by topology-coverage commit
  docs/ejector/Bartosiewicz_ejector_2004.pdf
Due: none

feat(validation): Step 0 — 3-topology coverage in network runner (#190)
  python/tests/test_junction_network_runner.py
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v1_network.py
  validation/junction/models/tee_junction_element_network.py
  validation/junction/network_runner.py
  validation/junction/scorecard.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): port Mynard 2010 Unified0D to Python as runner reference
  python/tests/test_mynard_port.py
  validation/junction/models/mynard2010.py
  validation/junction/models/mynard_analytical.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): port Mynard 2010 Unified0D to Python as runner reference (#191)
  python/tests/test_mynard_port.py
  validation/junction/models/mynard2010.py
  validation/junction/models/mynard_analytical.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

wip(junction): MPCE-v2 iteration 1 prototype (Mynard Unified0D residual)
  python/combaero/network/mpce_v2_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

wip(junction): MPCE-v2 iteration 2 -- K-based residual + partial Jacobian working under imposed_q
  docs/ejector/Bartosiewicz_ejector_2004.pdf
  python/combaero/network/mpce_v2_element.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/models/mynard_analytical.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: untrack ejector PDF (swept up by git add -A again)
  docs/ejector/Bartosiewicz_ejector_2004.pdf
Due: none

wip(junction): MPCE-v2 iteration 3 -- FD Jacobian unlocks PB topologies
  python/combaero/network/mpce_v2_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

wip(junction): MPCE-v2 iteration 4 -- sympy analytical Jacobian + C++ FD guardrails
  .gitignore
  pyproject.toml
  python/combaero/network/_mpce_v2_jacobian.py
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_v2_jacobian.py
  scripts/derive_mynard_jacobian.py
  tests/test_multi_port_chamber.cpp
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

wip(junction): MPCE-v2 -- diagnostic for mfb_two_pb low-q conv miss
  python/combaero/network/mpce_v2_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

wip(junction): MPCE-v2 iteration 5 -- joining flow (K11/K12) on all 3 topologies
  .gitignore
  python/combaero/network/mpce_v2_element.py
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v2_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

wip(junction): MPCE-v2 iteration 6 -- mpce_tee GUI element with merge/branch constraint
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/components/nodes/MPCETeeNode.tsx
  python/combaero/network/mpce_v2_element.py
  python/tests/test_gui_mpce_tee.py
  python/tests/test_mpce_v2_flow_direction.py
  validation/junction/models/mpce_v2_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

wip(junction): MPCE-v2 iteration 7 -- soft-barrier + post-solve filter + tightened strict
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_v2_flow_direction.py
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v2_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(junction): MPCE-v2 -- Mynard Unified0D residual prototype (draft) (#192)
  .gitignore
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/components/nodes/MPCETeeNode.tsx
  pyproject.toml
  python/combaero/network/_mpce_v2_jacobian.py
  python/combaero/network/mpce_v2_element.py
  python/tests/test_gui_mpce_tee.py
  python/tests/test_mpce_v2_flow_direction.py
  python/tests/test_mpce_v2_jacobian.py
  scripts/derive_mynard_jacobian.py
  tests/test_multi_port_chamber.cpp
  uv.lock
  validation/junction/models/_network_builder.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/models/mynard_analytical.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(validation): Idelchik 1966 joining-T dataset (calibration anchor)
  validation/junction/data/idelchik1966/idelchik_diag7-1_K12_theta=30_psi=1.25_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-1_K12_theta=30_psi=1.667_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-1_K12_theta=30_psi=10_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-1_K12_theta=30_psi=1_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-1_K12_theta=30_psi=2.5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-1_K12_theta=30_psi=3.333_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-1_K12_theta=30_psi=5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-2_K11_theta=30_psi=1.25_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-2_K11_theta=30_psi=1.667_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-2_K11_theta=30_psi=10_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-2_K11_theta=30_psi=1_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-2_K11_theta=30_psi=2.5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-2_K11_theta=30_psi=3.333_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-2_K11_theta=30_psi=5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-3_K12_theta=45_psi=1.25_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-3_K12_theta=45_psi=1.667_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-3_K12_theta=45_psi=10_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-3_K12_theta=45_psi=1_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-3_K12_theta=45_psi=2.5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-3_K12_theta=45_psi=3.333_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-3_K12_theta=45_psi=5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-4_K11_theta=45_psi=1.25_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-4_K11_theta=45_psi=1.667_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-4_K11_theta=45_psi=10_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-4_K11_theta=45_psi=1_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-4_K11_theta=45_psi=2.5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-4_K11_theta=45_psi=3.333_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-4_K11_theta=45_psi=5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-7_K12_theta=90_psi=1.25_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-7_K12_theta=90_psi=1.667_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-7_K12_theta=90_psi=10_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-7_K12_theta=90_psi=1_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-7_K12_theta=90_psi=2.5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-7_K12_theta=90_psi=3.333_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-7_K12_theta=90_psi=5_tabulated.csv
  validation/junction/data/idelchik1966/idelchik_diag7-7b_K11_theta=90_psi-independent_tabulated.csv
  validation/junction/data/idelchik1966/metadata.yaml
  validation/junction/schema.py
Due: none

feat(junction): MPCE-v2 joining-side etransfer correction (alpha=0.2)
  CHANGELOG.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  python/combaero/network/mpce_v2_element.py
  python/tests/test_mpce_v2_joining_etransfer.py
  scripts/calibrate_mpce_v2_etransfer.py
  validation/junction/models/mpce_v2_network.py
  validation/junction/models/mynard2010.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): inherit tee F_C / F_branch from connected channel diameters
  gui/backend/graph_builder.py
  gui/frontend/src/components/NetworkCanvas.tsx
  python/tests/test_gui_mpce_tee.py
Due: python-style-check, cantera-validation-tests, python-unit-tests
