Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: verify CompleteState Python bindings and update extract_complete_states
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implement comprehensive property extraction testing
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: enhanced example integration with comprehensive property extraction
  python/examples/network_from_grid.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: comprehensive diagnostic tool for NetworkSolver analysis
  .gitignore
  python/combaero/network/diagnostics.py
  python/combaero/network/solver.py
  python/examples/network_from_grid.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

benchmarks: replace bespoke networks with parametrized recuperator grids
  benchmarks/benchmarks.py
Due: none

feat: comprehensive diagnostic tool for NetworkSolver analysis (#62)
  .gitignore
  python/combaero/network/diagnostics.py
  python/combaero/network/solver.py
  python/examples/network_from_grid.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(benchmarks): replace bespoke networks with parametrized recuperator grids (#63)
  benchmarks/benchmarks.py
Due: none

feat: Implement compressible momentum chambers, adiabatic boundaries, and robust friction clamping
  benchmarks/runs/network_solver_benchmark_20260322_201337Z.json
  python/examples/network_from_grid_v2.py
  python/examples/network_from_grid_v3.py
  src/friction.cpp
  src/solver_interface.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: Implement compressible momentum chambers, adiabatic boundaries, and robust friction clamping (#64)
  benchmarks/runs/network_solver_benchmark_20260322_201337Z.json
  python/examples/network_from_grid_v2.py
  python/examples/network_from_grid_v3.py
  src/friction.cpp
  src/solver_interface.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: compressible momentum chambers and robust friction blending
  COMMIT_MSG.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/benchmarks.py
  benchmarks/runs/network_solver_benchmark_20260323_051249Z.json
  benchmarks/runs/network_solver_benchmark_20260323_073319Z.json
  python/examples/network_from_grid.py
  python/examples/network_from_grid_v2.py
  python/examples/network_from_grid_v3.py
  src/friction.cpp
  src/solver_interface.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(ci): sync friction re_eps, relax solver timeout, and update unit sync IGNORE_LIST
  python/tests/test_solver_methods_stress.py
  python/tests/test_units_sync.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: add MomentumBoundary and MomentumChamberNode regime updates to API reference
  docs/API_PYTHON.md
Due: none

feat: compressible momentum chambers and robust friction blending
  COMMIT_MSG.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/benchmarks.py
  benchmarks/runs/network_solver_benchmark_20260323_051249Z.json
  benchmarks/runs/network_solver_benchmark_20260323_073319Z.json
  docs/API_PYTHON.md
  python/examples/network_from_grid.py
  python/examples/network_from_grid_v2.py
  python/examples/network_from_grid_v3.py
  python/tests/test_solver_methods_stress.py
  python/tests/test_units_sync.py
  src/friction.cpp
  src/solver_interface.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: consolidate jacobian scripts and benchmarks
  .agents/workflows/commit-and-push.md
  .agents/workflows/create-pr.md
  .agents/workflows/merge-and-cleanup.md
  benchmarks/compare_jacobian_baseline.py
  benchmarks/jacobian_baseline_current.csv
  benchmarks/runs/jacobian_test_20260323_081540Z.csv
  scripts/benchmarks.py
  scripts/demo_jacobian_diff_flag.py
  scripts/demo_jacobian_file_output.py
Due: none

fix: consolidate jacobian scripts and benchmarks (#66)
  .agents/workflows/commit-and-push.md
  .agents/workflows/create-pr.md
  .agents/workflows/merge-and-cleanup.md
  benchmarks/compare_jacobian_baseline.py
  benchmarks/jacobian_baseline_current.csv
  benchmarks/runs/jacobian_test_20260323_081540Z.csv
  scripts/benchmarks.py
  scripts/demo_jacobian_diff_flag.py
  scripts/demo_jacobian_file_output.py
Due: none

fix: state property units mismatch and example runner automation
  COMMIT_MSG.md
  benchmarks/mach_sweep_network.py
  python/combaero/_core.cpp
  python/examples/combustor_network_example.py
  python/examples/compressible_vs_incompressible_network.py
  python/examples/network_from_grid.py
  python/examples/wall_coupling_simple.py
  scripts/run_examples.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: state property units mismatch and example runner automation (#67)
  COMMIT_MSG.md
  benchmarks/mach_sweep_network.py
  python/combaero/_core.cpp
  python/examples/combustor_network_example.py
  python/examples/compressible_vs_incompressible_network.py
  python/examples/network_from_grid.py
  python/examples/wall_coupling_simple.py
  scripts/run_examples.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

per: optimize pytest suite by simplifying slow network tests
  COMMIT_MSG.md
  python/tests/test_network_compressible.py
  python/tests/test_solver_methods_stress.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

perf: optimize pytest suite by simplifying slow network tests
  COMMIT_MSG.md
  benchmarks/convergence_benchmark.py
  python/tests/test_network_compressible.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

perf: optimize pytest suite by simplifying slow network tests (#68)
  COMMIT_MSG.md
  benchmarks/convergence_benchmark.py
  python/tests/test_network_compressible.py
  python/tests/test_solver_methods_stress.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: refine high-Mach sanity check comments
  python/tests/test_network_compressible.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: repair CI sync by removing legacy alias and rebuilding core
  COMMIT_MSG.md
  include/units_data.h
  python/combaero/__init__.py
  python/tests/test_units_sync.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add combustor implementation comparison and mach sweep benchmarks
  COMMIT_MSG.md
  benchmarks/continuation_benchmark.py
  benchmarks/convergence_benchmark.py
  benchmarks/mach_limit_benchmark.py
  benchmarks/mach_sweep.py
  benchmarks/mach_sweep_network.py
  docs/API_PYTHON.md
  python/combaero/__init__.py
  python/combaero/network/solver.py
  python/examples/combustor_network_example.py
  python/examples/compare_combustor_implementations.py
  python/examples/sequential_combustion.py
  python/tests/test_network_compressible.py
  python/tests/test_wall_coupling_integration.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add multi-stream axial staging combustor network example
  python/examples/axial_staging_combustor_network_example.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add multi-stream axial staging combustor network example (#71)
  python/examples/axial_staging_combustor_network_example.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implementation of analytical combustor Jacobians and network integration
  build_log.txt
  docs/API_CPP.md
  docs/API_PYTHON.md
  examples/combustion_state_example.cpp
  include/combustion.h
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/examples/combustor_pressure_loss_example.py
  python/tests/test_units_sync.py
  src/combustion.cpp
  src/solver_interface.cpp
  tests/test_stream_jacobians.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implementation of analytical combustor Jacobians and network integration (#72)
  build_log.txt
  docs/API_CPP.md
  docs/API_PYTHON.md
  examples/combustion_state_example.cpp
  include/combustion.h
  include/solver_interface.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/examples/combustor_pressure_loss_example.py
  python/tests/test_units_sync.py
  src/combustion.cpp
  src/solver_interface.cpp
  tests/test_stream_jacobians.cpp
  tests/test_thermo_transport.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add 4-way cardinal handles for orthogonal node routing
  gui/frontend/src/components/nodes/MassBoundaryNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  gui/frontend/src/components/nodes/PressureBoundaryNode.tsx
Due: none

fix: stabilize GUI solver flow and element-chain graph building
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/package.json
  gui/frontend/src/App.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  gui/frontend/src/components/nodes/PipeNode.tsx
  gui/frontend/src/store/useStore.ts
Due: none

feat: complete high-fidelity diagnostics and GUI UX fixes
  COMMIT_MSG.md
  biome.json
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/App.tsx
  gui/frontend/src/components/CompositionEditor.tsx
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/NumericInput.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/UnitInput.tsx
  gui/frontend/src/components/nodes/CombustorNode.tsx
  gui/frontend/src/components/nodes/LosslessNode.tsx
  gui/frontend/src/components/nodes/MassBoundaryNode.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  gui/frontend/src/components/nodes/PressureBoundaryNode.tsx
  gui/frontend/src/store/useStore.ts
  python/combaero/network/components.py
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: ignore benchmark runs and generator state files
  .gitignore
  benchmarks/network_solver_benchmark_latest.json
  benchmarks/runs/jacobian_test_20260320_193020Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104224Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104342Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104625Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104646Z.json
  benchmarks/runs/network_solver_benchmark_20260320_105111Z.json
  benchmarks/runs/network_solver_benchmark_20260320_135221Z.json
  benchmarks/runs/network_solver_benchmark_20260320_192447Z.json
  benchmarks/runs/network_solver_benchmark_20260320_195957Z.json
  benchmarks/runs/network_solver_benchmark_20260322_201337Z.json
  benchmarks/runs/network_solver_benchmark_20260323_051249Z.json
  benchmarks/runs/network_solver_benchmark_20260323_073319Z.json
  thermo_data_generator/.generator_state.json
Due: python-style-check, thermo-header-check

chore: restore generator_state tracking, restrict biome to gui/frontend/src only
  .gitignore
  COMMIT_MSG.md
  biome.json
  thermo_data_generator/.generator_state.json
Due: python-style-check, thermo-header-check

feat: enable thermal coupling for nodes and enhance heat flow telemetry
  COMMIT_MSG.md
  gui/backend/graph_builder.py
  gui/backend/main.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/ThermalEdge.tsx
  gui/frontend/src/components/nodes/CombustorNode.tsx
  gui/frontend/src/components/nodes/MassBoundaryNode.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  gui/frontend/src/components/nodes/PipeNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  gui/frontend/src/components/nodes/PressureBoundaryNode.tsx
  gui/frontend/src/store/useStore.ts
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/combaero/network/solver.py
  python/tests/test_flow_network_walls.py
  python/tests/test_gui_schemas.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

checkpoint: thermal solver fixes and basic UI data support
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/nodes/PressureBoundaryNode.tsx
  python/combaero/network/components.py
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

checkpoint: GUI node functionality restored and thermal decoupling
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/nodes/CombustorNode.tsx
  gui/frontend/src/components/nodes/MassBoundaryNode.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  gui/frontend/src/components/nodes/PipeNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
Due: none

checkpoint: node handle rotation restored
  gui/frontend/src/components/nodes/CombustorNode.tsx
  gui/frontend/src/components/nodes/MassBoundaryNode.tsx
  gui/frontend/src/components/nodes/MomentumChamberNode.tsx
  gui/frontend/src/components/nodes/OrificeNode.tsx
  gui/frontend/src/components/nodes/PipeNode.tsx
  gui/frontend/src/components/nodes/PlenumNode.tsx
  gui/frontend/src/components/nodes/PressureBoundaryNode.tsx
Due: none

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
