Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: python-style-check
        name: Python style checks (ruff + ruff format + optional mypy)
        entry: bash -c './scripts/check-python-style.sh'
        language: system
        pass_filenames: false
        files: ^(python/|cantera_validation_tests/|thermo_data_generator/)
        stages: [pre-commit]

      - id: cantera-validation-tests
        name: Cantera Validation Tests
        entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/|cantera_validation_tests/)
        stages: [pre-commit]

      - id: python-unit-tests
        name: Python Unit Tests
        entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
        language: system
        pass_filenames: false
        always_run: false
        files: ^(src/|include/|python/)
        stages: [pre-commit]

      - id: thermo-header-check
        name: Thermo/Transport Header (generated file check)
        entry: bash -c './scripts/check-thermo-header.sh'
        language: system
        pass_filenames: false
        files: ^(thermo_data_generator/|include/thermo_transport_data\.h)
        stages: [pre-commit]

      - id: common-names-check
        name: Common names completeness check
        entry: bash -c './scripts/check-common-names.sh'
        language: system
        pass_filenames: false
        files: ^include/(thermo_transport_data|common_names)\.h$
        stages: [pre-commit]

Fix heat transfer Jacobians in channel_smooth, channel_pin_fin, and channel_impingement
  src/heat_transfer.cpp
  tests/CMakeLists.txt
  tests/test_heat_transfer_jacobians.cpp
Due: cantera-validation-tests, python-unit-tests

perf: optimize property evaluations and fix laminar friction Jacobian
  .windsurf/workflows/commit-only.md
  COMMIT_MSG.md
  src/heat_transfer.cpp
Due: cantera-validation-tests, python-unit-tests

fix: correct f_multiplier inconsistency in Gnielinski/Petukhov Jacobians
  src/heat_transfer.cpp
Due: cantera-validation-tests, python-unit-tests

fix: correct heat transfer Jacobian bugs (106% → 0% FD error)
  .windsurf/workflows/commit-and-push.md
  .windsurf/workflows/commit-only.md
  COMMIT_MSG.md
  include/heat_transfer.h
  include/units_data.h
  python/combaero/_core.cpp
  python/combaero/network/solver.py
  python/tests/test_wall_coupling_integration.py
  src/heat_transfer.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore: optimize dev workflow and suppress C++17 warnings
  .clangd
  .windsurf/workflows/commit-and-push.md
  .windsurf/workflows/commit-only.md
  COMMIT_MSG.md
  scripts/check-commit-msg.sh
Due: none

docs: add comprehensive heat transfer API documentation
  docs/API_CPP.md
  docs/API_PYTHON.md
Due: none

fix: finalize heat transfer implementation audit and optimizations
  .clangd
  docs/API_CPP.md
  python/combaero/network/components.py
  tests/test_heat_transfer_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: implement network convective heat transfer with full Jacobian support (#54)
  .clangd
  .windsurf/workflows/commit-and-push.md
  .windsurf/workflows/commit-only.md
  docs/API_CPP.md
  docs/API_PYTHON.md
  docs/DESIGN_NETWORK_HEAT_TRANSFER.md
  examples/wall_coupling_simple.py
  include/heat_transfer.h
  include/units_data.h
  python/combaero/__init__.py
  python/combaero/_core.cpp
  python/combaero/heat_transfer.py
  python/combaero/network/__init__.py
  python/combaero/network/components.py
  python/combaero/network/graph.py
  python/combaero/network/solver.py
  python/tests/test_channel_jacobians.py
  python/tests/test_convective_surface.py
  python/tests/test_flow_network_walls.py
  python/tests/test_pipe_element_htc.py
  python/tests/test_wall_connection.py
  python/tests/test_wall_coupling.py
  python/tests/test_wall_coupling_integration.py
  scripts/check-commit-msg.sh
  src/heat_transfer.cpp
  tests/CMakeLists.txt
  tests/test_heat_transfer_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: reorganize examples and create paired combustor cooling implementations
  COMMIT_MSG.md
  python/examples/combustor_liner_cooling_network.py
  python/examples/combustor_liner_cooling_standalone.py
  python/examples/combustor_network_example.py
  python/examples/compare_combustor_implementations.py
  python/examples/wall_coupling_simple.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add true wall-coupled combustor network solve path
  COMMIT_MSG.md
  python/combaero/network/solver.py
  python/examples/combustor_liner_cooling_network.py
  python/examples/compare_combustor_implementations.py
  python/tests/test_combustor_liner_cooling_coupled.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): improve solver robustness with scaling, pressure propagation, and warm-start
  python/combaero/network/solver.py
  python/tests/test_network_jacobian.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: improve network solver robustness and validation
  .pre-commit-hooks/check_math_constants.py
  COMMIT_MSG.md
  python/combaero/network/solver.py
  python/examples/combustor_liner_cooling_network.py
  python/examples/compressible_vs_incompressible_network.py
  python/examples/flow_regime_comparison.py
  python/examples/wall_coupling_simple.py
  python/tests/test_network_compressible.py
  python/tests/test_solver_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

docs: update README ABOUT to reflect network flow capabilities
  COMMIT_MSG.md
  README.md
Due: none

fix: move matplotlib import inside main() to avoid CI import errors
  python/examples/combustor_liner_cooling_network.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: increase timeout tolerance in stress test to account for CI variance
  python/tests/test_solver_methods_stress.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: network solver robustness and validation (#55)
  .pre-commit-hooks/check_math_constants.py
  README.md
  python/combaero/network/solver.py
  python/examples/combustor_liner_cooling_network.py
  python/examples/combustor_liner_cooling_standalone.py
  python/examples/combustor_network_example.py
  python/examples/compare_combustor_implementations.py
  python/examples/compressible_vs_incompressible_network.py
  python/examples/flow_regime_comparison.py
  python/examples/wall_coupling_simple.py
  python/tests/test_combustor_liner_cooling_coupled.py
  python/tests/test_network_compressible.py
  python/tests/test_network_jacobian.py
  python/tests/test_solver_methods_stress.py
  python/tests/test_solver_robustness.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: stabilize solver scaling and migrate benchmark tracking
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/benchmarks.py
  benchmarks/network_solver_benchmark_latest.json
  benchmarks/runs/network_solver_benchmark_20260320_104224Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104342Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104625Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104646Z.json
  benchmarks/runs/network_solver_benchmark_20260320_105111Z.json
  python/combaero/network/solver.py
  scripts/benchmarks.py
  src/solver_interface.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: resolve compressible solver regression and improve Jacobian accuracy
  .windsurf/workflows/commit-only.md
  python/tests/test_network_jacobian.py
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

test: add FD validation for adiabatic and stagnation Jacobians
  COMMIT_MSG.md
  tests/test_solver_jacobians.cpp
Due: none

chore: exclude CMakeFiles from source style checks
  COMMIT_MSG.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/runs/network_solver_benchmark_20260320_135221Z.json
  scripts/check-source-style.sh
Due: none

fix: resolve compressible solver regression and improve Jacobian coverage (#56)
  .windsurf/workflows/commit-only.md
  COMMIT_MSG.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/benchmarks.py
  benchmarks/network_solver_benchmark_latest.json
  benchmarks/runs/network_solver_benchmark_20260320_104224Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104342Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104625Z.json
  benchmarks/runs/network_solver_benchmark_20260320_104646Z.json
  benchmarks/runs/network_solver_benchmark_20260320_105111Z.json
  benchmarks/runs/network_solver_benchmark_20260320_135221Z.json
  python/combaero/network/solver.py
  python/tests/test_network_jacobian.py
  scripts/benchmarks.py
  scripts/check-source-style.sh
  src/solver_interface.cpp
  tests/test_solver_jacobians.cpp
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: improve solver x0 mass-flow initialization for compressible networks
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: seed derived thermo state before initial residual scaling
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add optional incompressible warmstart init strategy
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: resolve NASA-9 validation test file-not-found error
  COMMIT_MSG.md
  cantera_validation_tests/test_nasa9_polynomials.py
Due: python-style-check, cantera-validation-tests

feat: add optional incompressible warmstart init strategy
  COMMIT_MSG.md
Due: none

feat: topology-aware solver initialization with optional incompressible warmstart (#57)
  COMMIT_MSG.md
  cantera_validation_tests/test_nasa9_polynomials.py
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix: upgrade pipe_residuals_and_jacobian test to central differences
  tests/test_solver_jacobians.cpp
Due: none

perf: tighten pipe Jacobian test tolerances after central difference upgrade
  tests/test_solver_jacobians.cpp
Due: none

perf: further tighten pipe Jacobian test tolerances to 1e-6
  tests/test_solver_jacobians.cpp
Due: none

feat: add 4 missing C++ Jacobian tests with tight tolerances
  tests/test_solver_jacobians.cpp
Due: none

Add Jacobian difference reporting and tighten tolerances
  JACOBIAN_IMPLEMENTATION_SUMMARY.md
  JACOBIAN_TOLERANCE_TIGHTENING.md
  docs/JACOBIAN_DIFFERENCE_REPORTING.md
  jacobian_baseline_current.csv
  jacobian_baseline_tightened.csv
  scripts/compare_jacobian_baseline.py
  scripts/demo_jacobian_diff_flag.py
  scripts/demo_jacobian_file_output.py
  tests/test_solver_jacobians.cpp
Due: none

feat: Add Jacobian difference reporting and tighten tolerances (#58)
  JACOBIAN_IMPLEMENTATION_SUMMARY.md
  JACOBIAN_TOLERANCE_TIGHTENING.md
  docs/JACOBIAN_DIFFERENCE_REPORTING.md
  jacobian_baseline_current.csv
  jacobian_baseline_tightened.csv
  scripts/compare_jacobian_baseline.py
  scripts/demo_jacobian_diff_flag.py
  scripts/demo_jacobian_file_output.py
  tests/test_solver_jacobians.cpp
Due: none

Add workflow improvements and housekeeping
  .windsurf/workflows/create-pr-and-monitor.md
  .windsurf/workflows/squash-merge-and-cleanup.md
  HEREDOC_ISSUES.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/runs/jacobian_test_20260320_193020Z.json
  benchmarks/runs/network_solver_benchmark_20260320_192447Z.json
  scripts/convert_jacobian_csv_to_json.py
  tests/test_solver_jacobians.cpp
Due: none

Add workflow improvements and housekeeping (#59)
  .windsurf/workflows/create-pr-and-monitor.md
  .windsurf/workflows/squash-merge-and-cleanup.md
  HEREDOC_ISSUES.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/runs/jacobian_test_20260320_193020Z.json
  benchmarks/runs/network_solver_benchmark_20260320_192447Z.json
  scripts/convert_jacobian_csv_to_json.py
  tests/test_solver_jacobians.cpp
Due: none

Remove all initial guesses from benchmark networks
  JACOBIAN_IMPLEMENTATION_SUMMARY.md
  JACOBIAN_TOLERANCE_TIGHTENING.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/benchmarks.py
  benchmarks/runs/network_solver_benchmark_20260320_195957Z.json
  jacobian_baseline_current.csv
  jacobian_baseline_tightened.csv
Due: none

Remove all initial guesses from benchmark networks (#60)
  JACOBIAN_IMPLEMENTATION_SUMMARY.md
  JACOBIAN_TOLERANCE_TIGHTENING.md
  benchmarks/NETWORK_SOLVER_BENCHMARK_HISTORY.md
  benchmarks/benchmarks.py
  benchmarks/runs/network_solver_benchmark_20260320_195957Z.json
  jacobian_baseline_current.csv
  jacobian_baseline_tightened.csv
Due: none

feat: add momentum chamber grid example with clean mach_number interface
  python/combaero/__init__.py
  python/examples/network_from_grid.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add momentum chamber grid example with clean mach_number interface (#61)
  python/combaero/__init__.py
  python/examples/network_from_grid.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat: add extract_complete_states method to NetworkSolver
  python/combaero/network/solver.py
Due: python-style-check, cantera-validation-tests, python-unit-tests
