Repository thiemom/combaero: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-style-check, cantera-validation-tests, python-unit-tests, thermo-header-check, common-names-check

python-style-check:
  name: Python style checks (ruff + ruff format + optional mypy)
  entry: bash -c './scripts/check-python-style.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cantera-validation-tests:
  name: Cantera Validation Tests
  entry: bash -c 'CANTERA_DATA="$PWD/cantera_validation_tests" ./.venv/bin/python -m pytest cantera_validation_tests -v --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

python-unit-tests:
  name: Python Unit Tests
  entry: bash -c './.venv/bin/python -m pytest python/tests/ -v'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

thermo-header-check:
  name: Thermo/Transport Header (generated file check)
  entry: bash -c './scripts/check-thermo-header.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

common-names-check:
  name: Common names completeness check
  entry: bash -c './scripts/check-common-names.sh'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(solver): outlet-referenced incompressible warm-start auto-retry (#221)
  CHANGELOG.md
  docs/API_PYTHON.md
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_network_compressible.py
  scripts/check-python-style.sh
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): stall-triggered handover from hybr to the LM fallback
  CHANGELOG.md
  python/combaero/network/solver.py
  python/tests/test_solver_timeout.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): stall-triggered handover from hybr to the LM fallback (#224)
  CHANGELOG.md
  python/combaero/network/solver.py
  python/tests/test_solver_timeout.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): stale-input cross-node edits, topology result invalidation, paste deep-clone
  CHANGELOG.md
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/hooks/useCopyPaste.ts
  gui/frontend/src/store/useStore.ts
Due: none

fix(gui): stale-input cross-node edits, topology result invalidation, paste deep-clone (#225)
  CHANGELOG.md
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/hooks/useCopyPaste.ts
  gui/frontend/src/store/useStore.ts
Due: none

chore(tests): share three-port solve, parallel pytest, CI coverage gaps
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  gui/frontend/src/store/useStore.test.ts
  pyproject.toml
  python/tests/test_multi_port_chamber.py
  python/tests/test_network_compressible.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(tests): share three-port solve, parallel pytest, CI coverage gaps (#226)
  .github/workflows/ci.yml
  .github/workflows/validation-tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  gui/frontend/src/store/useStore.test.ts
  pyproject.toml
  python/tests/test_multi_port_chamber.py
  python/tests/test_network_compressible.py
  uv.lock
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): promote outlet-ref retry via LM-phase stall detection; cold-only stall gates
  CHANGELOG.md
  docs/API_PYTHON.md
  gui/backend/schemas.py
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
  python/combaero/network/solver.py
  python/tests/test_gui_schemas.py
  python/tests/test_multi_port_chamber.py
  python/tests/test_network_compressible.py
  python/tests/test_solver_timeout.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(solver): promote outlet-ref retry via LM-phase stall detection; cold-only stall gates (#227)
  CHANGELOG.md
  docs/API_PYTHON.md
  gui/backend/schemas.py
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.ts
  python/combaero/network/solver.py
  python/tests/test_gui_schemas.py
  python/tests/test_multi_port_chamber.py
  python/tests/test_network_compressible.py
  python/tests/test_solver_timeout.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

exp(solver): phi flow-fraction closure prototype -- verdict: strong
  python/tests/experimental_phi_closure.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): MPCE impulse rows were residual-scaled as mass flows
  CHANGELOG.md
  python/combaero/network/solver.py
  python/tests/test_momentum_cv_vs_tee.py
  python/tests/test_multi_port_chamber.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(solver): MPCE impulse rows were residual-scaled as mass flows (#228)
  CHANGELOG.md
  python/combaero/network/solver.py
  python/tests/test_momentum_cv_vs_tee.py
  python/tests/test_multi_port_chamber.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): energy-consistency verification for v1 MPCE mirror roots
  CHANGELOG.md
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_multi_port_chamber.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): energy-consistency verification for v1 MPCE mirror roots (#229)
  CHANGELOG.md
  python/combaero/network/components.py
  python/combaero/network/solver.py
  python/tests/test_multi_port_chamber.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): constant-K junction model tier for the tee
  CHANGELOG.md
  docs/API_PYTHON.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  python/combaero/network/mpce_v2_element.py
  python/tests/test_constant_k_tee.py
  python/tests/test_gui_mpce_tee.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): constant-K junction model tier for the tee (#230)
  CHANGELOG.md
  docs/API_PYTHON.md
  gui/backend/graph_builder.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  python/combaero/network/mpce_v2_element.py
  python/tests/test_constant_k_tee.py
  python/tests/test_gui_mpce_tee.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(gui): retire the deprecated incompressible warm-start from the dropdown
  CHANGELOG.md
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.test.ts
  gui/frontend/src/store/useStore.ts
Due: none

fix(gui): retire the deprecated incompressible warm-start from the dropdown (#231)
  CHANGELOG.md
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/store/useStore.test.ts
  gui/frontend/src/store/useStore.ts
Due: none

chore: release v0.4.0
  CHANGELOG.md
  gui/pyproject.toml
Due: none

chore: release v0.4.0 (#232)
  CHANGELOG.md
  gui/pyproject.toml
Due: none

fix(ci): publish-gui.yml waits for the matching combaero release on PyPI
  .github/workflows/publish-gui.yml
  CHANGELOG.md
Due: none

fix(ci): publish-gui.yml waits for the matching combaero release on PyPI (#233)
  .github/workflows/publish-gui.yml
  CHANGELOG.md
Due: none

fix(network): move mynard2010 junction-loss model into combaero package
  CHANGELOG.md
  python/combaero/network/_mynard2010.py
  python/combaero/network/mpce_v2_element.py
  validation/junction/models/mynard2010.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(network): move mynard2010 junction-loss model into combaero package (#234)
  CHANGELOG.md
  python/combaero/network/_mynard2010.py
  python/combaero/network/mpce_v2_element.py
  validation/junction/models/mynard2010.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

fix(ci): harden publish-gui.yml against two more PyPI publish races
  .github/workflows/publish-gui.yml
  CHANGELOG.md
Due: none

fix(ci): harden publish-gui.yml against two more PyPI publish races (#235)
  .github/workflows/publish-gui.yml
  CHANGELOG.md
Due: none

docs: capture PyPI release lessons from the v0.4.0-v0.4.2 cycle
  CLAUDE.md
Due: none

docs: capture PyPI release lessons from the v0.4.0-v0.4.2 cycle (#236)
  CLAUDE.md
Due: none

feat(network): add EjectorElement (critical-mode supersonic ejector)
  CHANGELOG.md
  docs/API_PYTHON.md
  python/combaero/network/_ejector_huang1999.py
  python/combaero/network/components.py
  python/combaero/network/ejector_element.py
  python/combaero/network/solver.py
  python/tests/test_ejector_element.py
  python/tests/test_ejector_huang.py
  validation/ejector/README.md
  validation/ejector/__init__.py
  validation/ejector/data/__init__.py
  validation/ejector/data/generate_gamma.py
  validation/ejector/data/generate_reference.py
  validation/ejector/data/huang1999_reference.json
  validation/ejector/data/huang1999_reference_data.h
  validation/ejector/data/huang1999_tables.py
  validation/ejector/models/__init__.py
  validation/ejector/models/huang1999.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): add EjectorElement (critical-mode supersonic ejector) (#252)
  CHANGELOG.md
  docs/API_PYTHON.md
  python/combaero/network/_ejector_huang1999.py
  python/combaero/network/components.py
  python/combaero/network/ejector_element.py
  python/combaero/network/solver.py
  python/tests/test_ejector_element.py
  python/tests/test_ejector_huang.py
  validation/ejector/README.md
  validation/ejector/__init__.py
  validation/ejector/data/__init__.py
  validation/ejector/data/generate_gamma.py
  validation/ejector/data/generate_reference.py
  validation/ejector/data/huang1999_reference.json
  validation/ejector/data/huang1999_reference_data.h
  validation/ejector/data/huang1999_tables.py
  validation/ejector/models/__init__.py
  validation/ejector/models/huang1999.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): port ejector physics to C++ with analytic Jacobians
  CMakeLists.txt
  include/ejector.h
  scripts/derive_ejector_jacobian.py
  src/ejector.cpp
  tests/test_ejector_jacobians.cpp
  tests/test_ejector_physics.cpp
Due: cantera-validation-tests, python-unit-tests

feat(network): port ejector physics to C++ with analytic Jacobians (#253)
  CMakeLists.txt
  include/ejector.h
  scripts/derive_ejector_jacobian.py
  src/ejector.cpp
  tests/test_ejector_jacobians.cpp
  tests/test_ejector_physics.cpp
Due: cantera-validation-tests, python-unit-tests

feat(network): wire EjectorElement onto the C++ (f,J) path via pybind
  CHANGELOG.md
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/ejector_element.py
  python/tests/test_ejector_bindings.py
  python/tests/test_ejector_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(network): wire EjectorElement onto the C++ (f,J) path via pybind (#254)
  CHANGELOG.md
  python/combaero/_core.cpp
  python/combaero/_solver_tools.py
  python/combaero/network/ejector_element.py
  python/tests/test_ejector_bindings.py
  python/tests/test_ejector_element.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): wire EjectorElement end-to-end into the GUI
  CHANGELOG.md
  docs/GUI_TECHNICAL.md
  gui/backend/graph_builder.py
  gui/backend/runner.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/components/nodes/EjectorNode.tsx
  gui/frontend/src/utils/validation.ts
  python/combaero/network/ejector_element.py
  python/tests/test_ejector_element.py
  python/tests/test_gui_ejector.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

feat(gui): wire EjectorElement end-to-end into the GUI (#259)
  CHANGELOG.md
  docs/GUI_TECHNICAL.md
  gui/backend/graph_builder.py
  gui/backend/runner.py
  gui/backend/schemas.py
  gui/frontend/src/components/Inspector.tsx
  gui/frontend/src/components/NetworkCanvas.tsx
  gui/frontend/src/components/Sidebar.tsx
  gui/frontend/src/components/flowTypes.ts
  gui/frontend/src/components/nodes/EjectorNode.tsx
  gui/frontend/src/utils/validation.ts
  python/combaero/network/ejector_element.py
  python/tests/test_ejector_element.py
  python/tests/test_gui_ejector.py
Due: python-style-check, cantera-validation-tests, python-unit-tests

chore(gui): sync biome pin to 2.5.9
  .pre-commit-config.yaml
  biome.json
Due: none

docs(changelog): note Biome 2.5.9 pin sync
  CHANGELOG.md
Due: none

docs(changelog): note Biome 2.5.9 pin sync (#260)
  CHANGELOG.md
Due: none

docs(ejector): capture operating-regime findings and design
  CHANGELOG.md
  include/ejector.h
  python/combaero/network/_ejector_huang1999.py
  python/combaero/network/ejector_element.py
  validation/ejector/OPERATING_REGIMES_DESIGN.md
  validation/ejector/README.md
Due: python-style-check, cantera-validation-tests, python-unit-tests

Path conditions:
  python-style-check: any of: ^(python/|cantera_validation_tests/|thermo_data_generator/)
  cantera-validation-tests: any of: ^(src/|include/|python/|cantera_validation_tests/)
  python-unit-tests: any of: ^(src/|include/|python/)
  thermo-header-check: any of: ^(thermo_data_generator/|include/thermo_transport_data\.h)
  common-names-check: any of: ^include/(thermo_transport_data|common_names)\.h$
